{% extends 'modal_base.html' %}

{% block title %}
Create new group?
{% endblock title %}

{% block content %}
<input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />

<div class="jb-container">
  <div class="{% if form.non_field_errors %}invalid{% endif %}">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>

  <div class="jb-modal-field">
    {{ form.name }}
  </div>

  <div class="jb-modal-field">
    {{ form.description }}
  </div>

  <div>
    {{ form.users }}
  </div>

  <div>
    {{ form.access_level }}
  </div>
</div>
{% endblock content %}

{% block action_button %}
<button type="submit" class="jb-submit-button-1">Create</button>
{% endblock action_button %}


{% block extrascripts %}
<script>
  users_autocomplete("id_users");
  $('#id_users').select2({
    width: '100%',
    placeholder: 'Search for a user',
    minimumInputLength: 1,
    dropdownParent: $('#id-modal')
  });
</script>
{% endblock extrascripts %}