{% extends "modal_base.html" %}


{% block title %}
Request to join group
{% endblock title %}


{% block content %}
<div class="jb-modal-field">
  <div class="{% if form.non_field_errors %}invalid{% endif %}">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>

  <div>
    Send request to join the group named <strong>{{ sledgroup.name }}</strong>?
  </div>

  <div>
    {{ form.justification }}
  </div>
</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">Send</button>
{% endblock action_button %}