{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">
  <h1 class="jb-heading-1">My Groups</h1>
  {% if groups %}
  <table class="jb-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Number of members</th>
      </tr>
    </thead>

    <tbody>
      {% for group in groups %}
      <tr>
        <td><a href="{{ group.get_absolute_url }}">{{group.name}}</td>
        <td>{{ group.description }}</td>
        <td>{{ group.owner }}</td>
        <td>{{ group.user_set.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No groups to show
  </p>
  {% endif %}

  <button type="button" id="create-new-group" class="jb-button-1" data-form-url="{% url 'sled_groups:group-add' %}">
    <img src="{% static 'icons/plus.svg' %}">
    Create new group
  </button>
</div>
{% endblock content %}


{% block extrastyles %}
<!-- THe line below is to style the drop down auto-complete text input -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'lenses/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_groups/js/group_list.js' %}"></script>
{% endblock extrascripts %}
