{% extends "modal_base.html" %}

{% block title %}
{% if view.kwargs.mode == 'add' %}
Add new members to the group
{% else %}
Remove members from the group
{% endif %}
 {{ sledgroup.name }}?
{% endblock title %}


{% block content %}
<input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />

<div class="{% if form.non_field_errors %}invalid{% endif %}">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>

<div>
  {{ form.users }}
</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="btn btn-sm btn-primary">
  {% if view.kwargs.mode == 'add' %}
  Add users
  {% else %}
  Remove users
  {% endif %}
</button>
{% endblock action_button %}


{% block extrascripts %}
<script>
  users_autocomplete('id_users');
  $('#id_users').select2({
      width: '100%',
      placeholder: 'Search for a user',
      minimumInputLength: 1,
      dropdownParent: $('#id-modal')
  });
</script>
{% endblock extrascripts %}
