{% extends "modal_base.html" %}

{% block title %}
{% if view.kwargs.mode == 'add' %}
Add new members to the group
{% else %}
Remove members from the group
{% endif %}
{{ sledgroup.name }}?
{% endblock title %}


{% block content %}
<div class="jb-container-modal">

  <input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />

  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="jb-modal-field">
    {{ form.users }}
  </div>
</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  {% if view.kwargs.mode == 'add' %}
  <img src="{% static 'icons/person-plus-fill.svg' %}" >
  Add users
  {% else %}
  <img src="{% static 'icons/person-dash-fill.svg' %}" >
  Remove users
  {% endif %}
</button>
{% endblock action_button %}


{% block extrascripts %}
<script>
  users_autocomplete('id_users');
  $('#id_users').select2({
    width: '100%',
    placeholder: 'Search for a user',
    minimumInputLength: 1,
    dropdownParent: $('#id-modal')
  });
</script>
{% endblock extrascripts %}
