{% extends "modal_base.html" %}

{% block title %}
{% if form.mode.value == 'add' %}
Add new members to the group
{% else %}
Remove members from the group
{% endif %}
{% endblock title %}


{% block content %}
<input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />

<div>
  {{ form.users }}
</div>

{{ form.group_id }}
{{ form.mode }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="btn btn-sm btn-primary">
  {% if form.mode.value == 'add' %}
  Add users
  {% else %}
  Remove users
  {% endif %}
</button>
{% endblock action_button %}


{% block extrascripts %}
<script>
  users_autocomplete('id_users');
  $('#id_users').select2({
      width: '100%',
      placeholder: 'Search for a user',
      minimumInputLength: 1,
      dropdownParent: $('#id-modal')
  });
</script>
{% endblock extrascripts %}
