{% extends 'master_header.html' %}
{% load static %}
{% load sled_group_extras %}
{% load activity_tags %}


{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">
  <h1 class="jb-heading-1">{{ group.name }}</h1>
  <p style="margin-bottom:2px">
    Created at: {{ group.created_at }}
  </p>

  <!-- Recent activity div -->
  <div class="jb-activity">
    {% activity_stream 'target' group %}
    {% include "activity_object.html" with stream=stream max_entries=5 %}
    {% if stream|length > 5 %}
    <a href="#myModal" data-toggle="modal" data-target="#myModal">Display all activity</a>
    {% include "activity_object_modal.html" with stream=stream %}
    {% endif %}
  </div>

  <!-- Div with some information about the group -->
  <div>
    <h1 class="jb-heading-2">Group Information</h1>
    <table>
      <tr>
        <th>Owner</th>
        <th>Number of members</th>
        <th>Access to private objects</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><a href="{{ group.owner.get_absolute_url }}">{{ group.owner }}</a></td>
        <td>{{ group.user_set.all|length }}</td>
        <td>Coming soon</td>
        <td>{{ group.description }}</td>
      </tr>
    </table>
  </div>
  

  <!-- Div with different actions depending on if the user is owner, member, or neither -->
  <div>
    {% if user == group.owner %}

    <button type="button" id="delete-group" class="jb-submit-button-1" data-form-url="{% url 'sled_groups:group-delete' group.pk %}">
      <img src="{% static 'icons/trash.svg' %}">
      Delete
    </button>
    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_groups:group-update' group.pk %}">
      <img src="{% static 'icons/pencil.svg' %}">
      Update
    </button>
    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_groups:group-cede-ownership' group.pk %}">
      <img src="{% static 'icons/forward-fill.svg' %}">
      Cede ownership
    </button>
    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_groups:group-add-members' group.pk %}">
      <img src="{% static 'icons/person-plus-fill.svg' %}">
      Add members
    </button>
    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_groups:group-remove-members' group.pk %}">
      <img src="{% static 'icons/person-dash-fill.svg' %}">
      Remove members
    </button>

    {% elif request.user|has_group:group.name %}

    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_groups:group-leave' group.pk %}">
      <img src="{% static 'icons/door-open-fill.svg' %}">
      Leave group
    </button>

    {% else %}

    <button type="button" id="ask-to-join-group" class="jb-submit-button-1" data-form-url="{% url 'sled_groups:group-ask-to-join' group.id %}">
      Join
    </button>

    {% endif %}
  </div>



  <!-- List sensitive group details (group members, activity stream, access to objects, etc) -->
  {% if user == group.owner or request.user|has_group:group.name %}
  <div>
    <h1 class="jb-heading-2">List of Group Members</h1>
    <table>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Affiliation</th>
      </tr>
      {% for member in group.getAllMembers %}
      <tr>
        <td><a href="{{member.get_absolute_url}}">{{member.username}}</a></td>
        <td>{{member.first_name}}</td>
        <td>{{member.last_name}}</td>
        <td>{{member.affiliation}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <h1 class="jb-heading-2">List group access to various object types and collections</h1>
  (coming soon)
  {% endif %}
  <br></br>
  <br></br>
</div>


{% endblock content %}


{% block extrastyles %}
<!-- THe line below is to style the drop down auto-complete text input -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'lenses/js/autocomplete.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {

    // Modals
    $('#delete-group').modalForm({
      formURL: $('#delete-group').data("form-url"),
      modalID: "#id-modal",
      isDeleteForm: true
    });

    $(".sled-modal").each(function() {
      $(this).modalForm({
        formURL: $(this).data("form-url"),
        modalID: "#id-modal"
      });
    });

    $("#ask-to-join-group").modalForm({
      formURL: $("#ask-to-join-group").data("form-url"),
      modalID: "#id-modal"
    });
  });
</script>
{% endblock extrascripts %}
