{% extends "master_header.html" %}
{% load static %}

{% block content %}

<section>
  <div class="jb-container">
    <div class="jb-homepage-left-text">
      <h1 class="jb-heading-1">Welcome to the Strong Lensing Database</h1>
      <div class="jb-activity">
	{% include "activity_container.html" with stream=stream %}
      </div>
    </div>
    <div class="jb-homepage-right-image">
      <img src="{% static 'images/JB_Homepage_Grid.png' %}">
    </div>
    <img src="{% static 'images/JB_Homepage_EPFL.png' %}" loading="lazy" width="100" alt="">
    <img src="{% static 'images/JB_Homepage_ERC.png' %}" loading="lazy" width="75" alt="">
    <img src="{% static 'images/JB_Homepage_EU.png' %}" loading="lazy" height="65" alt="">
  </div>
</section>

{% endblock %}
