{% load static %}
{% load project_tags %}


{% if stream %}


<table class="jb-activity">
  <tbody>
    
    {% with  activityCount=max_entries|stringformat:"s" %}
    {% with  activitySlice=":"|add:activityCount %}

    {% for action in stream|slice:activitySlice %}
    {% with N=action.action_object.myitems.all|length %}
    <tr>
      <td>
	<div data-index="{{ forloop.counter0 }}" style="display:inline-block;">
	  {% if action.data.level == "info" %}
	  <img src="{% static 'icons/info-circle-fill.svg' %}" class="filter-info2 jb-alert-icon">
	  {% elif action.data.level == "success" %}
	  <img src="{% static 'icons/check-circle-fill.svg' %}" class="filter-success2 jb-alert-icon">
	  {% elif action.data.level == "error" %}
	  <img src="{% static 'icons/x-circle-fill.svg' %}" class="filter-error2 jb-alert-icon">
	  {% elif action.data.level == "warning" %}
	  <img src="{% static 'icons/exclamation-triangle-fill.svg' %}" class="filter-warning2 jb-alert-icon">
	  {% else %}
	  {{ action.data.level }}
	  {% endif %}


	  
          {% if action.verb == "AddHome" %}
	  {% if N > 1 %}
	  <a href="{{ action.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> were
	  {% else %}
	  {% with action.action_object.myitems.all|first as item %}
	  <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a> was
	  {% endwith %}
	  {% endif %}
	  added by {{ action.actor.id|get_user_link|safe }}


	  {% elif action.verb == "CedeOwnershipHome" %}
	  {% if N > 1 %}
	  <a href="{{ action.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a>
	  {% else %}
	  {% with action.action_object.myitems.all|first as item %}
	  <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	  {% endwith %}
	  {% endif %}	  
	  changed owner from {{ action.data.previous_id|get_user_link|safe }} to {{ action.data.next_id|get_user_link|safe }}


	  {% elif action.verb == "UpdateHome" %}
	  {% if N > 1 %}
	  <a href="{{ action.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> were
	  {% else %}
	  {% with action.action_object.myitems.all|first as item %}
	  <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a> was
	  {% endwith %}
	  {% endif %}	  
	  updated by {{ action.actor.id|get_user_link|safe }}


	  {% elif action.verb == "AcceptNewUserHome" %}
	  User {{ action.action_object.id|get_user_link|safe }} ({{ action.action_object.first_name }} {{ action.action_object.last_name }}) joined SLED
	  

	  {% elif action.verb == "MadePublicHome" %}
	  {% if N > 1 %}
	  <a href="{{ action.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %} were
	  {% else %}
	  {% with action.action_object.myitems.all|first as item %}
	  <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a> was
	  {% endwith %}
	  {% endif %}	  
	  made public by {{ action.actor.id|get_user_link|safe }}

	  
	  {% endif %}
          {{ action.timestamp|timesince }} ago
	</div>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    {% endwith %}
  </tbody>
</table>

{% else %}
<p class="jb-homepage-activity">No activity to display</p>
{% endif %}

