{% extends "master_header.html" %}
{% load static %}
{% load activity_tags %}

{% block content %}

<section>
  <div class="jb-container">

    <table class="main-layout">
      <tr>
	<td>
	  <div class="jb-homepage-left-text">
	    <h1 class="jb-heading-1" class="main-title">Welcome to the <br> Strong Lensing Database</h1>
	    
	    <!-- Recent activity div -->
	    <div class="jb-activity">
	      {% include "sled_home/activity_home.html" with stream=stream max_entries=10 %}
	      {% if stream|length > 10 %}
	      <a href="{% url 'sled_home:activity-home-detailed'%}">Display all activity</a>
	      {% endif %}
	    </div>
	    
	  </div>
	</td>
	
	<td>
	  <div class="jb-homepage-right-image">
	    <img src="{% static 'images/JB_Homepage_Grid.png' %}">
	  </div>
	</td>

      <tr>
	<td colspan="2">
	  <div class="footer-container">
	    <img src="{% static 'images/amnh.png' %}" loading="lazy" width="200" alt="">
	    <img src="{% static 'images/JB_Homepage_ERC.png' %}" loading="lazy" width="75" alt="">
	    <img src="{% static 'images/JB_Homepage_EU.png' %}" loading="lazy" height="65" alt="">
	  </div>
	</td>
      </tr>
    </table>
    
  </div>
</section>

{% endblock %}


{% block extrastyles %}
<link href="{% static 'sled_home/css/home_index.css' %}" rel="stylesheet" />
{% endblock extrastyles %}
