{% extends 'master_header.html' %}
{% load static %}
{% load sled_user_extras %}

{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">

  <div class="jb-table-no-lines">
    <table>
      <tr>
	<td>
	  <h1 class="jb-heading-1">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
	  <p class="joined-on">
	    Joined on {{ user.date_joined }}, last login {{ user.last_login|timesince }} ago
	  </p>
	</td>
	<td valign="bottom" align="right">
	  <img src="{{ user.avatar }}" loading="lazy" width="100" class="jb-avatar" />
	</td>
      </tr>
    </table>
  </div>
  
  
  
  
  <div>
    <h1 class="jb-heading-2">Notifications, Tasks, and Updates</h1>

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-0">
      <h1 class="jb-heading-2">
	<label for="faq-0">
	  User Information
	</label>
      </h1>
      <div class="p">
	<br>
	<table>
          <thead>
            <tr>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Affiliation</th>
	      <th>Email</th>
	      <th>Homepage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
	      <td>{{ user.first_name }}</td>
	      <td>{{ user.last_name }}</td>
	      <td>{{ user.affiliation }}</td>
	      <td>{{ user.email }}</td>
	      <td><a href="{{ user.homepage }}">{{ user.homepage }}</a></td>
            </tr>
          </tbody>
	</table>
	<table>
          <thead>
            <tr>
	      <th class="slack-display-name">SLACK display name</th>
	      <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
	      <td>{{ user.slack_display_name }}</td>
	      <td>{{ user.info }}</td>
            </tr>
          </tbody>
	</table>
	<button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_users:user-update' user.pk %}">
	  <img src="{% static 'icons/pencil.svg' %}">
	  Update
	</button>
	<br>
	<br>
      </div>
    </div>
    

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-4">
      <h1 class="jb-heading-2">
	<label for="faq-4">
	  Pending Tasks
	  {% if N_tasks > 0 %}
	  <span class="jb-important-text">
	  &nbsp; - you have <b>{{N_tasks}}</b> new pending {{ N_tasks|pluralize:"task,tasks" }}!
	  </span>
	  {% endif %}
	</label>
      </h1>
      <div class="p">
	<br>
	{% if N_tasks > 0 %}
	{% include 'sled_tasks/task_list_pending.html' with pending=pending_tasks user=user %}
	{% else %}
	<p class="jb-paragraph-2">No pending tasks</p>
	{% endif %}
	<a href="{% url 'sled_tasks:tasks-list' %}">See all tasks</a>
	<br>
	<br>
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-7">
      <h1 class="jb-heading-2">
	<label for="faq-7">
	  Notifications
	  {% if N_note_unread > 0 %}
	  <span class="jb-important-text">
	  &nbsp; - you have <b>{{N_note_unread}}</b> unread {{ N_note_unread|pluralize:"notification,notifications" }}!
	  </span>
	  {% endif %}
	</label>
      </h1>
      <div class="p jb-table-no-lines">
	<br>
	{% if N_note_unread > 0 %}
	{% include "notifications_container.html" with notifications=unread_notifications %}
	{% else %}
	<p class="jb-paragraph-2">No new notifications</p>
	{% endif %}
	<a href="{% url 'sled_notifications:notifications-list' %}">See all notifications</a>
	<br>
	<br>
      </div>
    </div>
    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-6">
      <h1 class="jb-heading-2">
	<label for="faq-6">
	  Following lenses ({{ followed_lenses|length }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if followed_lenses|length == 0 %}
	<p>
	  You are not following any lenses!
	</p>
	{% else %}
	<p>
	  You are following <a href="{% url 'sled_users:user-following' %}">{{ followed_lenses|length }} {{followed_lenses|length|pluralize:"Lens,Lenses"}}</a>
	</p>	
	<br>
	{% if lenses_with_updates %}
	<h1 class="jb-heading-3 white-bg">Lenses with activity since last login:</h1>
	<div>
	  {% for item in lenses_with_updates %}
	  <div class="jb-active-lens">{{ item.lens }} <span class="badge badge-warning">{{ item.N }}</span></div>	    
	  {% endfor %}
	</div>
	<br>
	<br>
	<br>
	{% endif %}
	<h1 class="jb-heading-3 white-bg">Follow stream:</h1>
	<div class="jb-activity jb-table-no-lines">
	  {% include "activity_object.html" with stream=ordered_actions show_item_type='Lenses' %}
	</div>
	{% endif %}
	<br>
	<br>
      </div>
    </div>

  </div>



  
  <div class="margin-top">
    <h1 class="jb-heading-2">Database Management</h1>
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-3">
      <h1 class="jb-heading-2">
	<label for="faq-3">
	  My Queries ({{N_queries}})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if N_queries %}
	<table>
          <thead>
            <tr>
	      <th>Name</th>
	      <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for q in queries %}
            <tr>
	      <td><a href="{{ q.get_GET_url }}">{{q.name}}</td>
	      <td>{{q.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>
	{% else %}
	<p class="jb-paragraph-2">No queries to display</p>
	{% endif %}
	<a href="{% url 'sled_queries:queries-list' %}">See all queries</a>
	<br>
	<br>
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-5">
      <h1 class="jb-heading-2">
	<label for="faq-5">
	  My Collections ({{ collections|length }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if collections %}
	<table>
          <thead>
            <tr>
	      <th>Name</th>
	      <th>Type</th>
	      <th>Description</th>
	      <th>N. of items</th>
            </tr>
          </thead>
          <tbody>
            {% for collection in collections %}
            <tr>
	      <td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
	      <td>{{ collection.item_type }}</td>
	      <td>{{ collection.description }}</td>
	      <td>{{ collection.myitems.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>
	{% else %}
	<p class="jb-paragraph-2">No collections to display</p>
	{% endif %}
	<a href="{% url 'sled_collections:collections-list' %}">See all collections</a>
	<br>
	<br>
      </div>
    </div>

    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-2">
      <h1 class="jb-heading-2">
	<label for="faq-2">
	  My Groups ({{N_groups}})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if N_groups %}
	<table>
          <thead>
            <tr>
	      <th>Name</th>
	      <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
	      <td><a href="{{ group.get_absolute_url }}">{{group.name}}</td>
	      <td>{{group.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>
	{% else %}
	<p class="jb-paragraph-2">No groups to display</p>
	{% endif %}
	<a href="{% url 'sled_groups:group-list' %}">See all groups</a>
	<br>
	<br>
      </div>
    </div>



    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="papers">
      <h1 class="jb-heading-2">
	<label for="papers">
	  My Papers ({{N_papers}})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if N_papers %}
	<table>
          <tbody>
            {% for paper in papers %}
            <tr>
	      <td><a href="{% url 'sled_papers:paper-detail' pk=paper.pk %}">{{paper.cite_as}}</td>
	      <td>{{paper.title}}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>
	{% else %}
	<p class="jb-paragraph-2">No papers to display</p>
	{% endif %}
	<a href="{% url 'sled_papers:paper-list' %}">See all papers</a>
	<br>
	<br>
      </div>
    </div>



    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="lenses">
      <h1 class="jb-heading-2">
	<label for="lenses">
	  My Lenses ({{ N_lenses_total }})
	</label>
      </h1>
      <div class="p">

	<form id="lenses-form" class="ids-form" method="POST">
          {% csrf_token %}

	  <div>
	    {% include "pagination_top.html" with qset=lenses request=request qset_range=lenses_range qset_total=N_lenses_total target="lenses" %}
	    {% include "lenses/lens_list_executive.html" with lenses=lenses %}
	    {% include "pagination_bottom.html" with qset=lenses request=request qset_range=lenses_range qset_total=N_lenses_total target="lenses" %}
	  </div>

	  <div>
	    <button type="submit" class="jb-submit-button-1" form="lenses-form" formaction="{% url 'lenses:lens-update' %}">
	      <img src="{% static 'icons/pencil.svg' %}">
	      Update
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}">
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}">
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'lenses:lens-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" id="make-collection" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-create' 'Lenses' %}">
	      <img src="{% static 'icons/folder-fill.svg' %}"> 
	      Make collection
	    </button>
	    <button type="button" id="add-to-collection" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-add-items' 'Lenses' %}">
	      <img src="{% static 'icons/folder-plus.svg' %}">
	      Add to collection
	    </button>
    
	    <!-- The buttons below should be hidden as extra actions -->
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'lenses:lens-delete' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	</form>
	<br>
	<br>
      </div>
    </div>



    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="imagings">
      <h1 class="jb-heading-2">
	<label for="imagings">
	  My Imaging data ({{ N_imagings_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if imagings|length == 0 %}
	No Imaging data owned
	{% else %}
	<form id="imaging-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=imagings request=request qset_range=imagings_range qset_total=N_imagings_total target="imagings" %}

	    <input name="obj_type" type="hidden" value="Imaging" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th>Lens</th>
		  <th>Instrument</th>
		  <th>Band</th>
		  <th>Date taken</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for imaging in imagings %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ imaging.id }}"></td>
		  <td class="align-center" valign="'middle">
		    {% if imaging.future %}
		    Future
		    {% else %}
		    <img class="sled-mugshot-icon" src="{{ imaging.image.url }}">
		    {% endif %}
		  </td>
		  <td>
		    <a href="{{ imaging.lens.get_absolute_url }}">{{ imaging.lens.name }}</a>
		    {% if imaging.is_orphan %}
		    <span class="jb-bold jb-color-red">DELETED</span>
		    {% else %}
		    {% can_access imaging.lens user as flag %}
		    {% if not flag %}
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'lenses:lens-ask-access' imaging.lens.pk %}">
		      <img src="{% static 'icons/send-fill.svg' %}">
		      Ask access
		    </button>
		    {% endif %}
		    {% endif %}
		  </td>
		  <td>{{ imaging.instrument.name }}</td>
		  <td>{{ imaging.band.name }}</td>
		  <td>{{ imaging.date_taken }}</td>
		  <td class="access-level">{{ imaging.access_level }}</td>
		  <td>
		    {{ imaging.getUsersWithAccessNoOwner|join:"," }} - <em>{{ imaging.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:imaging-update' imaging.id %}">
		      <img src="{% static 'icons/pencil.svg' %}" >
		      Update
		    </button>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:imaging-detail' imaging.id %}">
		      <img src="{% static 'icons/eye-fill.svg' %}" >
		      View
		    </button>
		  </td>
		</tr>
		{% endfor %}
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=imagings request=request qset_range=imagings_range qset_total=N_imagings_total target="imagings" %}

	  <div>
	    <button type="submit" class="jb-submit-button-1" form="imaging-form" formaction="{% url 'sled_data:data-update-many' %}">
	      <img src="{% static 'icons/pencil.svg' %}" >
	      Update
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>

	</form>
	{% endif %}
	<br>
	<br>
	
	{% endif %}
	<br>
      </div>
    </div>





    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="spectra">
      <h1 class="jb-heading-2">
	<label for="spectra">
	  My Spectrum data ({{ N_spectra_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if spectra|length == 0 %}
	No Spectrum data owned
	{% else %}
	<form id="spectrum-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=spectra request=request qset_range=spectra_range qset_total=N_spectra_total target="spectra" %}

	    <input name="obj_type" type="hidden" value="Spectrum" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th>Lens</th>
		  <th>Instrument</th>
		  <th>Date taken</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for spectrum in spectra %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ spectrum.id }}"></td>
		  <td class="align-center" valign="'middle">
		    {% if spectrum.future %}
		    Future
		    {% else %}
		    <img class="sled-mugshot-icon" src="{{ spectrum.image.url }}">
		    {% endif %}
		  </td>
		  <td>
		    <a href="{{ spectrum.lens.get_absolute_url }}">{{ spectrum.lens.name }}</a>
		    {% if spectrum.is_orphan %}
		    <span class="jb-bold jb-color-red">DELETED</span>
		    {% else %}
		    {% can_access spectrum.lens user as flag %}
		    {% if not flag %}
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'lenses:lens-ask-access' spectrum.lens.pk %}">
		      <img src="{% static 'icons/send-fill.svg' %}">
		      Ask access
		    </button>
		    {% endif %}
		    {% endif %}
		  </td>
		  <td>{{ spectrum.instrument.name }}</td>
		  <td>{{ spectrum.date_taken }}</td>
		  <td class="access-level">{{ spectrum.access_level }}</td>
		  <td>
		    {{ spectrum.getUsersWithAccessNoOwner|join:"," }} - <em>{{ spectrum.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:spectrum-update' spectrum.id %}" data-sled-onload="set_modal_spectrum_update">
		      <img src="{% static 'icons/pencil.svg' %}" >
		      Update
		    </button>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:spectrum-detail' spectrum.id %}">
		      <img src="{% static 'icons/eye-fill.svg' %}" >
		      View
		    </button>
		  </td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=spectra request=request qset_range=spectra_range qset_total=N_spectra_total target="spectra" %}

	  <div>
	    <button type="submit" class="jb-submit-button-1" form="spectrum-form" formaction="{% url 'sled_data:data-update-many' %}">
	      <img src="{% static 'icons/pencil.svg' %}" >
	      Update
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>

	</form>
	{% endif %}
	<br>
	<br>
	
	{% endif %}
	<br>
      </div>
    </div>





    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="catalogues">
      <h1 class="jb-heading-2">
	<label for="catalogues">
	  My Catalogue data ({{ N_catalogues_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if catalogues|length == 0 %}
	No Catalogue data owned
	{% else %}
	<form id="catalogue-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=catalogues request=request qset_range=catalogues_range qset_total=N_catalogues_total target="catalogues" %}

	    <input name="obj_type" type="hidden" value="Catalogue" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th>Lens</th>
		  <th>Instrument</th>
		  <th>Band</th>
		  <th>Date taken</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for catalogue in catalogues %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ catalogue.id }}"></td>
		  <td class="align-center" valign="'middle">
		    {% if catalogue.future %}
		    Future
		    {% else %}
		    &nbsp;
		    {% endif %}
		  </td>
		  <td><a href="{{ catalogue.lens.get_absolute_url }}">{{ catalogue.lens.name }}</a></td>
		  <td>{{ catalogue.instrument.name }}</td>
		  <td>{{ catalogue.band.name }}</td>
		  <td>{{ catalogue.date_taken }}</td>
		  <td class="access-level">{{ catalogue.access_level }}</td>
		  <td>
		    {{ catalogue.getUsersWithAccessNoOwner|join:"," }} - <em>{{ catalogue.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:catalogue-update' catalogue.id %}">
		      <img src="{% static 'icons/pencil.svg' %}" >
		      Update
		    </button>
		  </td>
		  <td>
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_data:catalogue-detail' catalogue.id %}">
		      <img src="{% static 'icons/eye-fill.svg' %}" >
		      View
		    </button>
		  </td>
		</tr>
		{% endfor %}
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=catalogues request=request qset_range=catalogues_range qset_total=N_catalogues_total target="catalogues" %}

	  <div>
	    <button type="submit" class="jb-submit-button-1" form="catalogue-form" formaction="{% url 'sled_data:data-update-many' %}">
	      <img src="{% static 'icons/pencil.svg' %}" >
	      Update
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	  
	</form>
	{% endif %}
	<br>
	<br>
	
	{% endif %}
	<br>
      </div>
    </div>
    
    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="redshifts">
      <h1 class="jb-heading-2">
	<label for="redshifts">
	  My Redshifts ({{ N_redshifts_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if redshifts|length == 0 %}
	No Redshifts owned
	{% else %}
	<form id="redshift-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=redshifts request=request qset_range=redshifts_range qset_total=N_redshifts_total target="redshifts" %}
	    
	    <input name="obj_type" type="hidden" value="Redshift" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th>Mugshot</th>
		  <th>Lens</th>
		  <th>Value</th>
		  <th>Method</th>
		  <th>Linked Spectrum</th>
		  <th>Info</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th>&nbsp;</th>
		</tr>
	      </thead>
	      <tbody>
		{% for redshift in redshifts %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ redshift.id }}"></td>
		  <td><img class="sled-mugshot-icon" src="{{redshift.lens.mugshot.url}}"></td>
		  <td>
		    <a href="{{ redshift.lens.get_absolute_url }}">{{ redshift.lens }}</a>
		    {% if redshift.is_orphan %}
		    <span class="jb-bold jb-color-red">DELETED</span>
		    {% else %}
		    {% can_access redshift.lens user as flag %}
		    {% if not flag %}
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'lenses:lens-ask-access' redshift.lens.pk %}">
		      <img src="{% static 'icons/send-fill.svg' %}">
		      Ask access
		    </button>
		    {% endif %}
		    {% endif %}
		  </td>
		  <td class="padding-right">
		    Z<sub>{{ redshift.tag }}</sub> = {{ redshift.value.normalize }}<span class="supsub"><sub>-{{ redshift.dvalue_min.normalize }}</sub><sup>+{{ redshift.dvalue_max.normalize }}</sup></span>
		  </td>
		  <td>
		    {% if redshift.paper %}
		    <a href="{{ redshift.paper }}">{{ redshift.method }}</a>
		    {% else %}
		    {{ redshift.method }}
		    {% endif %}
		  </td>
		  <td>
		    {% if redshift.spectrum %}
		    <a href="{{ redshift.spectrum.get_absolute_url }}">
		      {{ redshift.spectrum }}
		    </a>
		    {% else %}
		    -
		    {% endif %}
		  </td>
		  <td>
		    {{ redshift.info }}
		  </td>
		  <td class="access-level">
		    {{ redshift.access_level }}
		  </td>
		  <td>
		    {{ redshift.getUsersWithAccessNoOwner|join:"," }} - <em>{{ redshift.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    {% if redshift.owner == user %}
		    <button type="button" class="sled-modal jb-overlay-button-1" data-form-url="{% url 'sled_data:redshift-update' redshift.id %}" data-sled-onload="set_modal_redshift_update">
		      <img src="{% static 'icons/pencil.svg' %}">
		      Update
		    </button>	
		    {% endif %}
		  </td>
		</tr>
		{% endfor %}
	      </tbody>
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=redshifts request=request qset_range=redshifts_range qset_total=N_redshifts_total target="redshifts" %}
	  
	  <div>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	  
	</form>
	{% endif %}
	<br>
	<br>
      
	{% endif %}
	<br>
      </div>
    </div>
  
  
  
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="generic-images">
      <h1 class="jb-heading-2">
	<label for="generic-images">
	  My Generic Images ({{ N_generic_image_total }})
	</label>
      </h1>
      <div class="p">
	<br>
	{% if user.is_superuser %}
	<p>
	  The admin owns all the automatically fetched data, which are too many to display here.
	  Instead, if the admin needs to update or delete data then they can do it at each lens detail page.
	</p>
	{% else %}
	
	{% if generic_images|length == 0 %}
	No Generic Images owned
	{% else %}
	<form id="generic-images-form" class="ids-form" method="POST">
          {% csrf_token %}
	  
	  <div>
	    {% include "pagination_top.html" with qset=generic_images request=request qset_range=generic_images_range qset_total=N_generic_images_total target="generic-images" %}
	    
	    <input name="obj_type" type="hidden" value="GenericImage" />
	    <table class="items-list">
	      <thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th>Lens</th>
		  <th>Name</th>
		  <th>Info</th>
		  <th>Access level</th>
		  <th>Accessible by</th>
		  <th>&nbsp;</th>
		</tr>
	      </thead>
	      <tbody>
		{% for generic_image in generic_images %}
		<tr>
		  <td><input name="ids" type="checkbox" value="{{ generic_image.id }}"></td>
		  <td><img class="sled-mugshot-icon" src="{{ generic_image.image.url }}"></td>
		  <td>
		    <a href="{{ generic_image.lens.get_absolute_url }}">{{ generic_image.lens }}</a>
		    {% if generic_image.is_orphan %}
		    <span class="jb-bold jb-color-red">DELETED</span>
		    {% else %}
		    {% can_access generic_image.lens user as flag %}
		    {% if not flag %}
		    <button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'lenses:lens-ask-access' generic_image.lens.pk %}">
		      <img src="{% static 'icons/send-fill.svg' %}">
		      Ask access
		    </button>
		    {% endif %}
		    {% endif %}
		  </td>
		  <td>
		    {{ generic_image.name }}
		  </td>
		  <td>
		    {{ generic_image.info }}
		  </td>
		  <td class="access-level">
		    {{ generic_image.access_level }}
		  </td>
		  <td>
		    {{ generic_image.getUsersWithAccessNoOwner|join:"," }} - <em>{{ generic_image.getGroupsWithAccessNoOwner|join:"," }}</em>
		  </td>
		  <td>
		    {% if generic_image.owner == user %}
		    <button type="button" class="sled-modal jb-overlay-button-1" data-form-url="{% url 'sled_data:generic-image-update' generic_image.id %}">
		      <img src="{% static 'icons/pencil.svg' %}">
		      Update
		    </button>	
		    {% endif %}
		  </td>
		</tr>
		{% endfor %}
	    </table>
	    <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
	    <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
	  </div>	 
	  {% include "pagination_bottom.html" with qset=generic_images request=request qset_range=generic_image_range qset_total=N_generic_image_total target="generic-images" %}
	  
	  <div>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-revoke-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-dash-fill.svg' %}" >
	      Revoke access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-give-access' %}" data-sled-onload="set_modal_so_give_revoke_access">
	      <img src="{% static 'icons/person-plus-fill.svg' %}" >
	      Give access
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-public' %}">
	      <img src="{% static 'icons/people-fill.svg' %}" >
	      Make public
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-make-private' %}">
	      <img src="{% static 'icons/lock-fill.svg' %}" >
	      Make private
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'so:so-cede-ownership' %}" data-sled-onload="set_modal_so_cede_ownership">
	      <img src="{% static 'icons/forward-fill.svg' %}" >
	      Cede ownership
	    </button>
	    <button type="button" class="sled-process-ids jb-submit-button-1" data-form-url="{% url 'sled_data:data-delete-many' %}">
	      <img src="{% static 'icons/trash.svg' %}" >
	      Delete
	    </button>
	  </div>
	  
	</form>
	{% endif %}
	<br>
	<br>
	
	{% endif %}
	<br>
      </div>
    </div>
    
    
    
    
    
  </div>
  
  
  
  
  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'sled_users/css/sled_users.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/set_help.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_users/js/sled_users.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_single_objects/js/so_cede_ownership.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_single_objects/js/so_give_revoke_access.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_data/js/redshift_update.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_data/js/spectrum_update.js' %}"></script>
<script type="text/javascript" nonce="{{request.csp_nonce}}">
  $(document).ready(function() {
      // Add line of last login in followed lens activity stream 
      $('.jb-activity table tbody tr').eq({{ N_last_login }}).before('<tr><td></td><td><span class="jb-important-text">Last login: {{ user.last_login }}</span></td></tr>');
  });
</script>
{% endblock extrascripts %}
