{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="jb-container">
  <div class="jb-float-child-1">
    <h1 class="jb-heading-1">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
  </div>
  <div class="jb-float-child-2">
    <img src="{% static 'images/JB_User_Icon.png' %}" loading="lazy" width="100" alt="" class="jb-image-2">
  </div>

  <div>
    <h1 class="jb-heading-2">
      User Details
    </h1>
    <div>
      <table>
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Affiliation</th>
            <th>Email</th>
            <th>Homepage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.affiliation }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{ user.homepage }}">{{ user.homepage }}</a></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ user.info }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>

{% endblock content %}