{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="jb-container">

  <div class="jb-float-child-1">
    <h1 class="jb-heading-1">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
  </div>
  <div class="jb-float-child-2">
    <img src="{% static 'images/JB_User_Icon.png' %}" loading="lazy" width="100" alt="" class="jb-image-2">
  </div>

  <div>
    <table class="dum">
      <tbody>
        <tr>
          <td>Affiliation:</td>
          <td>{{ user.affiliation }}</td>
	</tr>
	<tr>
          <td>Email:</td>
          <td>{{ user.email }}</td>
	</tr>
	<tr>
          <td>Homepage:</td>
          <td><a href="{{ user.homepage }}">{{ user.homepage }}</a></td>
	</tr>
	<tr>
	  <td>Information:</td>
	  <td>
	    <div class="user-info" style="width:80%;border:1px solid red">
	      {% if user.info|length > 0 %}
	      {{ user.info }}
	      {% else %}
	      -
	      {% endif %}
	    </div>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  
</div>
 
{% endblock content %}
