{% load static %}


<div class="jb-container">
  <table class="header-table">
    <tr>
      <td>
	<h1 class="jb-heading-1">
	  {{ sled_user.first_name }} {{ sled_user.last_name }} ({{ sled_user.username }})
	  {% if not sled_user.is_active %}
	  <span class="color-blue"> - Inactive</span>
	  {% endif %}
	</h1>
	<p>
	  Joined on {{ sled_user.date_joined }}, last login {{ sled_user.last_login|timesince }} ago
	</p>
	<span class="jb-important-text roles">
	  {{ sled_user.get_roles }}
	</span>

	{% if request.user.limitsandroles.is_super_admin %}
	<button type="button" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_limits:limits-and-roles-update' sled_user.pk %}">
	  <img src="{% static 'icons/cloud-arrow-down-fill.svg' %}">
	  Change limits and roles
	</button>
	{% endif %}
      </td>
      <td valign="bottom" align="right">
	<img src="{{ sled_user.avatar }}" loading="lazy" width="100" alt="" class="jb-avatar" />
      </td>
    </tr>
  </table>

  
  <div>
    <h1 class="jb-heading-2">User Information</h1>
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Affiliation</th>
          <th>Email</th>
          <th>Homepage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ sled_user.first_name }}</td>
          <td>{{ sled_user.last_name }}</td>
          <td>{{ sled_user.affiliation }}</td>
          <td>{{ sled_user.email|urlize }}</td>
          <td>{{ sled_user.homepage|urlize }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
	  <th class="slack-display-name">SLACK display name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	  <td>{{ sled_user.slack_display_name }}</td>
          <td>{{ sled_user.info }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>

