{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="jb-container">
  {% if unread|length > 0 %}
  <h1 class="jb-heading-1">New notifications</h1>
  {% include "notifications_container.html" with notifications=unread %}
  <h1 class="jb-heading-1">Past notifications</h1>
  {% include "notifications_container.html" with notifications=read %}
  {% else %}
  <h1 class="jb-heading-1">All notifications</h1>
  {% include "notifications_container.html" with notifications=read %}  
  {% endif %}
</div>
{% endblock content %}



{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster.bundle.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster-sideTip-shadow.min.css' %}" />
{% endblock extrastyles %}


{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){      
      $('.sled-open-tooltip').on("click",function(e){
	  e.preventDefault();
      });
      
      $('.sled-open-tooltip').each(function(){
          var mycontent = $(this).parent().children('.sled-notification-tooltip').html().trim();
	  $(this).tooltipster({
      	      position: 'right',
      	      theme: 'tooltipster-shadow',
      	      interactive: true,
      	      contentAsHTML: true,
      	      content: mycontent,
	      trigger: 'click'
          });
      });
  });
</script>
{% endblock extrascripts %}
