{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}

<div class="jb-container">
  {% if unread|length > 0 %}
  <h1 class="jb-heading-1">New notifications</h1>
  {% include "notifications_container.html" with notifications=unread %}
  <h1 class="jb-heading-1">Past notifications</h1>
  {% include "notifications_container.html" with notifications=read %}
  {% else %}
  <h1 class="jb-heading-1">All notifications</h1>
  {% include "notifications_container.html" with notifications=read %}  
  {% endif %}
</div>
{% endblock content %}



{% block extrastyles %}
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{% endblock extrascripts %}
