{% extends "modal_base.html" %}


{% block title %}
{% if request.resolver_match.url_name == 'query-save' %}
Save query
{% else %}
Update query
{% endif %}
{% endblock title %}


{% block content %}
<div class="jb-container">
  <div class="{% if form.non_field_errors %}invalid{% endif %}">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>

  {% for field in form %}
  <div>
    {{ field }}
  </div>
</div>
{% endfor %}
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  {% if request.resolver_match.url_name == 'query-save' %}
  Save
  {% else %}
  Update
  {% endif %}
</button>
{% endblock action_button %}