{% extends "modal_base.html" %}
{% load static %}

{% block title %}
{% if view.kwargs.mode == 'revoke' %}
Revoke access from Users and Groups?
{% else %}
Give access to Users and Groups?
{% endif %}
{% endblock title %}


{% block content %}
<div class="jb-container-modal">
  
  <input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />
  <input type="hidden" id="Urlgroups" data-url="{% url 'api:groups-view' %}" />

  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class=" jb-modal-field">
    {{ form.users }}
  </div>

  <div class="jb-modal-field">
    {{ form.groups }}
  </div>

  <div class="jb-modal-field jb-table-no-lines">
    <table>
      {% for item in items %}
      <tr>
	<td>
          {{ item }}
	</td>
	<td>
          {{ item.getUsersWithAccessNoOwner|join:"," }} - <em>{{ item.getGroupsWithAccessNoOwner|join:"," }}</em>
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {{ form.ids }}
  {{ form.obj_type }}

</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  {% if view.kwargs.mode == 'revoke' %}
  <img src="{% static 'icons/person-dash-fill.svg' %}">
  Revoke access
  {% else %}
  <img src="{% static 'icons/person-plus-fill.svg' %}">
  Give access
  {% endif %}
</button>
{% endblock action_button %}

