{% extends "modal_base.html" %}
{% load project_tags %}

{% block title %}
Make {% singular_or_plural form.obj_type.value items|length %} public?
{% endblock title %}

{% block content %}
<div class="jb-container-modal">

  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  <div class="jb-modal-field jb-table-no-lines">
    <table>
      {% for item in items %}
      <tr>
	<td>
          {{ item }}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  {{ form.ids }}
  {{ form.obj_type }}

</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  <img src="{% static 'icons/people-fill.svg' %}" >
  Make public
</button>
{% endblock action_button %}
