{% extends 'master_header.html' %}
{% block content %}

<div class="jb-container">
  <h1 class="jb-heading-1">Standardized queries</h1>

  <ul>
    <li>Get only quasars</li>
    <li>Get only contaminants</li>
    <li>Get only confirmed lenses</li>
    <li>Get the latest entries in the database</li>
    <li>other...</li>
  </ul>
</div>



<div class="jb-container">
  <h1 class="jb-heading-3">Collections</h1>

  <ul>
    <li>CASTLES</li>
    <li>SLACS</li>
    <li>TDcosmo</li>
    <li>HoliCow</li>
    <li>other...</li>
  </ul>
</div>

{% endblock content %}