{% extends 'master_header.html' %}
{% load static %}
{% load lenses_extras %}

{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">
  <h1 class="jb-heading-1">Query Lenses</h1>

  <div class="instructions">
    <p>
      Instructions for queries and joined queries.
    </p>
  </div>
  
  <div class="jb-table-no-lines2">
    <form id="lens-query" method="POST">
      {% csrf_token %}

      {% with fwe=forms_with_errors %}
      {% with fwf=forms_with_fields %}
      <ul class="nav nav-tabs" id="myTab">
	<li class="nav-item">
	  <button class="nav-link {% get_tab_active fwe fwf 'default' %}" id="default-tab" data-toggle="tab" data-target="#default" type="button">
	    Lens properties
	    {% if 'imaging' in fwe %}
	    <span class="badge badge-pill badge-danger"><img src="{% static 'icons/exclamation.svg' %}"></span>
	    {% elif 'imaging' in fwf %}
	    <span class="badge badge-pill badge-success"><img src="{% static 'icons/check.svg' %}"></span>
	    {% endif %}
	  </button>
	</li>
	<li class="nav-item">
	  <button class="nav-link {% get_tab_active fwe fwf 'imaging' %}" id="imaging-tab" data-toggle="tab" data-target="#imaging" type="button">
	    Imaging data
	    {% if 'imaging' in fwe %}
	    <span class="badge badge-pill badge-danger"><img src="{% static 'icons/exclamation.svg' %}"></span>
	    {% elif 'imaging' in fwf %}
	    <span class="badge badge-pill badge-success"><img src="{% static 'icons/check.svg' %}"></span>
	    {% endif %}
	  </button>
	</li>
	<li class="nav-item">
	  <button class="nav-link {% get_tab_active fwe fwf 'spectrum' %}" id="spectrum-tab" data-toggle="tab" data-target="#spectrum" type="button">
	    Spectra
	    {% if 'spectrum' in fwe %}
	    <span class="badge badge-pill badge-danger"><img src="{% static 'icons/exclamation.svg' %}"></span>
	    {% elif 'spectrum' in fwf %}
	    <span class="badge badge-pill badge-success"><img src="{% static 'icons/check.svg' %}"></span>
	    {% endif %}
	  </button>
	</li>
	<li class="nav-item">
	  <button class="nav-link {% get_tab_active fwe fwf 'catalogue' %}" id="catalogue-tab" data-toggle="tab" data-target="#catalogue" type="button">
	    Catalogue data
	    {% if 'catalogue' in fwe %}
	    <span class="badge badge-pill badge-danger"><img src="{% static 'icons/exclamation.svg' %}"></span>
	    {% elif 'catalogue' in fwf %}
	    <span class="badge badge-pill badge-success"><img src="{% static 'icons/check.svg' %}"></span>
	    {% endif %}
	  </button>
	</li>
	<li class="nav-item">
	  <button class="nav-link {% get_tab_active fwe fwf 'lensmodel' %}" id="lensmodel-tab" data-toggle="tab" data-target="#lensmodel" type="button">
	    Models
	  </button>
	</li>
      </ul>
      <div class="tab-content" id="myTabContent">

	<div class="data-form tab-pane fade show {% get_tab_active fwe fwf 'default' %}" id="default">
	  {% with form=lens_form %}

	  {% if form.non_field_errors|length > 0 %}
	  <div class="invalid jb-modal-field">
	    <ul>
	      {% for error in form.non_field_errors %}
	      <li>{{ error }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	  {% endif %}
	  
	  <table class="sled-lens-table">
            <tr>
              <td>
		
		<div class="sled-cone-box">
		  <ul class="nav nav-tabs" role="tablist">
		    <li class="nav-item">
		      <a class="nav-link active" data-toggle="tab" href="#home">Box search</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu1">Cone search</a>
		    </li>
		  </ul>
		  
		  <div class="tab-content taba">
		    <div id="home" class="tab-pane active"><br>
		      <table>
			<tr>
			  <td>{{ form.ra_min.errors }}</td>
			  <td>{{ form.ra_min }}</td>
                          <td>
			    <div class="sled-help-tooltip"><label>&lt; RA &lt;</label></div>
			    <div class="sled-help-tooltip-content">Set the min. and max. RA [degrees]</div>
			  </td>
			  <td>{{ form.ra_max }}</td>
			  <td>{{ form.ra_max.errors }}</td>
			</tr>
			<tr>
			  <td>{{ form.dec_min.errors }}</td>
			  <td>{{ form.dec_min }}</td>
                          <td>
			    <div class="sled-help-tooltip"><label>&lt; DEC &lt;</label></div>
			    <div class="sled-help-tooltip-content">Set the min. and max. DEC [degrees]</div>
			  </td>
			  <td>{{ form.dec_max }}</td>
			  <td>{{ form.dec_max.errors }}</td>
			</tr>
		      </table>  
		    </div>
		    
		    <div id="menu1" class="tab-pane"><br>  
		      <table>
			<tr>
                          <td>
			    <div class="sled-help-tooltip"><label>{{ form.ra_centre.label|safe }}</label></div>
			    <div class="sled-help-tooltip-content">{{ form.ra_centre.help_text }}</div>
			  </td>
			  <td>{{ form.ra_centre }}</td>
			  <td>{{ form.ra_centre.errors }}</td>
                          <td>
			    <div class="sled-help-tooltip"><label>{{ form.dec_centre.label|safe }}</label></div>
			    <div class="sled-help-tooltip-content">{{ form.dec_centre.help_text }}</div>
			  </td>
			  <td>{{ form.dec_centre }}</td>
			  <td>{{ form.dec_centre.errors }}</td>
			</tr>
			<tr>
                          <td>
			    <div class="sled-help-tooltip"><label>{{ form.radius.label }}</label></div>
			    <div class="sled-help-tooltip-content">{{ form.radius.help_text }}</div>
			  </td>
			  <td>{{ form.radius }}</td>
			  <td>{{ form.radius.errors }}</td>
			</tr>
		      </table>
		    </div>
		    
		  </div>
		</div>
		
		
		<table>
		  <tr>
                    <td>{{ form.n_img_min.errors }}</td>
                    <td>{{ form.n_img_min }}</td>
                    <td>
		      <div class="sled-help-tooltip"><label>&lt; N<sub>images</sub> &lt;</label></div>
		      <div class="sled-help-tooltip-content">Set the min. and max. number of images.</div>
		    </td>
                    <td>{{ form.n_img_max }}</td>
                    <td>{{ form.n_img_max.errors }}</td>
		  </tr>
		  <tr>
                    <td>{{ form.image_sep_min.errors }}</td>
                    <td>{{ form.image_sep_min }}</td>
                    <td>
		      <div class="sled-help-tooltip"><label>&lt; Separation &lt;</label></div>
		      <div class="sled-help-tooltip-content">Set the min. and max. image separation [arcsec].</div>
		    </td>
                    <td>{{ form.image_sep_max }}</td>
                    <td>{{ form.image_sep_max.errors }}</td>
		  </tr>
		  <tr>
                    <td>{{ form.z_lens_min.errors }}</td>
                    <td>{{ form.z_lens_min }}</td>
                    <td>
		      <div class="sled-help-tooltip"><label>&lt; Z<sub>lens</sub> &lt;</label></div>
		      <div class="sled-help-tooltip-content">Set the min. and max. lens redshift.</div>
		    </td>
                    <td>{{ form.z_lens_max }}</td>
                    <td>{{ form.z_lens_max.errors }}</td>
		  </tr>
		  <tr>
                    <td>{{ form.z_source_min.errors }}</td>
                    <td>{{ form.z_source_min }}</td>
                    <td>
		      <div class="sled-help-tooltip"><label>&lt; Z<sub>source</sub> &lt;</label></div>
		      <div class="sled-help-tooltip-content">Set the min. and max. source redshift.</div>
		    </td>
                    <td>{{ form.z_source_max }}</td>
                    <td>{{ form.z_source_max.errors }}</td>
		  </tr>
		  <tr>
                    <td>{{ form.score_min.errors }}</td>
                    <td>{{ form.score_min }}</td>
                    <td>
		      <div class="sled-help-tooltip"><label>&lt; Score &lt;</label></div>
		      <div class="sled-help-tooltip-content">Set the min. and max. score (between 0 and 3).</div>
		    </td>
                    <td>{{ form.score_max }}</td>
                    <td>{{ form.score_max.errors }}</td>
		  </tr>
		</table>
              </td>
	      
              <td>
		<table>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.flag_confirmed.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.flag_confirmed.help_text }}</div>
		    </td>
                    <td>{{ form.flag_confirmed }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.flag_unconfirmed.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.flag_unconfirmed.help_text }}</div>
		    </td>
                    <td>{{ form.flag_unconfirmed }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.flag_contaminant.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.flag_contaminant.help_text }}</div>
		    </td>
                    <td>{{ form.flag_contaminant }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.flag_uncontaminant.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.flag_uncontaminant.help_text }}</div>
		    </td>
                    <td>{{ form.flag_uncontaminant }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.lens_type.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.lens_type.help_text }}</div>
		    </td>
                    <td>{{ form.lens_type }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.source_type.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.source_type.help_text }}</div>
		    </td>
                    <td>{{ form.source_type }}</td>
		  </tr>
		  <tr>
                    <td>
		      <div class="sled-help-tooltip"><label>{{ form.image_conf.label }}</label></div>
		      <div class="sled-help-tooltip-content">{{ form.image_conf.help_text }}</div>
		    </td>
                    <td>{{ form.image_conf }}</td>
		  </tr>
		</table>
              </td>
	      
            </tr>
	  </table>
	  {{ form.page }}
	  {% endwith %}
	</div>
	
	<div class="data-form tab-pane fade {% get_tab_active fwe fwf 'imaging' %}" id="imaging">
	  {% with form=imaging_form %}
	  
	  {% if form.non_field_errors|length > 0 %}
	  <div class="invalid jb-modal-field">
	    <ul>
	      {% for error in form.non_field_errors %}
	      <li>{{ error }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	  {% endif %}
	  
	  <table class="data-form-table">
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.instrument }}</td>
	      <td>
		<div class="sled-help-tooltip" style="margin-top:0px;height:30px;">
		  <label>
		    <table>
		      <tr>
			<td>OR</td>
			<td>
			  <div class="switch">
			    {{ form.instrument_and }}
			    <span class="slider round"></span>
			  </div>
			</td>
			<td>AND</td>
		      </tr>
		    </table>
		  </label>
		</div>
		<div class="sled-help-tooltip-content">{{ form.instrument_and.help_text }}</div>
	      </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.band.label }}</td>
	      <td>{{ form.band }}</td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.future.label }}</td>
	      <td>{{ form.future }} </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>{{ form.date_taken_min.errors }}</td>
	      <td>{{ form.date_taken_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Date taken &lt;</label></div>
		<div class="sled-help-tooltip-content">Set a date range.</div>
	      </td>
	      <td>{{ form.date_taken_max }}</td>
	      <td>{{ form.date_taken_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.exposure_time_min.errors }}</td>
	      <td>{{ form.exposure_time_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Exposure time &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. exposure time [s].</div>
	      </td>
	      <td>{{ form.exposure_time_max }}</td>
	      <td>{{ form.exposure_time_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.pixel_size_min.errors }}</td>
	      <td>{{ form.pixel_size_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Pixel size &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. pixel size [arcsec].</div>
	      </td>
	      <td>{{ form.pixel_size_max }}</td>
	      <td>{{ form.pixel_size_max.errors }}</td>
	    </tr>
	  </table>
	  {% endwith %}
	</div>
	
	<div class="data-form tab-pane fade {% get_tab_active fwe fwf 'spectrum' %}" id="spectrum">
	  {% with form=spectrum_form %}
	  
	  {% if form.non_field_errors|length > 0 %}
	  <div class="invalid jb-modal-field">
	    <ul>
	      {% for error in form.non_field_errors %}
	      <li>{{ error }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	  {% endif %}
	  
	  <table class="data-form-table">
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.instrument }}</td>
	      <td>
		<div class="sled-help-tooltip" style="margin-top:0px;height:30px;">
		  <label>
		    <table>
		      <tr>
			<td>OR</td>
			<td>
			  <div class="switch">
			    {{ form.instrument_and }}
			    <span class="slider round"></span>
			  </div>
			</td>
			<td>AND</td>
		      </tr>
		    </table>
		  </label>
		</div>
		<div class="sled-help-tooltip-content">{{ form.instrument_and.help_text }}</div>
	      </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.future.label }}</td>
	      <td>{{ form.future }} </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>{{ form.date_taken_min.errors }}</td>
	      <td>{{ form.date_taken_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Date taken &lt;</label></div>
		<div class="sled-help-tooltip-content">Set a date range.</div>
	      </td>
	      <td>{{ form.date_taken_max }}</td>
	      <td>{{ form.date_taken_max.errors }}</td>		  
	    </tr>
	    <tr>
	      <td>{{ form.exposure_time_min.errors }}</td>
	      <td>{{ form.exposure_time_min }}</td>
	      <td>
		<div class="sled-help-tooltip"><label>&lt; Exposure time &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. exposure time [s].</div>
	      </td>
	      <td>{{ form.exposure_time_max }}</td>
	      <td>{{ form.exposure_time_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.wavelength_min.errors }}</td>
	      <td>{{ form.wavelength_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; &lambda; &lt;</label></div>
		<div class="sled-help-tooltip-content">Set a wavelength range [nm].</div>
	      </td>
	      <td>{{ form.wavelength_max }}</td>
	      <td>{{ form.wavelength_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.resolution_min.errors }}</td>
	      <td>{{ form.resolution_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Resolutiion &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. resolution [arcsec].</div>
	      </td>
	      <td>{{ form.resolution_max }}</td>
	      <td>{{ form.resolution_max.errors }}</td>
	    </tr>
	  </table>
	  {% endwith %}
	</div>
	
	<div class="data-form tab-pane fade {% get_tab_active fwe fwf 'catalogue' %}" id="catalogue">
	  {% with form=catalogue_form %}
	  
	  {% if form.non_field_errors|length > 0 %}
	  <div class="invalid jb-modal-field">
	    <ul>
	      {% for error in form.non_field_errors %}
	      <li>{{ error }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	  {% endif %}
	  
	  <table class="data-form-table">
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.instrument }}</td>
	      <td>
		<div class="sled-help-tooltip" style="margin-top:0px;height:30px;">
		  <label>
		    <table>
		      <tr>
			<td>OR</td>
			<td>
			  <div class="switch">
			    {{ form.instrument_and }}
			    <span class="slider round"></span>
			  </div>
			</td>
			<td>AND</td>
		      </tr>
		    </table>
		  </label>
		</div>
		<div class="sled-help-tooltip-content">{{ form.instrument_and.help_text }}</div>
	      </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.band.label }}</td>
	      <td>{{ form.band }}</td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>{{ form.future.label }}</td>
	      <td>{{ form.future }} </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
	    <tr>
	      <td>{{ form.date_taken_min.errors }}</td>
	      <td>{{ form.date_taken_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Date taken &lt;</label></div>
		<div class="sled-help-tooltip-content">Set a date range.</div>
	      </td>
	      <td>{{ form.date_taken_max }}</td>
	      <td>{{ form.date_taken_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.distance_min.errors }}</td>
	      <td>{{ form.distance_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Distance &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. distance from the lens [arcsec].</div>
	      </td>
	      <td>{{ form.distance_max }}</td>
	      <td>{{ form.distance_max.errors }}</td>
	    </tr>
	    <tr>
	      <td>{{ form.mag_min.errors }}</td>
	      <td>{{ form.mag_min }}</td>
              <td>
		<div class="sled-help-tooltip"><label>&lt; Mag &lt;</label></div>
		<div class="sled-help-tooltip-content">Set the min. and max. magnitudes.</div>
	      </td>
	      <td>{{ form.mag_max }}</td>
	      <td>{{ form.mag_max.errors }}</td>
	    </tr>
	  </table>
	  {% endwith %}
	</div>
	
	<div class="data-form tab-pane fade {% get_tab_active fwe fwf 'lensmodel' %}" id="lensmodel">
	  <div class="instructions">
	    <p>
	      Coming soon
	    </p>
	  </div>
	</div>
	
      </div>
      {% endwith %}
      {% endwith %}


      

    </form>
    <div>
      <button id="mysubmit" type="submit" class="jb-submit-button-1" form="lens-query">Submit</button>
      <button type="button" id="save-query" class="jb-submit-button-1" data-form-url="{% url 'sled_queries:query-save' %}">
	<img src="{% static 'icons/folder-fill.svg' %}">
	Save query
      </button>
    </div>
  </div>


  
  {% include "pagination_top.html" with qset=lenses request=request qset_range=lenses_range qset_total=lenses_count target="lenses" %}

  <div>
    <form id="ids-form" method="POST">
      {% csrf_token %}
      {% include "lenses/lens_query_list.html" with lenses=lenses %}
    </form>
  </div>

  {% include "pagination_bottom.html" with qset=lenses request=request qset_range=lenses_range qset_total=lenses_count target="lenses" %}

  <div>
    <button type="submit" form="ids-form" class="sled-process-lenses jb-submit-button-1" formaction="{% url 'lenses:lens-collage' %}">
      <img src="{% static 'icons/columns-gap.svg' %}">
      See collage
    </button>

    <!--<button type="button" id="export-csv" class="sled-process-lenses jb-submit-button-1" data-form-url="{% url 'lenses:export-csv' %}">
      <img src="{% static 'icons/columns-gap.svg' %}">
      Export to csv
    </button>-->

    <button type="button" id="export" class="sled-export-function jb-submit-button-1" data-form-url="{% url 'lenses:export-csv' all_lens_ids %}">
      <img src="{% static 'icons/folder-fill.svg' %}">
      Export all lenses
    </button>

    <button type="button" id="make-collection" class="sled-process-lenses jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-create' 'Lenses' %}">
      <img src="{% static 'icons/folder-fill.svg' %}"> 
      Make collection
    </button>

    <button type="button" id="add-to-collection" class="sled-process-lenses jb-submit-button-1" data-form-url="{% url 'sled_collections:collection-add-items' 'Lenses' %}">
      <img src="{% static 'icons/folder-plus.svg' %}">
      Add to collection
    </button>
  </div>
</div>


{% endblock content %}


{% block extrastyles %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'lenses/css/lens_query.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
{{ lens_form.media.js }}
<script type="text/javascript" src="{% static 'js/set_help.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/lens_query.js' %}"></script>
{% endblock extrascripts %}
