{% extends 'master_header.html' %}
{% load static %}
{% block content %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'lenses/js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_add.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_visit_card.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<h1>Update lenses</h1>

<p>
  To be within the check radius of existing lenses set RA= 8.368 and DEC= -5.6694
</p>

<form id="formset" formset-prefix="{{ lens_formset.prefix }}" method="POST">
  <div class="form-div">
    {% csrf_token %}
    {{ lens_formset.management_form }}

    {% if data_formset.non_form_errors|length > 0 %}
    <div class="invalid jb-modal-field">
      <ul>
	{% for error in data_formset.non_form_errors %}
	<li>{{ error }}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    <input type="hidden" name="check" value="true">
    
    <table class="master">
      {% for form,existing in new_existing %}
      
      <tr class="copy-target">
	<td>
	  
	  <div class="lens-form">
	    <table class="controls">
	      <tr>
		<td><h3>Lens {{ forloop.counter }}</h3></td>
		<td class="delete-button"></td>
	      </tr>
	    </table>

	    {% if form.non_field_errors|length > 0 %}
	    <div class="invalid jb-modal-field">
	      <ul>
		{% for error in form.non_field_errors %}
		<li>{{ error }}</li>
		{% endfor %}
	      </ul>
	    </div>
	    {% endif %}

	    {{ form.id }}
	    
	    <table class="form-table">
	      <tr>
		<!-- First column -->
		<td>
		  <div class="column">
		    <table>
		      <tr><td>{{ form.ra.errors }}</td><td>{{ form.ra.label|safe }}</td><td>{{ form.ra }}</td></tr>
		      <tr><td>{{ form.dec.errors }}</td><td>{{ form.dec.label|safe }}</td><td>{{ form.dec }}</td></tr>
		      <tr><td>{{ form.image_sep.errors }}</td><td>{{ form.image_sep.label|safe }}</td><td>{{ form.image_sep }}</td></tr>
		      <tr><td>{{ form.z_lens.errors }}</td><td>{{ form.z_lens.label|safe }}</td><td>{{ form.z_lens }}</td></tr>
		      <tr><td>{{ form.z_source.errors }}</td><td>{{ form.z_source.label|safe }}</td><td>{{ form.z_source }}</td></tr>
		      <tr><td>{{ form.flag_confirmed.errors }}</td><td>{{ form.flag_confirmed.label|safe }}</td><td>{{ form.flag_confirmed }}</td></tr>
		      <tr><td>{{ form.flag_contaminant.errors }}</td><td>{{ form.flag_contaminant.label|safe }}</td><td>{{ form.flag_contaminant }}</td></tr>
		      <tr><td>{{ form.access_level.errors }}</td><td>{{ form.access_level.label|safe }}</td><td>{{ form.access_level }}</td></tr>
		    </table>
		  </div>
		</td>


		<!-- Second column -->
		<td>
		  <div class="column">
		    <table>
		      <tr><td>{{ form.lens_type.errors }}</td><td>{{ form.lens_type.label|safe }}</td><td>{{ form.lens_type }}</td></tr>
		      <tr><td>{{ form.source_type.errors }}</td><td>{{ form.source_type.label|safe }}</td><td>{{ form.source_type }}</td></tr>
		      <tr><td>{{ form.image_conf.errors }}</td><td>{{ form.image_conf.label|safe }}</td><td>{{ form.image_conf }}</td></tr>
		      <tr><td>{{ form.info.errors }}</td><td colspan="2">{{ form.info }}</td></tr>
		    </table>
		  </div>
		</td>


		<!-- Fourth column -->
		<td>
		  <div class="column">
		    <table>
		      <tr><td><div class="lens-mugshot"><img src="" alt="Lens image" /></div></td></tr>
		    </table>
		  </div>
		</td>

		
	      </tr>
	    </table>
	  </div>
	  
	</td>
	<td>

	  {% if existing %}
	  {{ form.insert.errors }}
	  {{ form.insert.label|safe }}
	  {{ form.insert }}
	  {% endif %}
	  
	</td>
	<td>
	  
	  {% if existing %}
	  {% for lens in existing %}
	  {% include 'lenses/lens_visit_card.html' with lens=lens %}
	  {% endfor %}
	  {% endif %}
	  
	</td>
      </tr>
      {% endfor %}
    </table>
    
  </div>
  
  
  
  <div class="button-div">
    <table>
      <tr>
	{% if request.resolver_match.url_name == 'lens-add' %}
	<td><div class="add-button"></div></td>
	<td><button id="toggle-access-level" type="button">Toggle access_level all</button></td>
	<td>
	  <button type="submit">
	    <img src="{% static 'icons/pencil.svg' %}" alt="update">
	    Create Lenses
	  </button>
	</td>
	{% else %}
	<td><button type="submit">Update</button></td>
	{% endif %}	
      </tr>
    </table>
  </div>
</form>

<!-- <script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script> -->

{% endblock content %}
