{% extends "modal_base.html" %}
{% load static %}

{% block title %}
Make lenses private?
{% endblock title %}

{% block content %}
<div class="jb-modal-field">
  <ul>
    {% for lens in lenses %}
    <li>{{ lens }}</li>
    {% endfor %}
  </ul>
</div>

<div class="jb-modal-field">
  {{ form.justification }}
</div>

{{ form.ids }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  <img src="{% static 'icons/lock-fill.svg' %}" alt="update">
  Make private
</button>
{% endblock action_button %}
