{% extends 'master_header.html' %}
{% load static %}


{% block content %}

<div class="jb-container">
  {% if request.resolver_match.url_name == 'lens-add' %}
  <h1 class="jb-heading-1">Add New Lenses</h1>
  {% else %}
  <h1 class="jb-heading-1">Update Lenses</h1>
  {% endif %}

  <div class=" jb-table-no-lines">
    <p>
      To be within the check radius of existing lenses set RA= 8.368 and DEC= -5.6694
    </p>

    <form id="formset" formset-prefix="{{ lens_formset.prefix }}" method="POST" enctype="multipart/form-data">
      <div>
        {% csrf_token %}
        {{ lens_formset.management_form }}
        {{ lens_formset.non_form_errors }}

        <table id="sled-lenses-table">
          {% for form in lens_formset.forms %}
          <tr class="sled-copy-target">
            <td>

              <div class="sled-row-content">
                <table>
                  <tr>
                    <td>
                      <h3 class="sled-lens-counter">Lens {{ forloop.counter }}</h3>
                    </td>
                    <td class="sled-delete-button" style="float:right;"></td>
                  </tr>
                </table>

                {{ form.non_field_errors }}
                {{ form.id }}

                <table class="jb-add-lens">
                  <tr>
                    <!-- First column -->
                    <td>
                      <div>
                        <table>
                          <tr>
                            <td>{{ form.ra.errors }}</td>
                            <td>{{ form.ra.label_tag }}</td>
                            <td>{{ form.ra }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.dec.errors }}</td>
                            <td>{{ form.dec.label_tag }}</td>
                            <td>{{ form.dec }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.image_sep.errors }}</td>
                            <td>{{ form.image_sep.label_tag }}</td>
                            <td>{{ form.image_sep }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.z_lens.errors }}</td>
                            <td>{{ form.z_lens.label_tag }}</td>
                            <td>{{ form.z_lens }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.z_source.errors }}</td>
                            <td>{{ form.z_source.label_tag }}</td>
                            <td>{{ form.z_source }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.flag_confirmed.errors }}</td>
                            <td>{{ form.flag_confirmed.label_tag }}</td>
                            <td>{{ form.flag_confirmed }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.flag_contaminant.errors }}</td>
                            <td>{{ form.flag_contaminant.label_tag }}</td>
                            <td>{{ form.flag_contaminant }}</td>
                          </tr>
			  {% if request.resolver_match.url_name == 'lens-add' %}
                          <tr>
                            <td>{{ form.access_level.errors }}</td>
                            <td>{{ form.access_level.label_tag }}</td>
                            <td>{{ form.access_level }}</td>
                          </tr>
			  {% endif %}
                        </table>
                      </div>
                    </td>


                    <!-- Second column -->
                    <td>
                      <div>
                        <table>
                          <tr>
                            <td>{{ form.n_img.errors }}</td>
                            <td>{{ form.n_img.label_tag }}</td>
                            <td>{{ form.n_img }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.lens_type.errors }}</td>
                            <td>{{ form.lens_type.label_tag }}</td>
                            <td>{{ form.lens_type }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.source_type.errors }}</td>
                            <td>{{ form.source_type.label_tag }}</td>
                            <td>{{ form.source_type }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.image_conf.errors }}</td>
                            <td>{{ form.image_conf.label_tag }}</td>
                            <td>{{ form.image_conf }}</td>
                          </tr>
                          <tr>
                            <td>{{ form.info.errors }}</td>
                            <td colspan="2" style="text-align:center">{{ form.info }}</td>
                          </tr>
                        </table>
                      </div>
                    </td>


                    <!-- Third column -->
                    <td>
                      <div>
                        <table class="jb-paragraph-2">
			  <tr>
			    <td colspan="1" style="text-align:center">
                              {% if form.instance.mugshot %}
                              <img class="sled-mugshot-image" src="{{ form.instance.mugshot.url }}" alt="Mugshot">
                              {% else %}
                              <img class="sled-mugshot-image" src="">
                              {% endif %}
			    </td>
			  </tr>
                          <tr>
                            <td style="text-align:center">
			      {{ form.mugshot.errors }}
                              {{ form.mugshot }}
			    </td>
                          </tr>
                        </table>
                      </div>
                    </td>


                  </tr>
                </table>
              </div>

            </td>
          </tr>
          {% endfor %}
        </table>

      </div>



      <div>
        {% if request.resolver_match.url_name == 'lens-add' %}
        <button id="sled-add-another" type="button" class="jb-submit-button-1">
          Add another
        </button>
        <div class="sled-add-button-hidden" style="display:none;"></div>
        <button id="toggle-access-level" type="button" class="jb-submit-button-1">Toggle access_level all</button>
        <button type="submit" class="jb-submit-button-1">Create Lenses</button>
        {% else %}
        <button type="submit" class="jb-submit-button-1">Update</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}



{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
{% endblock extrastyles %}



{% block extrascripts %}
{% if request.resolver_match.url_name == 'lens-add' %}
<script type="text/javascript" src="{% static 'lenses/js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script>
{% endif %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{{ form.media.js }}
<script type="text/javascript">
  $(document).ready(function() {
    function readURL(input, $img) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $img.attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(document).on("change", "input[name*='mugshot']", function() {
      var $img = $(this).parent().parent().parent().find('img');
      readURL(this, $img);
    });

    $('.my-select2').select2();

    $("#sled-add-another").click(function(e) {
      $(".add-row").trigger("click");
    });
  });
</script>
{% endblock extrascripts %}
