<!-- {% csrf_token %} -->
{% load lenses_extras %}

<div>
  <input name="obj_type" type="hidden" value="Lenses" />
  <table id="exe_summary">
    <thead>
      <tr>
        <th></th>
        <th>Mugshot</th>
        <th>Name</th>
        <th>Right Ascension</th>
        <th>Declination</th>
	<th>Flag</th>
        <th>Image Separation</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for lens in lenses %}
      <tr>
        <td><input name="ids" type="checkbox" value="{{ lens.id }}"></td>
        <td><img class="sled-mugshot-icon" src="{{lens.mugshot.url}}"></td>
        <td><a href="{{ lens.get_absolute_url }}">{{lens.name}}</a></td>
        <td>{{ lens.ra }}</td>
        <td>{{ lens.dec }}</td>
	<td>{{ lens.flag|lens_flag|safe }}</td>
        <td>{{ lens.image_sep|default_if_none:"" }}</td>
        <td>{{ lens.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn btn-sm btn-light" id="toggle_all" value="select">Toggle select all</button>
</div>

<script>
  var toggle = function(e) {
    checkboxes = document.getElementsByName('ids');
    var new_status = e.currentTarget.getAttribute('value');
    if (new_status == "select") {
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = true;
      }
      e.currentTarget.setAttribute('value', 'unselect');
    } else {
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = false;
      }
      e.currentTarget.setAttribute('value', 'select');
    }
  }
  document.getElementById("toggle_all").addEventListener("click", toggle, true);


  var min_checked = function(e) {
    var checked_boxes = document.querySelectorAll('#exe_summary input[type="checkbox"]:checked');
    if (checked_boxes.length == 0) {
      alert('You must select at least one lens!');
      e.preventDefault();
    }
  };
  document.getElementById("ids-form").addEventListener("submit", min_checked, true);
</script>
