{% extends "modal_base.html" %}
{% load project_tags %}

{% block title %}
Make {% singular_or_plural 'Lenses' lenses|length %} public?
{% endblock title %}

{% block content %}
<div class="jb-container-modal">

  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="jb-modal-field jb-table-no-lines">
    <table>
      {% for lens in lenses %}
      <tr>
	<td>
          {{ lens }}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {{ form.ids }}

</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">Make public</button>
{% endblock action_button %}
