{% extends 'master_header.html' %}
{% load static %}

{% block content %}


<div class="jb-container">

  <h1 class="jb-heading-1">Duplicates</h1>


  <form id="formset" method="POST">
    {% csrf_token %}
    {{ insert_formset.management_form }}
    {{ insert_formset.non_form_errors }}

    <div class="jb-table-no-lines">
      <table>
        <thead>
          <tr>
            <th style="width: 50%">
              Lenses that require checking
            </th>
            <th>
              Existing lenses
            </th>
          </tr>
        </thead>
        <tbody>
          {% for new_lens,form,existing in new_form_existing %}
          <tr class=" sled-main-row sled-duplicate-required">
            <td>
              {% include 'lenses/lens_visit_card.html' with lens=new_lens %}
            </td>
            <td>
              {% for lens in existing %}
              {% include 'lenses/lens_visit_card.html' with lens=lens %}
              {% empty %}
              No duplicates!
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              {% if form %}
              {{ form.insert.errors }}
              {{ form.insert.label_tag }}
              {{ form.insert }}
              {{ form.index }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <label>Resolve duplicates and submit? </label>
      <button type="submit" class="jb-submit-button-1">
	Submit
      </button>
    </div>

  </form>
</div>
{% endblock content %}


{% block extrascripts %}
<script type="text/javascript">
  $(document).ready(function() { 
      $('.sled-dupl-yes-no').on('click', function() {
	  if ($(this).is(':checked')) {
	      var target = $(this).parents('tr').siblings('.sled-main-row');
              target.removeClass("sled-duplicate-required");
              if ($(this).val() == 'yes') {
		  target.removeClass("sled-duplicate-no").addClass("sled-duplicate-yes");
              } else {
		  target.removeClass("sled-duplicate-yes").addClass("sled-duplicate-no");
              }
	  }
      })
  });
</script>
{% endblock extrascripts %}
