{% extends "modal_base.html" %}

{% block title %}
Cede ownership?
{% endblock title %}


{% block content %}
<input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />

<div>
  {{ form.heir }}
</div>

<div>
  <ul>
    {% for lens in lenses %}
    <li>{{ lens }}</li>
    {% endfor %}
  </ul>
</div>

<div>
  {{ form.justification }}
</div>

{{ form.ids }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="btn btn-sm btn-danger">Cede ownership</button>
{% endblock action_button %}


{% block extrascripts %}
<script>
  // Create Select2 for the users
  users_autocomplete('id_heir');
</script>
{% endblock extrascripts %}
