<div>
  <table>
    <thead>
      <tr>
	<th>Mugshot</th>
	<th>Name</th>
	<th>Right Ascension J2000</th>
	<th>Declination J2000</th>
	<th>Access level</th>
	<th>Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for lens in lenses %}
      <tr>
        <td><img class="sled-mugshot-icon" src="{{lens.mugshot.url}}"></td>
	<td>{{ lens.name }}</td>
	<td>{{ lens.ra }}</td>
	<td>{{ lens.dec }}</td>
	<td>{{ lens.access_level }}</td>
	<td>{{ lens.owner }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
