{% extends "modal_base.html" %}
{% load static %}

{% block title %}
Make collection?
{% endblock title %}

{% block content %}
<div>
  <ul>
    {% for lens in lenses %}
    <li>{{ lens }}</li>
    {% endfor %}
  </ul>
</div>

<div class="jb-modal-field">
  {{ form.name }}
</div>

<div>
  {{ form.description }}
</div>

<div>
  {{ form.access_level }}
</div>

{{ form.ids }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">
  <img src="{% static 'icons/collection-fill.svg' %}">
  Make collection
</button>
{% endblock action_button %}
