{% extends 'master_header.html' %}
{% load static %}
{% block content %}

<div class="jb-container">
  <h1 class="jb-heading-1">Lenses</h1>
</div>
<div class="jb-div-block-1">
  <a href="{% url 'lenses:lens-query' %}" class='jb-div-block-3'>
    <img src="{% static 'images/JB_Lenses_Query.png' %}" loading="lazy" width="100" height="100" alt="">
    <h1 class="jb-heading-2">Query lenses</h1>
  </a>
  <a href="{% url 'sled_queries:lens-all-collections' %}" class='jb-div-block-3'>
    <img src="{% static 'images/JB_Lenses_Browse.png' %}" loading="lazy" width="100" height="100" alt="">
    <h1 class="jb-heading-2">Standardised (static?) Queries</h1>
  </a>
</div>
<div class="jb-div-block-2">
  <a href="{% url 'lenses:lens-add' %}" class='jb-div-block-3'>
    <img src="{% static 'images/JB_Lenses_Add-New.png' %}" loading="lazy" width="100" height="100" alt="">
    <h1 class="jb-heading-2">Add new lenses</h1>
  </a>
  <a href="{% url 'sled_users:user-profile' %}" class='jb-div-block-3'>
    <img src="{% static 'images/JB_Lenses_Manage.png' %}" loading="lazy" width="100" height="100" alt="">
    <h1 class="jb-heading-2">Manage your lenses</h1>
  </a>
</div>

{% endblock content %}
