{% load static %}
{% load project_tags %}

<div>
  <table>
    <tr>
      <td colspan="2">
        <h3>{{ lens.name }}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr>
            <td>RA:</td>
            <td>{{ lens.ra }}</td>
          </tr>
          <tr>
            <td>DEC:</td>
            <td>{{ lens.dec }}</td>
          </tr>
          <tr>
            <td>Created at:</td>
            <td>{{ lens.created_at }}</td>
          </tr>
          <tr>
            <td>Owner:</td>
	    <td>{{ lens.owner.id|get_user_link|safe }}</td>
          </tr>
          <tr>
            <td>Access level:</td>
	    <td>{{ lens.access_level }}</td>
          </tr>
	  {% if lens.info %}
          <tr>
            <td>Info:</td>
            <td>{{ lens.info }}</td>
          </tr>
	  {% endif %}
        </table>
      </td>
      <td>
        <!-- Lens image -->
        <div>
          <img class="sled-mugshot-image" src="{{ lens.mugshot.url }}">
        </div>
      </td>
    </tr>
  </table>
</div>
