<!-- {% csrf_token %} -->

<div>
  <input name="obj_type" type="hidden" value="Lenses" />
  <table class="items-list">
    <thead>
      <tr>
        <th></th>
        <th>Mugshot</th>
        <th>Name</th>
        <th>Right Ascension</th>
        <th>Declination</th>
        <th>Access level</th>
        <th>Accessible by</th>
      </tr>
    </thead>
    <tbody>
      {% for lens in lenses %}
      <tr>
        <td><input name="ids" type="checkbox" value="{{ lens.id }}"></td>
        <td><img class="sled-mugshot-icon" src="{{lens.mugshot.url}}"></td>
        <td><a href="{{ lens.get_absolute_url }}">{{lens.name}}</a></td>
        <td>{{ lens.ra }}</td>
        <td>{{ lens.dec }}</td>
        <td class="access-level">{{ lens.access_level }}</td>
        <td>
          {{ lens.getUsersWithAccessNoOwner|join:"," }} - <em>{{ lens.getGroupsWithAccessNoOwner|join:"," }}</em>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="sled-toggle-all btn btn-sm btn-light" value="select">Toggle select all</button>
  <button type="button" class="sled-toggle-access btn btn-sm btn-light" value="PUB">Show PUB</button>
</div>
