{% extends "modal_base.html" %}


{% block title %}
Update band
{% endblock title %}


{% block content %}
<div class="jb-container-modal">

  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% for field in form %}
  <div class="jb-modal-field">
    {{ field }}
  </div>
  {% endfor %}

</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">Update</button>
{% endblock action_button %}
