{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<!-- This modal is required to display messages when redirecting here, e.g. when deleting a group -->
<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>



<div class="jb-container">
  <h1 class="jb-heading-1">SLED Bands</h1>
  {% if bands %}
  <table class="jb-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Extended Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      {% for band in bands %}
      <tr>
        <td>{{ band.name }}</td>
        <td>{{ band.info }}</td>
        <td>
          <button type="button" class="sled-delete-band btn btn-sm btn-danger" data-form-url="{% url 'sled_band:band-delete' band.pk %}">
            <img src="{% static 'icons/trash.svg' %}" alt="trash">
            Delete
          </button>
          <button type="button" class="sled-modal btn btn-sm btn-primary" data-form-url="{% url 'sled_band:band-update' band.pk %}">
            <img src="{% static 'icons/pencil.svg' %}" alt="pencil">
            Update
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No bands to show
  </p>
  {% endif %}

  <button type="button" id="create-new-band" class="jb-button-1" data-form-url="{% url 'sled_band:band-add' %}">
    <img src="{% static 'icons/folder-fill.svg' %}" alt="new-band">
    Create new band
  </button>
</div>
{% endblock content %}


{% block extrastyles %}
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#create-new-band").modalForm({
      formURL: $("#create-new-band").data("form-url"),
      modalID: "#id-modal"
    });
      // Modals
      $('.sled-delete-band').each(function(){
	  $(this).modalForm({
 	      formURL: $(this).data("form-url"),
 	      modalID: "#id-modal",
 	      isDeleteForm: true
	  });
      });

      $(".sled-modal").each(function(){
	  $(this).modalForm({
              formURL: $(this).data("form-url"),
 	      modalID: "#id-modal"
	  });
      });
  });
</script>
{% endblock extrascripts %}
