{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="jb-container">
  <br>
  <br>

  <h1 id="code-of-conduct-for-the-strong-lensing-database-sled-">Code of Conduct for the Strong Lensing Database (SLED)</h1>
  
  <p>
    Welcome to the Strong Lensing Database (SLED), a collaborative database platform dedicated to the listing of gravitational lenses and ancillary data. To ensure a positive and respectful environment, we ask all users to adhere to the following guidelines.
  </p>
  
  <hr>
  
  <h2 id="-1-community-standards-"><strong>1. Community Standards</strong></h2>
  <p>
    SLED aims to foster an open, respectful, and scientifically rigorous community. By participating in SLED, you agree to:
  </p>
  <ul>
    <li><strong>Respect Others:</strong> Engage with all users in a polite, constructive, and professional manner, regardless of their background or opinions.</li>
    <li><strong>Scientific Transparency:</strong> Share data openly and transparently when permitted or by choice, respecting ownership and privacy where applicable.</li>
    <li><strong>Integrity and Accuracy:</strong> Ensure all shared content is accurate and scientifically relevant.</li>
  </ul>
  
  <hr>
  
  <h2 id="-2-appropriate-use-of-the-platform-"><strong>2. Appropriate Use of the Platform</strong></h2>
  
  <h3 id="-data-sharing-and-contributions-"><strong>Data Sharing and Contributions</strong></h3>
  <ul>
    <li>Contributions should be directly related to gravitational lensing and align with the goals of the community.</li>
    <li>Users may choose to keep their data private or share it publicly. When sharing publicly, contributions must be clear and well-documented.</li>
  </ul>
  
  <h3 id="-content-restrictions-"><strong>Content Restrictions</strong></h3>
  <ul>
    <li>Uploading offensive, unrelated, or inappropriate images or content is strictly prohibited and will result in immediate action, starting with a ban.</li>
    <li>Contributions should focus on gravitational lensing; unrelated materials disrupt the community&#39;s goals.</li>
  </ul>
  <hr>
  
  <h2 id="-3-citing-and-acknowledging-sled-"><strong>3. Citing and Acknowledging SLED</strong></h2>
  <p>
    SLED is a community resource, and proper citation ensures its recognition and continued growth. If SLED is used in a publication:
  </p>
  <ul>
    <li><strong>Citations:</strong> Include a citation for the database: DOI REPLACE_PLACE_HOLDER_DOI</li>
    <li><strong>Acknowledgment:</strong> Add the following statement to your publication&#39;s acknowledgment section:<blockquote>
	<p>&quot;This work utilized data and resources provided by the Strong Lensing Database (SLED, DOI: REPLACE_PLACE_HOLDER_DOI).&quot;</p>
      </blockquote>
    </li>
    <li>If specific datasets or images are used, credit the contributors appropriately.</li>
  </ul>
  
  <h2 id="-5-contact-and-feedback-"><strong>5. Contact and Feedback</strong></h2>
  <p>
    We value your feedback to help improve SLED. If you encounter issues, violations, or have suggestions, please reach out to us at GIORGOS@hotmail.co.uk.gr
  </p>
  <hr>
  
  <p>
    By contributing to SLED, you help advance gravitational lensing research and foster a vibrant scientific community. Thank you for upholding these standards and contributing responsibly!
  </p>

</div>
{% endblock content %}


{% block extrastyles %}
{% endblock extrastyles %}


{% block extrascripts %}
{% endblock extrascripts %}
