{% extends 'master_header.html' %}
{% load static %}

{% block content %}

<div class="w3-sidebar w3-card w3-light-grey w3-bar-block my-side-bar">
  <h3 class="w3-bar-item">Contents</h3>

  <a href="#users" class="w3-bar-item w3-button"><u>User responsibilities and limits</u></a>
  <ul>
    <li><a href="#users-user-profile" class="w3-bar-item w3-button">User profile</a></li>
    <li><a href="#users-roles" class="w3-bar-item w3-button">Roles</a></li>
    <li><a href="#users-limits" class="w3-bar-item w3-button">Limits</a></li>
  </ul>

  <a href="#users-and-access" class="w3-bar-item w3-button"><u>Users and access</u></a>
  <ul>
    <li><a href="#users-and-access-access-level" class="w3-bar-item w3-button">Access Level</a></li>
    <li><a href="#users-and-access-user-groups" class="w3-bar-item w3-button">User groups</a></li>
  </ul>

  <a href="#querying" class="w3-bar-item w3-button"><u>Querying</u></a>
  <ul>
    <li><a href="#querying-standard-queries" class="w3-bar-item w3-button">Standard queries</a></li>
    <li><a href="#querying-api-queries" class="w3-bar-item w3-button">API queries</a></li>
    <li><a href="#querying-collections" class="w3-bar-item w3-button">Collections</a></li>
  </ul>
  
  <a href="#object-specs" class="w3-bar-item w3-button"><u>Object specifications</u></a>
  <ul>
    <li><a href="#object-specs-lens" class="w3-bar-item w3-button">Lens</a></li>
    <li><a href="#object-specs-imaging" class="w3-bar-item w3-button">Imaging data</a></li>
    <li><a href="#object-specs-spectrum" class="w3-bar-item w3-button">Spectrum</a></li>
    <li><a href="#object-specs-catalogue" class="w3-bar-item w3-button">Catalogue</a></li>
    <li><a href="#object-specs-redshift" class="w3-bar-item w3-button">Redshift</a></li>
    <li><a href="#object-specs-genericimage" class="w3-bar-item w3-button">Generic Image</a></li>
    <li><a href="#object-specs-model" class="w3-bar-item w3-button">Model</a></li>
  </ul>

  <a href="#tasks" class="w3-bar-item w3-button"><u>Tasks</u></a>

  <a href="#auto-tasks" class="w3-bar-item w3-button"><u>Automated tasks</u></a>
  <ul>
    <li><a href="#auto-fetching-data" class="w3-bar-item w3-button">Fetching data</a></li>
    <li><a href="#auto-pending-tasks" class="w3-bar-item w3-button">Pending tasks</a></li>
    <li><a href="#auto-future-data" class="w3-bar-item w3-button">Future data</a></li>
    <li><a href="#auto-backups" class="w3-bar-item w3-button">Backups</a></li>
  </ul>
</div>



<div class="jb-container">

  


  <div class="jb-section" id="users">
    <h1>User responsibilities and limits</h1>
    <p>
      <b>The main responsibility of a SLED user is to maintain up-to-date the information of lenses, data, models, etc, that are assigned to them</b>. This community-driven approach is the cornerstone of SLED's power to deliver accurate scientific results and information. The user is referred to as the 'owner' of these objects, which are all listed in their
      {% if request.user.is_authenticated %}
      <a href="{% url 'sled_users:user-profile' %}">User profile</a>
      {% else %}
      User profile
      {% endif %}
      page.
    </p>
    
    <div id="users-user-profile">
      <h3>User profile</h3>
      <p>
	This is where are the objects owned by the user are listed and can be managed. This includes the main SLED products, i.e. lenses, Imaging Data, Spectra, Redshifts, Generic Images, and Models, but also secondary objects that help with organisation, access, and overall convenience, i.e. <a href="#querying">saved queries</a>, <a href="#collections">collections</a>, and <a href="#users-and-access-user-groups">groups</a>. Notifications and <a href="#tasks">tasks</a> are also listed here, the latter being very important for the funcionality of the website. This is also where the user can keep their personal information up-to-date, which is required to enable efficient completion of tasks and communication with other users.
      </p>
    </div>

    <div id="users-roles">
      <h3>Roles</h3>
      <p>
	There are 3 special user roles:
      </p>
      <ol>
	<li><a href="{% url 'sled_users:user-query' %}?role=SuperAdmin">SuperAdmin</a>: This is the user who decides who can assign the role of Admin and Inspector to other users.</li>
	<li><a href="{% url 'sled_users:user-query' %}?role=Admin">Admin</a>: This is a small group of users, usually 2, who have a higher degree of responsibility. They are the ones who can approve or reject new users, making public objects private, deleting public objects, etc, see the <a href="#tasks">tasks</a> for more details.</li>
	<li><a href="{% url 'sled_users:user-query' %}?role=Inspector">Inspector</a>: This group of users has the responsibility to visually inspect any public images uploaded to the website and ensure that they are indeed related to science, e.g. lens mugshots, Imaging Data, Spectra, etc</li>
      </ol>
      <p>
	The SuperAdmin can re-assign these roles at any time
      </p>
    </div>

    <div id="users-limits">
      <h3>Limits</h3>
      <p>
	Every user has a limited number of objects that they can create in the database per week and that they can own and manage in total. These numbers default to 100 and 1000 respectively, but they can be changed by the <a href="{% url 'sled_users:user-query' %}?role=SuperAdmin">SuperAdmin</a> upon request. These settings may be changed in the future to impose limits per object type, e.g. it makes sense to manage hundreds of lenses but not so much for groups or saved queries.
      </p>
    </div>
    
  </div>
  <hr>




  <div class="jb-section" id="users-and-access">
    <h1>Users and access</h1>

    <div id="users-and-access-access-level">
      <h3>Access level</h3>
      <p>
      Any object that can exist in SLED (lenses, data, models, collections, etc) can be publicly visible and accessible by any registered SLED user, or kept private with its access directly controlled by its owner. Private objects will still appear in the queries of every user with access to them, but not to other users. A private object can be readily changed to public, but the opposite requires approval from the database administrators. It is good practice to inject objects as private and then, after ensuring that there are no mistakes, change them to public.
      </p>
    </div>

    <div id="users-and-access-user-groups">
      <h3>User groups</h3>
      <p>
	Creating groups of users is a convenient way to delegate access to private objects more easily. For example, one user adds 5 new lens candidates that they want to share with their close collaborators. The lenses are created as private, a group with the collaboration name is created (can also be private) and the collaborators are added to it, and the owner of the 5 private lenses gives access to the group instead of each user individually. This has the extra benefit that any new user who joins the group will automatically gain access to private objects accessible by the group. All groups are visible to all users, but the members of private groups are not shown. Any user has the option to request to join the group and a 'Join Group' task will be created for the group owner to resolve.
      </p>
    </div>
    
  </div>
  <hr>

  

  
  <div class="jb-section" id="querying">
    <h1>Querying</h1>

    <div id="querying-user-queries">
      <p>
	You can perform joined queries on Lenses, data (Redshifts, Imaging Data, Spectra, and Catalogue Data), and Models. For the position of the lens, you can limit the coordinates in a rectangular (box search) or in a circle around some point (Cone search). Placing the mouse above each field label provides some information about it (units, etc). Once you have filled in a few query fields, then you can save the query and access or modify it in your <a href="#users-user-profile">User profile</a> page. You can also save all or part of the returned lenses in a new or existing <a href="#querying-collections">Collection</a>. The Collection will contain the returned results at the time of creation while the query will return any new lenses that may be added in the future. It is possible to select which lenses and associated to download in .json format.
      </p>
      <p>
	<span class="soon">Coming soon</span>: querying lens Models and classification Scores.
      </p>
    </div>
      
    <div id="querying-standard-queries">
      <h3>Standard queries</h3>
      <p>
	These are some very common queries that are centrally available, for example, to return all the lensed quasars, lensed supernovae, lenses with HST data, etc. For comments or additions to these standard queries please contact the administrators.
      </p>
    </div>
    
    <div id="querying-api-queries">
      <h3>API queries</h3>
      <p>
	For large queries, it is advised to use the API functionality. The following fields are allowed to be passed explicitly to an API call:
      </p>
      <h5>Lenses</h5>
      <table class="form_table">
	{% for key, val in lens_form.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>

      <h5>Redshifts</h5>
      <table class="form_table">
	{% for key, val in redshift_form.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>

      <h5>Imaging Data</h5>
      <table class="form_table">
	{% for key, val in imaging_form.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>

      <h5>Spectra</h5>
      <table class="form_table">
	{% for key, val in spectrum_form.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>

      <h5>Catalogue Data</h5>
      <table class="form_table">
	{% for key, val in catalogue_form.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>

      <h5>Models</h5>
      <span class="soon">Coming soon</span>
    </div>


    <div id="querying-collections">
      <h3>Collections</h3>
      <p>
	A Collection is a fixed list of lenses, as opposed to a (dynamic) query, that users can create. It can be private or public, its management after creation can be passed on to another SLED user, and lenses can be removed or added to it. The latter can happen either by selecting lenses from a query result, or through the detail page of a given lens. Collections can be <a href="{% url 'sled_collections:collections-list' %}">searched</a> by any user. Currently, there are only collections of lenses allowed, but this may be extended to models, etc, in the future.
      </p>
    </div>

    
  </div>
  <hr>




  
  
  <div class="jb-section" id="object-specs">  
    <h1>Object specifications</h1>
    <p>
      The information fields of all the types of objects that are stored in SLED are listed below.
      There are a few fields common to all the objects that are explained here:
    </p>
    <table class="form_table">
      {% for key, val in singleobject_model.items %}
      <tr>
	<td>{{key}}</td>
	<td>{{val|safe}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>
      The 'Instrument' and 'Band' fields appear under several of the data related objects below.
      The SLED administrators are responsible for adding new combinations as necessary.
      Their values are predefined in the database and the allowed choices are:
    </p>
    <table class="form_table">
      {% for key, val in inst_band_model.items %}
      <tr>
	<td>{{key}}</td>
	<td>{{val|safe}}</td>
      </tr>
      {% endfor %}
    </table>
    
    
    
    <div id="object-specs-lens">
      <h5>Lens</h5>
      <p>
	Everything in SLED (papers, collections, models, etc) is 'anchored' around lenses.
	The minimum requirements for a lens are its coordinates and a 'mugshot' image.
	This image doesn't need to be of scientific quality and can just be a pretty, colored, processed, etc, image of the lens.
	Images of public lenses will need to be visually inspected first through an <a href="#task-inspect-images">Image Inspection</a> task.
	The allowed choices of fields like 'image_conf', 'lens_type', etc, are pre-defined - additional choices are possible by contacting the admins.
	The 'score' field is temporary and will be replaced in the future.
      </p>
      <table class="form_table">
	{% for key, val in lens_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>

    <div id="object-specs-imaging">
      <h5>Imaging data</h5>
      <p>
	These are images of the system taken with a specific instrument configuration.
	We do not store the actual data, for example, the raw pixel values in .fits format.
	We just store an image of the lens in a common format (e.g. .png) and its metadata - at least the 'instrument', 'band', and 'date_taken' fields.
	The allowed choices for the 'instrument' and 'band' fields are pre-defined - additional choices are possible by contacting the admins.
	Public data will need to be visually inspected first through an <a href="#task-inspect-images">Image Inspection</a> task.
      </p>
      <table class="form_table">
	{% for key, val in imaging_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>

    <div id="object-specs-spectrum">
      <h5>Spectrum</h5>
      <p>
	Similarly to imaging data, we only keep metadata (at least the 'instrument' and 'date_taken' fields) and a plot of the spectrum.
	A script to help make the flux-wavelength plot can be found <a href="">here</a>.
	The allowed choices for the 'instrument' field are pre-defined - additional choices are possible by contacting the admins.
	Public spectra will need to be visually inspected first through an <a href="#task-inspect-images">Image Inspection</a> task.
      </p>
      <table class="form_table">
	{% for key, val in spectrum_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
      
    <div id="object-specs-catalogue">
      <h5>Catalogue</h5>
      <p>
	Catalogue data are managed by the database administrators and cannot be currently added/edited by the users.
      </p>
      <table class="form_table">
	{% for key, val in catalogue_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>    
    
    <div id="object-specs-redshift">
      <h5>Redshift</h5>
      <p>
	We currently do not associate the redshift to a spectrum where it might have been calculated from.
	The required fields are: 'value', 'tag', and 'method'.
      </p>
      <table class="form_table">
	{% for key, val in redshift_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>

    <div id="object-specs-genericimage">
      <h5>Generic Image</h5>
      <p>
	This can be in fact any image related to a lens that doesn't fit in the categories above.
	For example, it can be an image showing the environment of the lens, or even a plot of some sort (a model, kinematics, etc).
	The required fields are 'name' and 'info'.
	Public images will need to be visually inspected first through an <a href="#task-inspect-images">Image Inspection</a> task.
      </p>
      <table class="form_table">
	{% for key, val in genericimage_model.items %}
	<tr>
	  <td>{{key}}</td>
	  <td>{{val|safe}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>

    <div id="object-specs-model">
      <h5>Model</h5>
      <span class="soon">Coming soon</span>
    </div>
    
  </div>
  <hr>



  



  <div class="jb-section" id="tasks">
    <h1>Tasks</h1>
    <p>
      There is a number of tasks that are important for ensuring the quality of science that SLED can be used for.
      For example, if a colleague cannot perform their duties of keeping lenses up-to-date anymore for whatever reason, then they can cede their ownership to another user.
      There are various types of tasks that are detailed below, but in general any task can involve:
      <ul>
	<li>any two SLED users</li>
	<li>a user and an Admin user</li>
	<li>a user and themselves</li>
      </ul>
      The latter is just a way to ensure that information is not lost, e.g. after a logout.
      The full list of pending and completed tasks addressed to and initiated by a user can be found <a href="{% url 'sled_tasks:tasks-list' %}">here</a>.
      It is recommended to delete old completed tasks.
    </p>
    <table class="tasks-table">
      <thead>
	<tr>
	  <th>Task name</th>
	  <th>Users involved</th>
	  <th>Description</th>
      </thead>
      <tbody>
	<tr>
	  <td>Cede ownership</td>
	  <td>Any two users</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr id="task-inspect-images">
	  <td>Inspect images</td>
	  <td>A user and an Inspector</td>
	  <td>
	    <p>
	      In order to ensure the quality of images stored in SLED and put a safeguard in place for mistakes and abuse, all public images in SLED need to be inspected.
	      This task is triggered any time an image is uploaded in SLED as public, i.e. accessible by all SLED users, or made public from private.
	      Parent objects that contain images (lenses, imaging data, spectra, and generic images) will remain private until this task is completed.
	      The image inspection is done by a few SLED users who have been assigned the role of an <a href="{% url 'sled_users:user-query' %}?role=Inspector">Inspector</a> (see also <a href="#users-roles">user roles</a> above).
	      These inspectors can reject an image, providing an explanation of what was the problem.
	      Once the task is completed, the parent objects of all approved images will be made public, while the rejected ones will remain private.
	    </p>
	  </td>
	</tr>
	<tr>
	  <td>Request update</td>
	  <td>Any two users</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr>
	  <td>Ask to join group</td>
	  <td>Any two users</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr>
	  <td>Make private</td>
	  <td>A user and an Admin</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr>
	  <td>Delete object</td>
	  <td>A user and an Admin</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr>
	  <td>Register new user</td>
	  <td>A user and an Admin</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr id="task-resolve-duplicates">
	  <td>Resolve duplicates</td>
	  <td>A user and themselves</td>
	  <td>
	    <p>
	      There is an automatic check for duplicate lenses in the database based on the RA, DEC.
	      If the given coordinates are within 10 arcsec of an existing lens then the new lens is flagged as potential duplicate.
	      This check includes all the lenses accessible to the user at the time, both private and public (see <a href="#users-and-access-access-level">Access Level</a>).
	      If a submitted lens is a duplicate then there are the following options in order to proceed:
	    </p>
	    <ol>
	      <li><i>Do nothing</i>: The lens is ignored and not injected in the database.</li>
	      <li><i>Distinct lens</i>: The lens is treated as a distinct entry in the database, despite its proximity to an existing one, and injected.</li>
	      <li><i>Merge</i>: All the information of the new lens will be suggested to be merged into the existing one. A 'Merge' task will be created for the owner of the existing lens to resolve.</li>
	    </ol>
	  </td>
	</tr>
	<tr>
	  <td>Merge lenses</td>
	  <td>Any two users</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
	<tr>
	  <td>Ask private access</td>
	  <td>Any two users</td>
	  <td>
	    <span class="soon">Coming soon</span>
	  </td>
	</tr>
      </tbody>
    </table>
    
  </div>
  <hr>


  <div class="jb-section" id="auto-tasks">
    <h1>Automated tasks</h1>
    <p>

      <div id="auto-fetching-data">
	<h3>Fetching data</h3>
	<p>
	  <span class="soon">Coming soon</span>
	</p>
      </div>

      <div id="auto-pending-tasks">
	<h3>Pending tasks</h3>
	<p>
	  <span class="soon">Coming soon</span>
	</p>
      </div>


      <div id="auto-future-data">
	<h3>Future data</h3>
	<p>
	  <span class="soon">Coming soon</span>
	</p>
      </div>


      <div id="auto-backups">
	<h3>Backups</h3>
	<p>
	  <span class="soon">Coming soon</span>
	</p>
      </div>

    </p>
  </div>

  
  
  <div class="whitespace">
  </div>

</div>
{% endblock content %}


{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="{% static 'sled_guide/css/guide.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
{% endblock extrascripts %}
