{% extends 'master_header.html' %}
{% load static %}
{% load email_obfuscator %}


{% block content %}
{% include "modal_container.html" %}

<div class="jb-container">


  <div class="jb-section prologue">
    <h1>Frequently Asked Questions</h1>
    <div class="">
      <p>
	Most frequent questions will regard the operations at the core of each database: <b>query</b>, <b>add</b>, <b>update</b>, and <b>delete</b>.
	For most of these actions, you will need a <b>SLED user account</b>, so if you don't have one yet you can create one <a href="{% url 'register' %}">here</a>.
      </p>
      <p>
	SLED allows for a lot of flexibility regarding database operations through its ownership based design, i.e. the users who own lenses, etc, are responsible for maintaining them.
	There are some safeguards built into place as well, e.g. when deleting public lenses.
      </p>
      <p>
	Various other topics are covered here too, for example, how to gain access to actual science quality data (SLED only gathers and stores metadata, including images).
	This is a continuously evolving list of questions and we keep adding information to it through user feedback and further development.
      </p>
    </div>
  </div>
  
  
  <div class="jb-section questions">

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-14">
      <h1 class="jb-heading-2">
	<label for="faq-14">
	  I cannot find an answer, where to get help?
	</label>
      </h1>
      <div class="p">
	<br>
	If you cannot find an answer to your question here, please send a message to: {{ 'sled-info@sled.amnh.org'|obfuscate_mailto }}
	<br>
	<br>
	If you haven't done so yet, you can <a href="" class="slack-invite" data-form-url="{% url 'sled_guide:slack-register-user' request.user.pk|default_if_none:1 %}">join the SLED Slack workspace</a> too.
	<br>
	<br>
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-15">
      <h1 class="jb-heading-2">
	<label for="faq-15">
	  Is there a Slack workspace for SLED?
	</label>
      </h1>
      <div class="p">
	<br>
	Of course there is! Click <a href="" class="slack-invite" data-form-url="{% url 'sled_guide:slack-register-user' request.user.pk|default_if_none:1 %}">here</a> to join.
	<br>
	<br>
      </div>
    </div>

    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="web-query">
      <h1 class="jb-heading-2">
	<label for="web-query">
	  How to make a &nbsp;<b>query</b>&nbsp;?
	</label>
      </h1>
      <div class="p">
	<br>
	<h2>Preparation</h2>
	<p>
	  Before experimenting with queries yourself, have a look that the <a href="{% url 'sled_queries:lens-all-collections' %}">standard queries and collections</a> first.
	  Maybe what you are looking for is already there.
	</p>
	
	<h2>Querying</h2>
	<p>
	  The <a href="{% url 'lenses:lens-query' %}">web interface</a> is the place to start for both simple and advanced queries.
	  Joined queries, the real power of SLED, are straightforward.
	  All the query fields are explained in the <a href="{% url 'sled_guide:sled-guide' %}#querying-api-queries">guide</a>.
	</p>
	
	<h2>Processing the result</h2>
	<p>
	  <ul>
	    <li>
	      <b>Export the result</b> - the returned lenses can be downloaded in .json format by clicking on the 'Export .json' button at the end of the query result list.
	      It is possible to select which lens fields to download and any related data to attch to them.
	    </li>
	    <li>
	      <b>Make a collection</b> - you can select some or all returned lenses by clicking on the checkboxes and create a new collection, or add them to an existing one.
	    </li>
	    <li>
	      <b>Save the query</b> - the query parameters can be saved by cliking the 'Save query' button at the top of the query results.
	      Saved queries can be accessed in your <a href="{% url 'sled_queries:queries-list' %}">user profile</a>.
	      In contrast to a collection, these queries are dynamic and will return any newly injected lenses when used.
	    </li>
	  </ul>
	</p>
	<br>
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-2">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-2">
	  <b>Querying</b>&nbsp; the API for the RA,DEC only? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>
    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-3">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-3">
	  How to make an API &nbsp;<b>query</b>&nbsp; using all the advanced features? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-12">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-12">
	  What about &nbsp;<b>massive queries</b>&nbsp; involving the entire database? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>  
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="how-to-inject-lenses">
      <h1 class="jb-heading-2">
	<label for="how-to-inject-lenses">
	  How to &nbsp;<b>add</b>&nbsp; new lenses?
	</label>
      </h1>
      <div class="p">
	<br>
	<h2>Preparation</h2>
	<p>
	  You will need a <b>SLED user account</b>, at least the <b>RA and DEC</b> of your lenses, and an <b>image of each lens</b> (.jpeg, .png, or .jpg).
	  More details on all the different information that one can upload with each lens can be found in the <a href="{% url 'sled_guide:sled-guide' %}#object-specs-lens">guide</a>.
	  The recommended approach is to upload lenses as private (PRI) and then make them public at a later time once any mistakes will have been spotted and fixed.
	</p>
	
	
	<h2>A few lenses</h2>
	<p>
	  If you have only a handful of new lenses to inject, then use the <a href="{% url 'lenses:lens-add' %}">web interface</a>.
	</p>
	
	
	<h2>Large numbers of lenses</h2>
	<p>
	  Using the web interface for uploading more than a handful of lenses can be impractical.
	  There is the alternative option to upload lenses using scripts from the command line or from ipython notebooks.
	  Just follow these two steps:
	  <ol>
	    <li>
	      Use this <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_simple_query.ipynb" target="_blank">simple query script</a> to perform a query to the database at your RA,DEC.
	      This will identify any lenses from your sample that may already exist in the database.
	      If such lenses are found, then before injecting your sample you may:
	      <ul>
		<li>
		  Remove them from your sample completely (you can still suggest updates to the existing ones or add data). <u>This is the recommended approach</u>.
		</li>
		<li>
		  Inject them anyway and resolve the duplicate entries via the website functionality.
		</li>
	      </ul>
	    </li>
	    <li>
	      Use this <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_upload_lenses.ipynb" target="_blank">upload script</a> to inject your lenses in the database.
	      The script reports any conflicts, such as duplicates within your sample, non-matching coordinates, etc, that need to be resolved before uploading.
	      You are free to choose which other SLED fields you want to include, besides the RA, DEC, and a lens image.
	      It is recommended to upload the lenses with <b>restricted (private) access (PRI)</b>, in order to avoid any mistakes.
	    </li>
	  </ol>	  
	</p>
	
	
	<h2>Final steps</h2>
	<p>
	  <ul>
	    <li>
	      <b>What's next?</b> - Upon successful upload, the new lenses will appear in your <a href="{% url 'sled_users:user-profile' %}#lenses">user profile</a>.
	      You will be the owner of these lenses and responsible for keeping them up-to-date.
	    </li>
	    <li>
	      <b>Private vs Public</b> - If you uploaded your lenses with private access (PRI), then you can select which other users or groups are able to see them.
	      You can either do this for each lens individually by clicking the 'Give access' button on its page, or select several lenses from your <a href="{% url 'sled_users:user-profile' %}#lenses">user profile</a> lens tab and click the ‘Give access’ button at the bottom of the page.
	      Any lenses that are uploaded as public (PUB) will need to be visually confirmed by another SLED user with the role of an <a href="{% url 'sled_users:user-query' %}?role=Inspector">Inspector</a>.
	      They are termorarily injected in the database as private and will be made available to all SLED users as soon as the related <a href="{% url 'sled_guide:sled-guide' %}#task-inspect-images">Inspect Images</a> task is completed.
	    </li>
	    <li>
	      <b>A collection of your new lenses</b> - You can optionally use <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_create_collection.ipynb" target="_blank">this script</a> to create a SLED collection with the lenses you just uploaded (or you can do it by hand from your user profile page).
	    </li>
	  </ul>
	</p>
	<br>
      </div>
    </div>
    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="how-to-inject-data">
      <h1 class="jb-heading-2">
	<label for="how-to-inject-data">
	  How to &nbsp;<b>add</b>&nbsp; data associated to lenses?
	</label>
      </h1>
      <div class="p">
	<br>
	<h2>Preparation</h2>
	<p>
	  You will need a <b>SLED user account</b> and the lenses for which you want to upload data, e.g. have them gathered in a collection or know their <b>RA and DEC</b> (you don't have to be the owner of the lenses in order to upload and associate data to them).
	  There are 6 types of data that can be associated to lenses, each with its own fields described in detail in the guide:
	  <ul>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-imaging">Imaging data</a></li>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-spectrum">Spectrum</a></li>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-catalogue">Catalogue data</a></li>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-redshift">Redshift</a></li>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-genericimage">Generic Image</a></li>
	    <li><a href="{% url 'sled_guide:sled-guide' %}#object-specs-model">Lens Model</a></li>
	  </ul>
	  The more of these fields that can be injected in SLED the better.
	  The mandatory fields for each type are included in the example scripts below and will be indicated during submission time (if missing) through the website or API.
	  The recommended approach is to upload data as private (PRI) and then make them public at a later time once any mistakes will have been spotted and fixed.
	</p>
	<p>
	  <u><b>NOTE:</b> SLED automatically fetches some data for newly injected lenses as described in the <a href="{% url 'sled_guide:sled-guide' %}#auto-fetching-data">guide</a>.</u>
	</p>


	<h2>A few images, spectra, etc</h2>
	<p>
	  A typical use case is having just a few images, redshifts, etc, that you are trying to inject for a single, or a few lenses.
	  The best way to achieve this is to go directly to each lens page on the website, e.g. for <a href="https://sled.amnh.org/lenses/detail/5">Q2237+0305</a>, and click on the 'Add imaging data', 'Add redshift', etc, buttons.
	</p>


	<h2>Mass data injection</h2>
	<p>
	  When lots of data needs to be added for several lenses, then the best approach is to use scripts from the command line or ipython notebooks.
	  Matching data to existing lenses happens through their <b>RA and DEC</b>, which should uniquely identify a lens in SLED.
	  Follow these two steps: 
	  <ol>
	    <li>
	      Use this <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_simple_query.ipynb" target="_blank">simple query script</a> to perform a query to the database at your RA,DEC.
	      This will ensure that all the lenses that you are adding data to exist in the database.
	      If some lenses are missing, then follow the instructions on <a class="same-page" href="#how-to-inject-lenses">how to inject new lenses</a> first.
	    </li>
	    <li>
	      Use these scripts to upload each type of data:
	      <ul>
		<li><a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_upload_imaging_data.ipynb" target="_blank">Imaging data</a></li>
		<li><a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_upload_spectra.ipynb" target="_blank">Spectrum</a></li>
		<li><a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_upload_redshifts.ipynb" target="_blank">Redshift</a></li>
		<li><a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_upload_generic_images.ipynb" target="_blank">Generic Image</a></li>	
		<li>Catalogue data - can only be uploaded by the admins for now</li>
		<li>Lens Model - coming soon</li>
	      </ul>
	      The scripts will report any conflicts, such as missing fields, non-matching coordinates, wrong values, etc, that need to be resolved before uploading.
	      It is recommended to upload the data with <b>restricted (private) access (PRI)</b>, in order to avoid any mistakes.
	    </li>
	  </ol>
	</p>


	<h2>Final steps</h2>
	<p>
	  <ul>
	    <li>
	      <b>What's next?</b> - Upon successful upload, the fresh data will appear in your user profile under the respective tab, e.g. <a href="{% url 'sled_users:user-profile' %}#generic-images">here for Generic Images</a>.
	      You will be the owner of these data and responsible for keeping them up-to-date.
	    </li>
	    <li>
	      <b>Private vs Public</b> - If you uploaded your data with private access (PRI), then you can select which other users or groups are able to see them; locate the respective tab ('Imaging data', 'Sepctra', etc) in your <a href="{% url 'sled_users:user-profile' %}">user profile</a> page, select several objects that you want to share with other users and groups, and click the 'Give access' button at the bottom.
	      If you uploaded Imaging data, Spectra, or Generic Images with public access (PUB) then they will be temporarily stored as private.
	      The reason is that, similarly to lenses, their associated images will need to be inspected and approved by another SLED user with the role of an <a href="{% url 'sled_users:user-query' %}?role=Inspector">Inspector</a>.
	      They will be made available to all SLED users as soon as the related <a href="{% url 'sled_guide:sled-guide' %}#task-inspect-images">Inspect Images</a> task is completed.
	    </li>
	  </ul>
	</p>
	<br>
      </div>
    </div>
    


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="how-to-spectra">
      <h1 class="jb-heading-2">
	<label for="how-to-spectra">
	  How to &nbsp;<b>add</b>&nbsp; spectra?
	</label>
      </h1>
      <div class="p">
	<br>
	<p>
	  The procedure to follow for adding spectra is the same as described in <a class="same-page" href="#how-to-inject-data">&quot;How to add data associated to lenses?&quot;</a>.
	  However, you will need to prepare a figure with the plot of the spectrum.
	  In order to facilitate this, as well as have a uniform style for all the spectrum plots in SLED, we provide a plotting script <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_plot_spectrum.py">here</a>.
	</p>
	<br>
      </div>
    </div>
    

    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-7">
      <h1 class="jb-heading-2">
	<label for="faq-7">
	  How to &nbsp;<b>add</b>&nbsp; a paper?
	</label>
      </h1>
      <div class="p">
	<br>
	
	<h2>Preparation</h2>
	<p>
	  You will need a <b>SLED user account</b>, the <a href="https://en.wikipedia.org/wiki/Bibcode" target="_blank">bibcode</a> of the paper (e.g. from ADS), the lenses that are part of the paper, e.g. getting their <b>RA and DEC</b> from exporting an existing collection, and the association of each lens to a paper through 3 possible flags: <b>discovery</b>, <b>classification</b>, and <b>model</b>.
	  All the lenses will need to be already injected in SLED and made <b>public</b> - no private lenses can be associated with papers.	      
	</p>
		
	<h2>Adding a paper</h2>
	<p>
	  Papers can be added only through the API - there is no associated web interface for that.
	  <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_create_paper.ipynb" target="_blank">This script</a> allows for uploading a paper to SLED and it will report any conflicts, such as non-matching coordinates, existing paper, etc, that need to be resolved before uploading.
	  SLED retrieves information about the paper (e.g. authors, year, etc) automatically from ADS based on the provided bibcode.
	</p>

	<h2>Important note</h2>
	<p>
	  Papers should be immutable collections of lenses, therefore updating them is not straightforward by design.
	  If any mistake is spotted after uploading a paper, e.g. omitting a lens or wrongly including another one, then the paper will have to be deleted and re-uploaded.
	  There is a safeguard in place to force exporting the paper before deleting in, which ensures no data is lost.
	  The exported .json file can serve as a starting point to fix mistakes and re-upload the paper.
	</p>
	
	<br>
	<br>
      </div>
    </div>


    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-16">
      <h1 class="jb-heading-2">
	<label for="faq-16">
	  How to &nbsp;<b>add</b>&nbsp; a collection?
	</label>
      </h1>
      <div class="p">
	<br>
	<h2>Preparation</h2>
	<p>
	  You will need a <b>SLED user account</b> and the lenses that you want to include in your collection, e.g. knowing their RA and DEC or from the result of a query.
	  The recommended approach is to create a collection as private (PRI) and then make it public at a later time once any mistakes will have been spotted and fixed.
	</p>
	
	
	<h2>A few lenses</h2>
	<p>
	  If you have only a handful of new lenses to include in your collection, then start by <a href="{% url 'lenses:lens-query' %}">performing a query</a> based on their RA and DEC.
	  You can select which of the returned lenses you want (click the checkbox next to each lens) and then click the 'Make collection' button at the bottom of the query result page.
	  Follow the steps to create a collection that will contain the lenses you just selected.
	  You can repeat this step to add more lenses to your collection.
	</p>
	
	
	<h2>Large numbers of lenses</h2>
	<p>
	  If you have a collection that includes several lenses from start, then the best option is to use the API to create it.
	  You will need to know the RA and DEC of the target lenses beforehand and use <a href="https://github.com/gvernard/SLED_api/blob/master/examples/howto_create_collection.ipynb" target="_blank">this script</a> to create a collection that will contain them.
	  The script reports any conflicts, such as non-matching coordinates from your sample, existing collection name, etc, that need to be resolved before uploading.
	</p>
	
	
	<h2>Final steps</h2>
	<p>
	  <ul>
	    <li>
	      <b>What's next?</b> - Upon successful upload, the new collection will appear in your <a href="{% url 'sled_collections:collections-list' %}">collection list</a>.
	      From this page, you can select a collection, go to its main page, and update its details or keep adding/removing lenses from it.
	      Finally, you can add any specific lens to your collection by clicking the 'Add to collection' button on its main page, e.g. add <a href="https://sled.amnh.org/lenses/detail/5">Q2237+0305</a> to an existing collection.
	    </li>
	    <li>
	      <b>Private vs Public</b> - If you uploaded your collection with private access (PRI), then you can select which other users or groups are able to see it by clicking the 'Give access' button on its page.
	      Public collections are immediately visible to all SLED users.
	    </li>
	    <li>
	      <b>Querying collections</b> - It is possible to restrict the result of any query on lenses included in one or more collections.
	      The names of these collections can be specified in the 'Management' tab on the <a href="{% url 'lenses:lens-query' %}">main query page</a>.
	    </li>
	  </ul>
	</p>
	<br>
      </div>
    </div>

    
    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-4">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-4">
	  How to &nbsp;<b>update</b>&nbsp; lenses? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>


    
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-5">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-5">
	  How to &nbsp;<b>update</b>&nbsp; data? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>
    

    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-9">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-9">
	  How to &nbsp;<b>update</b>&nbsp; a paper? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>
    
    
   
    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-10">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-10">
	  Is &nbsp;<b>deleting</b>&nbsp; lenses, data, and anything else possible? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>


    <div class="c c-user">
      <input class="accordion-checkbox" type="checkbox" id="faq-8">
      <h1 class="coming-soon jb-heading-2">
	<label for="faq-8">
	  What about actual &nbsp;<b>scientific data</b>? - coming soon
	</label>
      </h1>
      <div class="p">
	Coming soon
      </div>
    </div>
    
  </div>
  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'sled_users/css/sled_users.css' %}" rel="stylesheet" />
<link href="{% static 'sled_guide/css/howto.css' %}" rel="stylesheet" />
{% endblock extrastyles %}

  
{% block extrascripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript" src="{% static 'sled_guide/js/howto.js' %}"></script>
{% endblock extrascripts %}
