{% extends "modal_base.html" %}

{% block title %}
<a href="{{ catalogue.lens.get_absolute_url }}">{{ catalogue.lens }}</a>
<br>
{{ catalogue.instrument }} {{ catalogue.band }} band
{% endblock title %}

{% block content %}
<div class="jb-container-modal jb-table-no-lines">
  
  <table>
    <tr><td>Owner:</td><td>{{ catalogue.owner.id|get_user_link|safe }}</td></tr>
    <tr><td>Access level:</td><td>{{ catalogue.access_level }}</td></tr>
    <tr><td>Date taken:</td><td>{{ catalogue.date_taken }}</td></tr>
    <tr><td>RA:</td><td>{{ catalogue.radet }}</td></tr>
    <tr><td>DEC:</td><td>{{ catalogue.decdet }}</td></tr>
    <tr><td>Mag:</td><td>{{ catalogue.mag }}</td></tr>
    <tr><td>&Delta; Mag:</td><td>{{ catalogue.Dmag|default:"-" }}</td></tr>
    <tr><td>Distance [arcsec]:</td><td>{{ catalogue.distance|default:"-" }}</td></tr>
    <tr><td>Info:</td><td>{{ catalogue.info|default:"-" }}</td></tr>
  </table>
  
  {% if catalogue.future %}
  Future
  {% else %}
  &nbsp;
  {% endif %}

</div>
{% endblock content %}
