{% extends 'master_header.html' %}
{% load static %}


{% block content %}

<div class="jb-container">
  <h1 class="jb-heading-1">Update {{ plural }}</h1>

  <div class="jb-table-no-lines">

    <form id="formset" formset-prefix="{{ data_formset.prefix }}" method="POST" enctype="multipart/form-data">
      <div>
        {% csrf_token %}
        {{ data_formset.management_form }}

	{% if data_formset.non_form_errors|length > 0 %}
	<div class="invalid jb-modal-field">
	  <ul>
	    {% for error in data_formset.non_form_errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</div>
	{% endif %}

	<input type="hidden" name="obj_type" value="{{ model }}">
	
        <table id="sled-data-table">
          {% for form in data_formset.forms %}
          <tr>
            <td>

              <div class="sled-row-content">
                <table>
                  <tr>
                    <td>
                      <h3 class="sled-data-counter">
			{{ forloop.counter }}: 
			<a href="{{ form.instance.lens.get_absolute_url }}">{{ form.instance.lens }}</a> - 
			{% if model == 'Imaging' or model == 'Catalogue' %}
			{{ form.instance.instrument }} {{ form.instance.band }}
			{% else %}
			{{ form.instance.instrument }}
			{% endif %}
		      </h3>
                    </td>
                    <td class="sled-delete-button" style="float:right;"></td>
                  </tr>
                </table>

		{% if form.non_field_errors|length > 0 %}
		<div class="invalid jb-modal-field">
		  <ul>
		    {% for error in form.non_field_errors %}
		    <li>{{ error }}</li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}

                {{ form.id }}

                <table class="jb-update-data">
                  <tr>
                    <!-- First column -->
                    <td>
                      <div>
                        <table>
			  <tbody>
			    {% for field in form.visible_fields %}
			    {% if field.name != 'image' %}
			    <tr>
			      <td>
				<div class="invalid jb-modal-field">
				  <ul>
				    {% for error in field.errors %}
				    <li>{{ error|safe }}</li>
				    {% endfor %}
				  </ul>
				</div>
			      </td>
			      <td>
				<div class="sled-help-tooltip">{{ field.label|safe }}</div>
				<div class="sled-help-tooltip-content">{{ field.help_text|safe }}</div>
			      </td>
			      <td>{{ field }}</td>
			    </tr>
			    {% endif %}
			    {% endfor %}
			  </tbody>
                        </table>
                      </div>
                    </td>


                    <!-- Second column -->
                    <td>
		      {% if model == 'Imaging' or model == 'Spectrum' %}
                      <div>
                        <table class="jb-paragraph-2">
			  <tr>
			    <td colspan="1" style="text-align:center">
                              {% if form.instance.image %}
                              <img class="sled-mugshot-image" src="{{ form.instance.image.url }}" alt="Image">
                              {% else %}
                              <img class="sled-mugshot-image" src="">
                              {% endif %}
			    </td>
			  </tr>
                          <tr>
                            <td style="text-align:center">
			      {{ form.image.errors }}
                              {{ form.image }}
			    </td>
                          </tr>
                        </table>
                      </div>
		      {% endif %}
                    </td>

                  </tr>
                </table>
              </div>

            </td>
          </tr>
          {% endfor %}
        </table>

      </div>



      <div>
        <button type="submit" class="jb-submit-button-1">
	  <img src="{% static 'icons/pencil.svg' %}" >
	  Update
	</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}




{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/set_help.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    function readURL(input, $img) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $img.attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(document).on("change", "input[name*='image']", function() {
      var $img = $(this).parent().parent().parent().find('img');
      readURL(this, $img);
    });

      set_help();
  });
</script>
{% endblock extrascripts %}
