{% extends "modal_base.html" %}
{% load project_tags %}

{% block title %}
Delete {% singular_or_plural form.obj_type.value items|length %}?
{% endblock title %}

{% block content %}
<div class="jb-container-modal">

  <div class="jb-modal-field jb-table-no-lines">
    <table>
      {% for item in items %}
      <tr>
	<td>
          {{ item }}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  {{ form.ids }}
  {{ form.obj_type }}
  
</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">Delete</button>
{% endblock action_button %}
