{% extends "modal_base.html" %}

{% block title %}
{{ imaging.instrument }} - {{ imaging.band }}
{% endblock title %}

{% block content %}
<table>
  <tr><td>Owner:</td><td>{{ imaging.owner }}</td></tr>
  <tr><td>Access level:</td><td>{{ imaging.access_level }}</td></tr>
  <tr><td>Date taken:</td><td>{{ imaging.date_taken }}</td></tr>
  <tr><td>Exp. time:</td><td>{{ imaging.exposure_time }}</td></tr>
  <tr><td>Pixel size:</td><td>{{ imaging.pixel_size }}</td></tr>
  <tr><td>Info:</td><td>{{ imaging.info }}</td></tr>
</table>

<img src="{{ imaging.image.url }}" style="width:100%">
{% endblock content %}
