{% extends "modal_base.html" %}


{% block title %}
Update Imaging data
{% endblock title %}


{% block content %}
<div class="jb-container">
  Update imaging data taken by <strong>{{ imaging.instrument.name }}</strong> in the <strong>{{ imaging.band.name }}</strong> band for this lens.
</div>

<div class="{% if form.non_field_errors %}invalid{% endif %}">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>

<div class="jb-modal-field jb-table-no-lines">
  <table>
    <tbody>
      {% for field in form %}
      <tr>
	<td>{{ field.name }}</td>
	<td>{{ field }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}


{% block action_button %}
<button type="submit" class="jb-submit-button-1">Update</button>
{% endblock action_button %}
