{% extends "modal_base.html" %}
{% load project_tags %}

{% block title %}
<a href="{{ imaging.lens.get_absolute_url }}">{{ imaging.lens }}</a>
<br>
{{ imaging.instrument }} {{ imaging.band }} band
{% endblock title %}

{% block content %}
<div class="jb-container jb-table-no-lines">
  
  <table>
    <tr><td>Owner:</td><td>{{ imaging.owner.id|get_user_link|safe }}</td></tr>
    <tr><td>Access level:</td><td>{{ imaging.access_level }}</td></tr>
    <tr><td>Date taken:</td><td>{{ imaging.date_taken }}</td></tr>
    <tr><td>Exposure time [s]:</td><td>{{ imaging.exposure_time|default:"-" }}</td></tr>
    <tr><td>Pixel size [arcsec]:</td><td>{{ imaging.pixel_size|default:"-" }}</td></tr>
    <tr><td>Info:</td><td>{{ imaging.info|default:"-" }}</td></tr>


  {% if imaging.url %}
  Data URL: <a href={{ imaging.url }}> {{ imaging.url }} </a>
  {% endif %}
  
  {% if imaging.future %}
  Future
  {% else %}


  <img src="{{ imaging.image.url }}" style="width:100%">
  {% endif %}

</div>
{% endblock content %}
