{% extends "modal_base.html" %}
{% load project_tags %}


{% block title %}
<a href="{{ spectrum.lens.get_absolute_url }}">{{ spectrum.lens }}</a>
<br>
{{ spectrum.instrument }}
{% endblock title %}


{% block content %}
<div class="jb-container-modal jb-table-no-lines">
  
  <table>
    <tr><td>Owner:</td><td>{{ spectrum.owner.id|get_user_link|safe }}</td></tr>
    <tr><td>Access level:</td><td>{{ spectrum.access_level }}</td></tr>
    <tr><td>Date taken:</td><td>{{ spectrum.date_taken }}</td></tr>
    <tr><td>&lambda;<sub>min</sub> [nm]:</td><td>{{ spectrum.lambda_min|default:"-" }}</td></tr>
    <tr><td>&lambda;<sub>max</sub> [nm]:</td><td>{{ spectrum.lambda_max|default:"-" }}</td></tr>
    <tr><td>Exposure time [s]:</td><td>{{ spectrum.exposure_time|default:"-" }}</td></tr>
    <tr><td>Resolution [nm]:</td><td>{{ spectrum.resolution|default:"-" }}</td></tr>
    <tr><td>Info:</td><td>{{ spectrum.info|default:"-" }}</td></tr>
  </table>
  
  {% if spectrum.future %}
  Future
  {% else %}
  <img src="{{ spectrum.image.url }}" style="width:100%">
  {% endif %}

</div>
{% endblock content %}
