.jb-container {
  margin: auto;
  max-width: 940px;
}

.jb-homepage-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 940px;
  margin-top: 75px;
}

.jb-homepage-container p {
  margin: auto;
  font-family: basic-sans, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.jb-homepage-container img {
  width: 100%;
  height: 100%;
  padding-left: 25px;
}

.jb-navbar-container {
  margin: auto;
  max-width: 940px;
  padding-top: 20px;
}

.jb-navbar {
  padding-top: 20px;
  padding-bottom: 10px;
}

.jb-navbar a {
  font-family: basic-sans, sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  margin-left: 40px;
}

.jb-navbar-login {
  color: #ACACAC !important;
  margin-left: 40px;
  float: right;
}

.jb-nav-brand {
  position: relative;
  float: left;
  color: #333333;
  padding-top: 20 px;
}