{% extends 'targets/header.html' %}

{% block content %}


    <div class="section">
        <h1>Time-delays overview</h1>
    </div>

        <div class="content container">
            <p class="comment">Click on the names for detailed information. Click on the headers to sort the table.</p>
        </div>

        <div class="content container">
            <table class="sortable">
                <tr>
                    <th class="th-center">Name</th>
                    <th class="th-center">Measured/published delay(s)</th>
                    <th class="th-center">Modeled delay(s)</th>
                    <th class="th-center">Comment</th>
                </tr>
            {% for target in targets %}
                <tr>
                    <td class="td-center"><a href="{% url 'targets:target_detail' target_name=target.name %}">{{target.name}}</a></td>
                    <td class="td-center">{{target.tdmeas}}</td>
                    <td class="td-center">{{target.tdmodel}}</td>
                    <td class="td-center">{{target.tdcomment}}</td>
                </tr>
            {% endfor %}
            </table>


        </div>







{% endblock content %}
