{% extends 'lenses/header.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>List of confirmed gravitationally lensed quasars</h1>
    </div>

    <div class="content container">
        <p class="comment">Click on the names for detailed information. Click on the headers to sort the table.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Type (LENS-SOURCE)</th>
                <th class="th-center">Lens redshift</th>
                <th class="th-center">Source redshift</th>
                <th class="th-center">Right Ascension J2000</th>
                <th class="th-center">Declination J2000</th>
                <th class="th-center">Number of Images</th>

            </tr>
        {% for lens in lenses %}
            <tr>
                <td class="td-center"><a href="{% url 'lenses:lens_detail' lens_name=lens.name %}">{{lens.name}}</a></td>
                <td class="td-center">{{lens.kind_acronym}}</td>
                <td class="td-center">{{lens.zlens|floatformat:2}}</td>
                <td class="td-center">{{lens.zsource|floatformat:2}}</td>
                <td class="td-center">{{lens.ra|floatformat:5}}</td>
                <td class="td-center">{{lens.dec|floatformat:5}}</td>
                <td class="td-center">{{lens.nbimgs}}</td>

            </tr>
        {% endfor %}
        </table>


    </div>

{% endblock content %}

