{% extends 'lenses/header.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>{{method.name}}</h1>
    </div>


    <div class="content container">
        <table>
            <tr>
                <th class="th-center">Method Description</th>
            </tr>
             <tr>
                <td class="td-center">{{method.method_comment}}</td>
            </tr>
        </table>
    </div>


    <div class="section">
        <h1>Lens candidates overview</h1>
    </div>

    <div class="content container">
	<div id="form_container">

		<form id="form_57257" class="appnitro"  method="get" action="">
            <div class="form_description">
                <p>Input Ra and Dec coordinates for more detailed search</p>
            </div>

            <div>
                <label class="description" for="ra_min">Ra min </label>
                <input id="ra_min" name="ra_min" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="ra_max">Ra max </label>
                <input id="ra_max" name="ra_max" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="dec_min">Dec min </label>
                <input id="dec_min" name="dec_min" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="dec_max">Dec max </label>
                <input id="dec_max" name="dec_max" class="element text medium" type="text" maxlength="255" value=""/>

                <input type="hidden" name="form_id" value="57257" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                <input id="saveForm" class="button_text" type="submit" name="download" value="Download" />
            </div>
		</form>
	</div>
    </div>

    <div class="content container">
        <p class="comment">Click on the names for detailed information. Click on the headers to sort the table.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Lens redshift</th>
                <th class="th-center">Source redshift</th>
                <th class="th-center">Right Ascension J2000</th>
                <th class="th-center">Declination J2000</th>
                <th class="th-center">Found by X Methods</th>

            </tr>
        {% for lens in lenses %}
            <tr>
                <td class="td-center"><a href="{% url 'lenses:lens_detail' lens_name=lens.name %}">{{lens.name}}</a></td>
                <td class="td-center">{{lens.zlens|floatformat:2}}</td>
                <td class="td-center">{{lens.zsource|floatformat:2}}</td>
                <!-- <td class="td-center">{{lens.ra_HH|floatformat:0}}:{{lens.ra_MM|floatformat:0}}:{{lens.ra_SS|floatformat:2}}</td> -->
                <td class="td-center">{{lens.ra|floatformat:5}}</td>
                <!--<td class="td-center">{{lens.dec_DD|floatformat:0}}:{{lens.dec_MM|floatformat:0}}:{{lens.dec_SS|floatformat:2}}</td> -->
                <td class="td-center">{{lens.dec|floatformat:5}}</td>
                <td class="td-center">{{lens.lens_finding_method__count}}</td>

            </tr>
        {% endfor %}
        </table>


    </div>

    <div class="content container">
        <table>
            <tr>
                <th class="th-center">Referencing Paper</th>
            </tr>
            <table>
                {% for paper in method.referenced_papers.all %}
                <tr>
                    <th class="td-center" colspan="5">{{paper.Title}}</th>
                </tr>
                <tr>
                    <td class="td-center" colspan="5">{{paper.abstract}}</td>
                </tr>
                <tr>
                    <td class="td-center"> Date: {{paper.Publication_time}}</td>
                    <td class="td-center"> Identifier: {{paper.identifier}}</td>
                    <td class="td-center"> Eprint: {{paper.eprint}}</td>
                    <td class="td-center"> <a href={{paper.ads_absolute_link}}>ADS:{{paper.bibcode}}</a></td>
                    <td class="td-center"> DOI: {{paper.doi}}</td>
                </tr>
                {% endfor %}
            </table>
        </table>
    </div>


{% endblock content %}
