{% extends 'targets/header.html' %}


{% block content %}


    <div class="section">
        <h1>Monitoring overview</h1>
    </div>

        <div class="content container">
            <p class="subsection">soon...</p>
        </div>


    <div class="section">
        <h1>Telescope overview</h1>
    </div>

        <div class="content container">
            <p class="comment">Click on the names for detailed information. Click on the headers to sort the table.</p>
        </div>


        <div class="content container">
            <table class="sortable">
                <tr>
                    <th class="th-center">Name</th>
                    <th class="th-center"># currently monitored targets</th>
                    <th class="th-center"># targets monitored in the past</th>
                </tr>
            {% for tel in telescopes %}
                <tr>
                    <td class="td-center"><a href="{% url 'targets:telescope_detail' telescope_name=tel.name %}">{{tel.name}}</a></td>
                    <td class="td-center">{{tel.nstatuses_now}}</td>
                    <td class="td-center">{{tel.nstatuses_past}}</td>
                </tr>
            {% endfor %}
            </table>


        </div>

{% endblock content %}

