{% extends 'lenses/header.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Paper overview</h1>
    </div>

    <div class="content container">
        <p class="comment">Click on the paper for . Click on the headers to sort the table.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Authors</th>
                <th class="th-center">Publication Date</th>
                <th class="th-center">All uploaded?</th>

            </tr>
        {% for paper in papers %}
            <tr>
                {% if paper.bibcode %}
                    <td class="td-center"><a href="{% url 'lenses:paper_det2' paper_bibcode=paper.bibcode %}">{{paper.Title}}</a></td>
                {% else %}
                    <td class="td-center"><a href="{% url 'lenses:paper_detail' paper_Title=paper.Title %}">{{paper.Title}}</a></td>
                {%endif%}
                <td class="td-center">{{paper.Authors}}</td>
                <td class="td-center">{{paper.Publication_year}}-{{paper.Publication_month}}</td>
                <td class="td-center">{{paper.alluploaded}}</td>

            </tr>
        {% endfor %}
        </table>


    </div>

{% endblock content %}

