{% load staticfiles %}
{% block content %}


    <div>
        <center>
        <h1>Access denied...</h1>
        </center>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
    <td>
       <a href="http://blueballfixed.ytmnd.com/"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif">
           <img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"><img src="http://i.imgur.com/QH8aoXL.gif"></a>

    </td>
  </tr>

</table>
    </div>


{% endblock content %}