{% extends 'targets/header.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>{{telescope.name}}</h1>
    </div>


    <div class="content container">
        <p class="comment">Click on the names for detailed information. Click on the headers to sort the table.</p>
    </div>

    <div class="content container">

        <center><p class="subsection">Currently monitoring</p></center>

        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Lens redshift</th>
                <th class="th-center">Source redshift</th>
                <th class="th-center"># of images</th>
            </tr>

        {% for m in monitored %}
            {% if m.status %}
            <tr>
                <td class="td-center"><a href="{% url 'targets:target_detail' target_name=m.target.name %}">{{m.target.name}}</a></td>
                <td class="td-center">{{m.target.zlens|floatformat:2}}</td>
                <td class="td-center">{{m.target.zsource|floatformat:2}}</td>
                <td class="td-center">{{m.target.nbimgs|floatformat:0}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>


        <center><p class="subsection">Monitored in the past</p></center>

        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <th class="th-center">Lens redshift</th>
                <th class="th-center">Source redshift</th>
                <th class="th-center"># of images</th>
            </tr>

         {% for m in monitored %}
            {% if not m.status %}
            <tr>
                <td class="td-center"><a href="{% url 'targets:target_detail' target_name=m.target.name %}">{{m.target.name}}</a></td>
                <td class="td-center">{{m.target.zlens}}</td>
                <td class="td-center">{{m.target.zsource}}</td>
                <td class="td-center">{{m.target.nbimgs}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>

    </div>

{% endblock content %}