{% extends 'lenses/header.html' %}
{% load humanize %}

{% block content %}

    <div class="section">
        <h1>Add Lenses/Candidates to Database</h1>
    </div>

    <div class="editor-contents">
        <p class="uploadpage"> To add lens candidates to the database, please upload a csv file formatted like the following examples. If you want to associate a discovery method to new candidates, and if the discovery method does not already exist in <a href="{% url 'lenses:methods' %}" target="_blank">this list</a>, it can be added <a href="{% url 'lenses:post_method' %}" target="_blank">here</a>. The ra, dec, lenstype, and confirmed columns must be filled for the entry to be successfully added to the database. </p>

	<pre class=python-exec"><code>ra, dec, confirmed, lenstype, survey, score, zl, zs, einrad, bibcode, method, comment, flag_contam <br>177.1381, 19.5009, True, GAL-GAL, SDSS, 1.0, 0.444, 2.379, 5.0, 2007ApJ...671L...9B, Blue_around_Red, a.k.a. the Cosmic Horseshoe, False </code> </pre>

	<pre class=python-exec"><code>ra, dec, confirmed, lenstype, survey, score, zl, zs, einrad, bibcode, method, comment, flag_contam
0.96401, 45.92215, False, GAL-QSO, , , , , , 2018MNRAS.479.5060L, Gaia DR1 xmatch WISE, quasar+star, True
2.83435, -8.76407, True, GAL-QSO, , , , 1.70, , 2018MNRAS.479.5060L, Gaia DR1 xmatch WISE, , False
7.09369, 6.53195, True, GAL-QSO, , , , 1.06, , 2018MNRAS.479.5060L, Gaia DR1 xmatch WISE, , False
7.56378, -15.41752, True, GAL-QSO, , , , 3.36, , 2018MNRAS.479.5060L, Gaia DR1 xmatch WISE, , False</code> </pre>


   <pre class=python-exec"><code>ra, dec, confirmed, lenstype, survey, score, zl, zs, einrad, bibcode, method, comment, flag_contam
35.463205, -6.792405, True, GAL-GAL, DES, , 0.672, 2.725, 6, 2016ApJ...827...51N, Visual_Inspection, , 
42.534995, 0.137950, False, GAL-GAL, DES, , 0.841, 1.2081, 7, 2016ApJ...827...51N, Visual_Inspection, , 
52.369631, -28.327630, True, GAL-GAL, DES, , 0.655, 1.2976, 7, 2016ApJ...827...51N, Visual_Inspection, , 
52.737216, -52.470283, True, GAL-GAL, DES, , 0.463, 1.4541, 8, 2016ApJ...827...51N, Visual_Inspection, , 
71.553645, -51.442376 , True, GAL-GAL, DES, , 0.746, 3.207, 7, 2016ApJ...827...51N, Visual_Inspection, , 
354.029719, -53.876581, True, GAL-GAL, DES, , 0.530, 1.1528, 5, 2016ApJ...827...51N, Visual_Inspection, , </code> </pre>

   <pre class=python-exec"><code>ra, dec, confirmed, lenstype, survey, score, zl, zs, einrad, bibcode, method, comment, flag_contam
234.355598, -30.171335, True, GAL-GAL, , , , , , , , , </code> </pre>

  	</div>
    <p class="listinputs"> ra: right ascension in degrees (J2000)
<br> dec: declination in degrees (J2000) 
<br> lenstype: lens type (i.e. GAL, GRP, or CLUST) followed by source type (GAL, QSO, SUPERNOVA...), e.g. GAL-QSO for a lensed quasar
<br> confirmed: True or False, for whether the lens is a definite lens (i.e. based on spectroscopy+imaging, or high-resolution imaging)
<br> survey: prefix for name in database;e.g. the above example would be SDSSJ1148+1930 (optional)
<br> score: a float ranging between 0 and 1 (optional)
<br> zl: lens redshift (optional)
<br> zs: source redshift (optional)
<br> einrad: Einstein radius (in arcseconds) (optional)
<br> bibcode: bibcode associated to the lens/candidate discovery (optional)
<br> method: this must match an existing method found in this <a href="{% url 'lenses:methods' %}" target="_blank">list</a>. If it does not exist you can add the method <a href="{% url 'lenses:post_method' %}" target="_blank">here</a> (optional)
<br> comment: add a string as a comment for the lens (e.g. another name/extra sources/etc.) (optional)
<br> flag_contam: True or False, for whether the system is a confirmed non-lens (optional, defaults to False)


  </p>
    {% if  message %}
    <div class="content container">
        {{message}}
  	</div>
    {% endif %}

    <div class="content container">
	<div id="form_container">

    <form action="" enctype="multipart/form-data"  method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
	<p class="uploadpage"><input type="submit" name="action" value="PREVIEW" style="height:50px; width:150px">
        <input type="submit" name="action" value="SUBMIT" style="height:50px; width:150px"></p>
    </form>
		</form>
	</div>

{% endblock %}





