{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}


<h1>My collections</h1>

<div>
  {% if collections %}
  <table>
    <thead>
      <tr>
	<th>Name</th>
	<th>Item type</th>
	<th>Description</th>
	<th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      {% for collection in collections %}
      <tr>
	<td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
	<td>{{ collection.item_type }}</td>
	<td>{{ collection.description }}</td>
	<td> N. items {{ collection.myitems.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No collections to show
  </p>
  {% endif %}
</div>
{% endblock content %}

