{% extends "modal_base.html" %}

{% block title %}
Make collection?
{% endblock title %}

{% block content %}
<div class="{% if form.non_field_errors %}invalid{% endif %}">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>

<div>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>

<div>
  {{ form.name }}
</div>

<div>
  {{ form.description }}
</div>

<div>
  {{ form.access_level }}
</div>

{{ form.item_type }}
{{ form.ids }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="btn btn-sm btn-primary">Make collection</button>
{% endblock action_button %}
