{% extends "modal_base.html" %}
{% load static %}


{% block title %}
Select one of your collections to add the items
{% endblock title %}


{% block content %}
<div class="jb-container-modal">
  
  {% if form.non_field_errors|length > 0 %}
  <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error|safe }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div>
  {% if form.Ncols.value == 0 %}
  You don't currently have any collections!
  {% else %}
  {{ form.target_collection }}
  {% endif %}
  </div>
  
  {{ form.ids }}
</div>
{% endblock content %}


{% block action_button %}
{% if form.Ncols.value != 0 %}
<button type="submit" class="jb-submit-button-1">
  <img src="{% static 'icons/plus.svg' %}" >
  Add to collection
</button>
{% endif %}
{% endblock action_button %}

