{% extends "modal_base.html" %}


{% block title %}
Select one of your collections to add the items
{% endblock title %}


{% block content %}
<div class="{% if form.non_field_errors %}invalid{% endif %}">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>

<div>
  {{ form.target_collection }}
</div>

{{ form.ids }}
{% endblock content %}


{% block action_button %}
<button type="submit" class="btn btn-sm btn-primary">Add to collection</button>
{% endblock action_button %}
