{% extends "modal_base.html" %}
{% load static %}


{% block title %}
Remove items from collection {{ collection.name }}?
{% endblock title %}


{% block content %}
<div class="jb-container-modal">

  <div class="jb-modal-field jb-table-no-lines">
    <table>
      {% for item in items_to_remove %}
      <tr>
	<td>
          {{ item }}
	</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  {{ form.ids }}

</div>
{% endblock content %}


{% block action_button %}
<button type=" submit" class="jb-submit-button-1">
    <img src="{% static 'icons/minus.svg' %}" >
    Remove
</button>
{% endblock action_button %}
