{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}


<div class="jb-container">
  <h1 class="jb-heading-1">Collections that I created</h1>
  {% if collections_owned %}
  <table class="jb-table">
    <thead>
      <tr>
	<th>Name</th>
	<th>Item type</th>
	<th>Description</th>
	<th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      {% for collection in collections_owned %}
      <tr>
	<td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
	<td>{{ collection.item_type }}</td>
	<td>{{ collection.description }}</td>
	<td>{{ collection.myitems.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No collections to show
  </p>
  {% endif %}
</div>


<div class="jb-container">
  <h1 class="jb-heading-1">Collections that I have access to</h1>
  {% if collections_access %}
  <table class="jb-table">
    <thead>
      <tr>
	<th>Name</th>
	<th>Item type</th>
	<th>Description</th>
	<th>Owner</th>
	<th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      {% for collection in collections_access %}
      <tr>
	<td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
	<td>{{ collection.item_type }}</td>
	<td>{{ collection.description }}</td>
	<td>{{ collection.owner }}</td>
	<td>{{ collection.myitems.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No collections to show
  </p>
  {% endif %}
</div>



<div class="jb-container">
  <h1 class="jb-heading-1">Search Collections</h1>
  <form method="POST" class="jb-form">
    {% csrf_token %}
    {{ form.search_term }}
    <input type="submit" value="Search">
  </form>
  {% if collections_search %}
  <table class="jb-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Item type</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      {% for collection in collections_search %}
      <tr>
        <td><a href="{{ collection.get_absolute_url }}">{{collection.name}}</td>
	<td>{{ collection.item_type }}</td>
        <td>{{ collection.description }}</td>
        <td>{{ collection.owner }}</td>
	<td>{{ collection.myitems.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No collections to show
  </p>
  {% endif %}
</div>

{% endblock content %}

