Dear {{ first_name }},
<br>
we received a request to reset the password for your SLED account for this email address.
To initiate the password reset process click the link below:
<br>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
<br>
This link can only be used once.
If you did not make this request, you can simply ignore this email.
<br>
{% include "emails/signature.html" %}
