.my-side-bar {
    width: 280px;
    height: 75%;
}

.my-side-bar ul {
    list-style: none;
    padding-left: 6px;
}

.whitespace {
    height: 800px;
}


.down-options {
    table-layout: fixed;
    width: 1000px;
}

.down-options td {
    vertical-align: top;
    border-top: 0px solid #ACACAC;
}

.middle {
    width: 80px;
}


.form_table {
    table-layout: fixed;
    width: 1000px;
    margin-bottom: 30px;
}

.form_table td {
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 0px solid #ACACAC;
}

.form_table td:first-child {
    vertical-align: top;
    width: 170px;
    text-align: right;
    font-weight: bold;
}
.form_table td:last-child {
    padding-left: 10px;
    text-align: left;
}

.form_table tr:last-child {
    border-bottom: 0px solid #ACACAC;
}

.choices {
    font-style: italic;
    color: #ACACAC;
}



.tasks-table td {
    vertical-align: top;
}

.tasks-table td:first-child {
    width: 180px;
    font-size: 14pt;
}

.tasks-table td:nth-child(2) {
    width: 180px;
    padding-left: 10px;
}

.tasks-table td:nth-child(3) {
    padding-left: 10px;
}

.soon {
    color: gold;
    font-weight: bold;
}
