{% load static %}
{% load project_tags %}

{% if stream %}


<table class="jb-activity">
  <tbody>

    {% with  activityCount=max_entries|stringformat:"s" %}
    {% with  activitySlice=":"|add:activityCount %}
    
    {% for action in stream|slice:activitySlice %}
    {% with N=action.action_object.myitems.all|length %}
    <tr>
      <td>
	<div data-index="{{ forloop.counter0 }}" style="display:inline-block;">
	  {% if action.data.level == "info" %}
	  <img src="{% static 'icons/info-circle-fill.svg' %}" class="filter-info2">
	  {% elif action.data.level == "success" %}
	  <img src="{% static 'icons/check-circle-fill.svg' %}" class="filter-success2">
	  {% elif action.data.level == "error" %}
	  <img src="{% static 'icons/x-circle-fill.svg' %}" class="filter-error2">
	  {% elif action.data.level == "warning" %}
	  <img src="{% static 'icons/exclamation-triangle-fill.svg' %}" class="filter-warning2">
	  {% else %}
	  {{ action.data.level }}
	  {% endif %}


	  {% if show_item_type == "Lenses" %}
	  <a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>: 
	  {% endif %}

	  
	  {# ########################### The following is for Lenses,Collections,Groups ########################### #}
          {% if action.verb == "UpdateLog" %}
          Field(s) were updated

	  
          {% elif action.verb == "CedeOwnershipLog" %}
          Owner changed from {{ action.data.previous_id|get_user_link|safe }} to {{ action.data.next_id|get_user_link|safe }}
	  

	  {% elif action.verb == "MadePublicLog" %}
	  Made public


	  {% elif action.verb == "MadePrivateLog" %}
	  Made private


	  {% elif action.verb == "ImageChangeLog" %}
	  Image changed
	  


	  {# ########################### The following is for Imaging,Spectrum,Catalogue ########################### #}
	  {% elif action.verb == "AddedTargetLog" %}
	  Added {{ action.action_object }}

	  
	  {% elif action.verb == "UpdatedTargetLog" %}
	  Updated {{ action.action_object }}


	  {% elif action.verb == "MadePublicTargetLog" %}
	  Made public {{ action.action_object }}

	  
	  {% elif action.verb == "ImageChangeTargetLog" %}
	  Image of {{ action.action_object }} changed

	  
          {% elif action.verb == "AddPaperTargetLog" %}
	  Paper <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.cite_as }}</a> was linked to this lens

	  
	  
	  {# ########################### The following is for Groups ########################### #}
          {% elif action.verb == "GiveAccessGroup" %}
          The group was granted access to {{ N }} private {% singular_or_plural action.action_object.item_type N %}


          {% elif action.verb == "RevokeAccessGroup" %}
          The group's access to {{ N }} private {% singular_or_plural action.action_object.item_type N %} was revoked

	  
          {% elif action.verb == "CedeOwnershipGroup" %}
          {{ N }} private {% singular_or_plural action.action_object.item_type N %} the group has access to changed owner
	  from {{ action.data.previous_id|get_user_link|safe }} to {{ action.data.next_id|get_user_link|safe }}

	  
          {% elif action.verb == "LeftGroup" %}
          User {{ action.actor.id|get_user_link|safe }} left the group

	  
          {% elif action.verb == "RemovedFromGroup" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} removed from the group


          {% elif action.verb == "AddedToGroup" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} added to the group


          {% elif action.verb == "MadePublicGroup" %}
	  {{ N }} private {% singular_or_plural action.action_object.item_type N %} the group has access to {{ N|pluralize:"was,were" }} made public


	  
	  {# ########################### The following is for Collections ########################### #}
	  {% elif action.verb == "AddedToCollection" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} added to the collection


          {% elif action.verb == "RemovedFromCollection" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} removed from the collection


	  
	  {% endif %}
          {{ action.timestamp|timesince }} ago
	</div>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    {% endwith %}
  </tbody>
</table>

{% else %}
<p class="jb-homepage-activity">No activity to display</p>
{% endif %}
