{% load static %}
{% load project_tags %}

{% if stream %}
<table class="jb-activity">
  <tbody>
    {% for action in stream %}
    <tr class="sled-action-row">
      <td>{{ action.timestamp|timesince }} ago</td>
      <td>{{ action.actor }}</td>
      <td>{{ action.verb }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div style="display:none">
  {% for action in stream %}
  <div id="tooltip-{{ forloop.counter0 }}">


    {% if action.data.action_type == "Add" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} new {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    was
    {% else %}
    were
    {% endif %}
    added by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "AddData" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} new
      {% if action.action_object.item_type == "Imaging" %}
      Imaging data
      {% if action.action_object.myitems.all|length == 1 %}
      entry
      {% else %}
      entries
      {% endif %}
      {% elif action.action_object.item_type == "Imaging" %}
      {% if action.action_object.myitems.all|length == 1 %}
      Spectrum
      {% else %}
      Spectra
      {% endif %}
      {% elif action.action_object.item_type == "Catalogue" %}
      Catalogue data
      {% if action.action_object.myitems.all|length == 1 %}
      entry
      {% else %}
      entries
      {% endif %}
      {% endif %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    was
    {% else %}
    were
    {% endif %}
    added by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "UpdateSelf" %}
    The following updates have been performed on this {{ action.data.object_type }}:
    <div class="sled-dirty-fields">
      {{ action.data.fields }}
    </div>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "Update" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    has
    {% else %}
    have
    {% endif %}
    been updated by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "DeleteObject" %}
    The following {{ action.data.object_names|length }} {{ action.data.object_type }}:
    <table>
      {% for name in action.data.object_names %}
      <tr>
	<td>name</td>
      </tr>
      {% endfor %}
    </table>
    {% if action.action_object.myitems.all|length == 1 %}
    has
    {% else %}
    have
    {% endif %}
    been deleted by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "RemovedFromGroup" %}
    NONE

    
    {% elif action.data.action_type == "AddedToGroup" %}
    NONE

    
    {% elif action.data.action_type == "LeftGroup" %}
    NONE

    
    {% elif action.data.action_type == "RemovedFromCollection" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    has
    {% else %}
    have
    {% endif %}
    been removed from the collection.

    
    {% elif action.data.action_type == "AddedToCollection" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    has
    {% else %}
    have
    {% endif %}
    been added to the collection.

    
    {% elif action.data.action_type == "MadePublic" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} private {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    {% if action.action_object.myitems.all|length == 1 %}
    is
    {% else %}
    are
    {% endif %}
    now <em>public</em>.
    Performed by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "MadePublicGroup" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">{{ action.action_object.myitems.all|length }}</a>
    private {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %} the group had access to
    {% if action.action_object.myitems.all|length == 1 %}
    is
    {% else %}
    are
    {% endif %}
    now <em>public</em>.

    
    {% elif action.data.action_type == "RevokeAccess" %}
    The group's access has been revoked from the following {{ action.action_object.myitems.all|length }} private {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}:
    <table>
      {% for obj in action.action_object.myitems.all %}
      <tr>
	<td>obj</td>
      </tr>
      {% endfor %}
    </table>
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "GiveAccess" %}
    The group has been granted access to
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} private {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>

    
    {% elif action.data.action_type == "CedeOwnershipSelf" %}
    NONE

    
    {% elif action.data.action_type == "CedeOwnership" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ action.action_object.myitems.all|length }} private {% singular_or_plural action.action_object.item_type action.action_object.myitems.all|length %}
    </a>
    the group has access to changed owner from
    <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a>
    to
    <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a>
    at <em>{{ action.timestamp }}</em>    

    
    {% endif %}
  </div>
  {% endfor %}
</div>



<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster.bundle.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster-sideTip-shadow.min.css' %}" />
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>
    
<script>
  $('.sled-dirty-fields').each(function(index){
      var fields = JSON.parse($(this).html());
      var new_html = $('<table>').addClass('jb-fields-update-table');
      const keys = Object.keys(fields);
      keys.forEach((key, index) => {
	  var tr = $('<tr>');
	  tr.append('<td>'+key+':</td>');
	  tr.append('<td>'+fields[key]['saved']+'</td>');
	  tr.append('<td>&rarr;</td>');
	  tr.append('<td>'+fields[key]['current']+'</td>');
	  new_html.append(tr);
      });
      $(this).html(new_html);
  });
  
  $('.sled-action-row').each(function(index){
      var mycontent = $("#tooltip-"+String(index)).html();
      if( mycontent != 'NONE' ){
	  $(this).tooltipster({
	      position: 'left',
	      theme: 'tooltipster-shadow',
	      interactive: true,
	      contentAsHTML: true,
	      content: mycontent,
	  });
      };
  });
</script>

{% else %}
<p class="jb-homepage-activity">No activity to display</p>
{% endif %}
