{% load static %}
{% load project_tags %}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">All Activity</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	{% include "activity_object.html" with stream=stream %}
      </div>
      <div class="modal-footer">
        <button type="button" class="jb-submit-button-1" data-dismiss="modal">Close</button>
      </div>
    </div>      
  </div>
</div>
