{% load static %}
{% load project_tags %}

{% if stream %}


<table class="jb-activity">
  <tbody>

    {% with  activityCount=max_entries|stringformat:"s" %}
    {% with  activitySlice=":"|add:activityCount %}
    
    {% for action in stream|slice:activitySlice %}
    {% with N=action.action_object.myitems.all|length %}
    <tr>
      <td>
	<div  class="sled-action-row" data-index="{{ forloop.counter0 }}" style="display:inline-block;">
	  
          {% if action.verb == "Add" %}
	  {{ N }} new {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} added


          {% elif action.verb == "AddData" %}
	  {{ N }} new {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} added

	  
          {% elif action.verb == "Update" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} updated


          {% elif action.verb == "RemoveData" %}
	  Data taken in {{ action.data.instrument }} - {{ action.data.band }} removed


	  {% elif action.verb == "DeletedSingleObject" %}
	  {{ action.object_name }} private {{ action.object_type }} the group had access to was deleted by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
	  

          {% elif action.verb == "DeleteObject" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} deleted


          {% elif action.verb == "MadePublic" %}
	  {{ N }} {% singular_or_plural action.action_object.item_type N %} {{ N|pluralize:"was,were" }} made public

	  
          {% elif action.verb == "CedeOwnershipPublic" %}
          <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> changed owner
	  from <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a>
          to <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a>

	  
	  {% elif action.verb == "NewUser" %}
	  User <a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object.first_name }} {{ action.action_object.last_name }}</a> joined SLED  

	  
          {% endif %}

          {{ action.timestamp|timesince }} ago
	</div>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    {% endwith %}
  </tbody>
</table>



<div style="display:none">
  {% for action in stream %}
  {% with N=action.action_object.myitems.all|length %}

  <div id="tooltip-{{ forloop.counter0 }}">


    {% if action.verb == "Add" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} new {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    added by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddData" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} new {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    added by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "RemoveData" %}
    Data taken in {{ action.data.instrument }} - {{ action.data.band }} removed by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "UpdateSelf" %}
    The following updates were performed on this {{ action.data.object_type }}:
    <div class="sled-dirty-fields">
      {{ action.data.fields }}
    </div>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "Update" %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    updated by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "DeleteObject" %}
    The following {{ action.data.object_names|length }} {% singular_or_plural action.data.object_type action.data.object_names|length %}:
    <table>
      {% for name in action.data.object_names %}
      <tr>
        <td>name</td>
      </tr>
      {% endfor %}
    </table>
    {{ N|pluralize:"was,were" }} deleted by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>

    
    {% elif action.verb == "RemovedFromGroup" %}
    The following {{ N }} {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for user in action.action_object.myitems.all %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}" target="_blank">{{ user.username }}</a></td>
      </tr>
      {% endfor %}
    </table>
    {{ N|pluralize:"was,were" }} removed from the group at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddedToGroup" %}
    The following {{ N }} {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for user in action.action_object.myitems.all %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}" target="_blank">{{ user.username }}</a></td>
      </tr>
      {% endfor %}
    </table>
    {{ N|pluralize:"was,were" }} added to the group at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "LeftGroup" %}
    NONE


    {% elif action.verb == "RemovedFromCollection" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    removed from the collection at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddedToCollection" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    added to the collection at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "MadePublic" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} private {% singular_or_plural action.action_object.item_type N %}</a> {{ N|pluralize:"was,were" }}
    made public by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "MadePublicGroup" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} private {% singular_or_plural action.action_object.item_type N %}</a> the group has access to {{ N|pluralize:"was,were" }}
    made public at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "RevokeAccess" %}
    The group's access was revoked from the following {{ N }} private {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for obj in action.action_object.myitems.all %}
      <tr>
        <td>obj</td>
      </tr>
      {% endfor %}
    </table>
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "GiveAccess" %}
    The group was granted access to
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} private {% singular_or_plural action.action_object.item_type N %}</a>
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a> at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "CedeOwnershipSelf" %}
    NONE


    {% elif action.verb == "CedeOwnership" %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">{{ N }} private {% singular_or_plural action.action_object.item_type N %}</a> the group has access to changed owner from
    <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a> to <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a> at <em>{{ action.timestamp }}</em>

    
    {% elif action.verb == "NewUser" %}
    NONE

    
    {% endif %}
  </div>
  
  {% endwith %}
  {% endfor %}
</div>



<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster.bundle.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster-sideTip-shadow.min.css' %}" />
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>

<script>
  $('.sled-dirty-fields').each(function(index) {
      var fields = JSON.parse($(this).html());
      var new_html = $('<table>').addClass('jb-fields-update-table');
      const keys = Object.keys(fields);
      keys.forEach((key, index) => {
	  var tr = $('<tr>');
	  tr.append('<td>' + key + ':</td>');
	  tr.append('<td>' + fields[key]['saved'] + '</td>');
	  tr.append('<td>&rarr;</td>');
	  tr.append('<td>' + fields[key]['current'] + '</td>');
	  new_html.append(tr);
      });
      $(this).html(new_html);
  });
  
  $('.sled-action-row').each(function() {
      var mycontent = $("#tooltip-" + String($(this).attr('data-index'))).html().trim();
      if (mycontent != 'NONE') {
	  $(this).tooltipster({
              position: 'right',
              theme: 'tooltipster-shadow',
              interactive: true,
              contentAsHTML: true,
              content: mycontent,
	  });
      }
  });
</script>

{% else %}
<p class="jb-homepage-activity">No activity to display</p>
{% endif %}
