{% load static %}
{% load project_tags %}

{% if stream %}


<table class="jb-activity">
  <tbody>

    {% with  activityCount=max_entries|stringformat:"s" %}
    {% with  activitySlice=":"|add:activityCount %}
    
    {% for action in stream|slice:activitySlice %}
    {% with N=action.action_object.myitems.all|length %}
    <tr>
      <td>
	<div  class="sled-action-row" data-index="{{ forloop.counter0 }}" style="display:inline-block;">
	  
          {% if action.verb == "Add" %}
          {% if N == 1 %}
          1 new {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} new {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          added


          {% elif action.verb == "AddData" %}
          {% if N == 1 %}
          1 new {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} new {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          added


          {% elif action.verb == "UpdateSelf" %}
          Field(s) were updated


          {% elif action.verb == "Update" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          updated


          {% elif action.verb == "DeleteObject" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          deleted


          {% elif action.verb == "LeftGroup" %}
          User <a href="{{ action.data.user_url }}" target="_blank">{{ action.data.user_name }}</a> left the group


          {% elif action.verb == "RemovedFromGroup" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          removed from the group


          {% elif action.verb == "AddedToGroup" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_plural }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          added to the group


          {% elif action.verb == "AddedToCollection" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_singular }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          added to the collection


          {% elif action.verb == "RemovedFromCollection" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_plural }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          removed from the collection


          {% elif action.verb == "MadePublicGroup" %}
          {% if N == 1 %}
          1 private {{ action.action_object.item_type|get_name_singular }} that the group had access to was
          {% else %}
          {{ N }} private {{ action.action_object.item_type|get_name_plural }} that the group had access to were
          {% endif %}
          made public


          {% elif action.verb == "MadePublic" %}
          {% if N == 1 %}
          1 {{ action.action_object.item_type|get_name_plural }} was
          {% else %}
          {{ N }} {{ action.action_object.item_type|get_name_plural }} were
          {% endif %}
          made public


          {% elif action.verb == "GiveAccess" %}
          The group was granted access to {{ N }} private {% singular_or_plural action.action_object.item_type N %}


          {% elif action.verb == "RevokeAccess" %}
          The group's access to {{ N }} private {% singular_or_plural action.action_object.item_type N %} was revoked


          {% elif action.verb == "CedeOwnershipSelf" %}
          The owner changed from <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a>
          to <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a>


          {% elif action.verb == "CedeOwnership" %}
          {{ N }} private {% singular_or_plural action.action_object.item_type N %}
          the group has access to changed owner
          from <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a>
          to <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a>

          {% endif %}

          {{ action.timestamp|timesince }} ago
	</div>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
    {% endwith %}
    {% endwith %}
  </tbody>
</table>



<div style="display:none">
  {% for action in stream %}
  {% with N=action.action_object.myitems.all|length %}

  <div id="tooltip-{{ forloop.counter0 }}">


    {% if action.verb == "Add" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 new {{ action.action_object.item_type|get_name_singular }}
    </a>
    was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} new {{ action.action_object.item_type|get_name_plural }}
    </a>
    were
    {% endif %}
    added by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddData" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 new {{ action.action_object.item_type|get_name_singular }}
    </a>
    was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} new {{ action.action_object.item_type|get_name_plural }}
    </a>
    were
    {% endif %}
    added by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "UpdateSelf" %}
    The following updates were performed on this {{ action.data.object_type }}:
    <div class="sled-dirty-fields">
      {{ action.data.fields }}
    </div>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "Update" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 {{ action.action_object.item_type|get_name_singular }}
    </a>
    was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} {{ action.action_object.item_type|get_name_plural }}
    </a>
    were
    {% endif %}
    updated by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "DeleteObject" %}
    The following {{ action.data.object_names|length }} {% singular_or_plural action.data.object_type action.data.object_names|length %}:
    <table>
      {% for name in action.data.object_names %}
      <tr>
        <td>name</td>
      </tr>
      {% endfor %}
    </table>
    {% if N == 1 %}
    was
    {% else %}
    were
    {% endif %}
    deleted by
    <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "RemovedFromGroup" %}
    The following {{ N }} {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for user in action.action_object.myitems.all %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}" target="_blank">{{ user.username }}</a></td>
      </tr>
      {% endfor %}
    </table>
    {% if N == 1 %}
    was
    {% else %}
    were
    {% endif %}
    removed from the group at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddedToGroup" %}
    The following {{ N }} {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for user in action.action_object.myitems.all %}
      <tr>
        <td><a href="{{ user.get_absolute_url }}" target="_blank">{{ user.username }}</a></td>
      </tr>
      {% endfor %}
    </table>
    {% if N == 1 %}
    was
    {% else %}
    were
    {% endif %}
    added to the group at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "LeftGroup" %}
    NONE


    {% elif action.verb == "RemovedFromCollection" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 {{ action.action_object.item_type|get_name_singular }}
    </a>
    was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} {{ action.action_object.item_type|get_name_plural }}
    </a>
    were
    {% endif %}
    removed from the collection at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "AddedToCollection" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 {{ action.action_object.item_type|get_name_singular }}
    </a>
    was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} {{ action.action_object.item_type|get_name_plural }}
    </a>
    were
    {% endif %}
    added to the collection at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "MadePublic" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 private {{ action.action_object.item_type|get_name_singular }}
    </a>
    is
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} private {{ action.action_object.item_type|get_name_plural }}
    </a>
    are
    {% endif %}
    now <em>public</em>.
    Performed by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "MadePublicGroup" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 private {{ action.action_object.item_type|get_name_singular }}
    </a>
    the group had access to was
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} private {{ action.action_object.item_type|get_name_plural }}
    </a>
    the group had access to were
    {% endif %}
    made public at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "RevokeAccess" %}
    The group's access was revoked from the following {{ N }} private {% singular_or_plural action.action_object.item_type N %}:
    <table>
      {% for obj in action.action_object.myitems.all %}
      <tr>
        <td>obj</td>
      </tr>
      {% endfor %}
    </table>
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "GiveAccess" %}
    The group was granted access to
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 private {{ action.action_object.item_type|get_name_singular }}
    </a>
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} private {{ action.action_object.item_type|get_name_plural }}
    </a>
    {% endif %}
    by <a href="{{ action.actor.get_absolute_url }}" target="_blank">{{ action.actor }}</a>
    at <em>{{ action.timestamp }}</em>


    {% elif action.verb == "CedeOwnershipSelf" %}
    NONE


    {% elif action.verb == "CedeOwnership" %}
    {% if N == 1 %}
    <a href="{{ action.action_object.myitems.first.get_absolute_url }}" target="_blank">
      1 private {{ action.action_object.item_type|get_name_singular }}
    </a>
    {% else %}
    <a href="{{ action.action_object.get_absolute_url }}" target="_blank">
      {{ N }} private {{ action.action_object.item_type|get_name_plural }}
    </a>
    {% endif %}
    the group has access to changed owner from
    <a href="{{ action.data.previous_owner_url }}" target="_blank">{{ action.data.previous_owner }}</a>
    to
    <a href="{{ action.data.next_owner_url }}" target="_blank">{{ action.data.next_owner }}</a>
    at <em>{{ action.timestamp }}</em>
    
    
    {% endif %}
  </div>
  
  {% endwith %}
  {% endfor %}
</div>



<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster.bundle.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/tooltipster-sideTip-shadow.min.css' %}" />
<script type="text/javascript" src="{% static 'js/tooltipster.bundle.min.js' %}"></script>

<script>
  $('.sled-dirty-fields').each(function(index) {
      var fields = JSON.parse($(this).html());
      var new_html = $('<table>').addClass('jb-fields-update-table');
      const keys = Object.keys(fields);
      keys.forEach((key, index) => {
	  var tr = $('<tr>');
	  tr.append('<td>' + key + ':</td>');
	  tr.append('<td>' + fields[key]['saved'] + '</td>');
	  tr.append('<td>&rarr;</td>');
	  tr.append('<td>' + fields[key]['current'] + '</td>');
	  new_html.append(tr);
      });
      $(this).html(new_html);
  });
  
  $('.sled-action-row').each(function() {
      var mycontent = $("#tooltip-" + String($(this).attr('data-index'))).html().trim();
      if (mycontent != 'NONE') {
	  $(this).tooltipster({
              position: 'right',
              theme: 'tooltipster-shadow',
              interactive: true,
              contentAsHTML: true,
              content: mycontent,
	  });
      }
  });
</script>

{% else %}
<p class="jb-homepage-activity">No activity to display</p>
{% endif %}
