{% extends 'master_header.html' %}
{% load static %}
{% block content %}

<!-- Message div -->
<div>
  {% if messages %}
  {% for message in messages %}
  {% if message.tags %}
  <div style="border-radius:0;" class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div style="border-radius:0;">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
</div>

<!-- Modal divs -->
<div class="modal fade" tabindex="-1" role="dialog" id="id-modal-large">
  <div class="modal-dialog modal-xl">
    <div class="modal-content"></div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="id-modal-remove-items">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">Remove the following items?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="submit" form="ids-form" formaction="{% url 'sled_collections:collections-detail' collection.pk %}" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>




<div class="content">
  <table>
    <tr><td>Name:</td><td>{{ collection.name }}</td></tr>
    <tr><td>Item type:</td><td>{{ collection.item_type }}</td></tr>
    <tr><td>Description:</td><td>{{ collection.description }}</td></tr>
  </table>
  <button type="button" class="update-collection btn btn-sm btn-primary" data-form-url="{% url 'sled_collections:collection-update' collection.pk %}">
    <img src="{% static 'icons/pencil.svg' %}" alt="pencil">
    Update
  </button>
  <button type="button" class="delete-collection btn btn-sm btn-danger" data-form-url="{% url 'sled_collections:collection-delete' collection.pk %}">
    <img src="{% static 'icons/trash.svg' %}" alt="trash">
    Delete
  </button>
  <ul>
    <li>Button: If private make public (future)</li>
    <li>Button: Give Access (future)</li>
    <li>Button: Revoke Access (future)</li>
  </ul>
</div>

<div class="content">
  <p>Items in the collection:</p>
  <form id="ids-form" method="POST">
    <input type="hidden" name="collection_id" value="{{collection.id}}">
    <span class="errorlist">{{ error_message }}</span>
    {% if collection.item_type == 'Lenses' %}
    {% include "lens_list_executive.html" with lenses=collection.myitems.all %}
    {% else %}
    <p> Unknown item type </p>
    {% endif %}
  </form>
  <div>
    <button type="button" class="remove-items btn btn-sm btn-danger" data-toggle="modal" data-target="#id-modal-remove-items">
      <img src="{% static 'icons/trash.svg' %}" alt="trash">
      Remove selected
    </button>
  </div>
</div>

<div class="content">
  <button type="button" class="add-items btn btn-sm btn-primary" data-form-url="{% url 'sled_collections:collection-add-items' collection.pk %}">
    <img src="{% static 'icons/plus.svg' %}" alt="plus">
    Add items
  </button>
</div>
{% endblock content %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      function deleteCollectionModalForm() {
          $(".delete-collection").each(function () {
              $(this).modalForm({
		  formURL: $(this).data("form-url"),
		  modalID: "#id-modal",
		  isDeleteForm: true
	      });
          });
      }
      deleteCollectionModalForm();

      function updateCollectionModalForm() {
          $(".update-collection").each(function () {
              $(this).modalForm({
                  formURL: $(this).data("form-url"),
 		  modalID: "#id-modal"
              });
          });
      }
      updateCollectionModalForm();

      function addItemsCollectionModalForm() {
          $(".add-items").each(function () {
              $(this).modalForm({
                  formURL: $(this).data("form-url"),
 		  modalID: "#id-modal-large"
              });
          });
      }
      addItemsCollectionModalForm();

      $(".alert").fadeTo(2000, 500).slideUp(500, function () {
          $(".alert").slideUp(500);
      });

      $(".remove-items").click(function (e) {
	  var names = [];
          $("input[name='ids']:checked").each(function(){
	      name = $(this).parent().parent().find('a').text();
	      names.push('<li>'+name+'</li>');
	  });
	  if( names.length == 0){
              $("#id-modal-remove-items").find('.modal-body').html('You need to select at least one item!');
	  } else {
	      str = '<ul>' + names.join('') + '</ul>';
              $("#id-modal-remove-items").find('.modal-body').html(str);
	  }
      });

  });
</script>
{% endblock extrascripts %}
