{% extends 'master_header.html' %}
{% load static %}

{% block content %}
<div class="modal fade" tabindex="-1" role="dialog" id="delete-modal">
  <div class="modal-dialog mt-5" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<h1>My collections</h1>
<div class="content ">
  {% if collections %}
  <table>
    {% for collection in collections %}
    <tr>
      <td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
      <td>{{ collection.item_type }}</td>
      <td>{{ collection.description }}</td>
      <td> N. items {{ collection.myitems.all|length }}</td>
      <td>
        <button type="button" class="delete-collection btn btn-sm btn-danger" data-form-url="{% url 'sled_collections:collection-delete' collection.pk %}">
          <span class="fa fa-trash">Delete</span>
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>
    No collections to show
  </p>
  {% endif %}
</div>


<ul>
  <li>Button: If private make public (future)</li>
  <li>Button: Give Access (future)</li>
  <li>Button: Revoke Access (future)</li>
</ul>
{% endblock content %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      function deleteCollectionModalForm() {
          $(".delete-collection").each(function () {
              $(this).modalForm({
		  formURL: $(this).data("form-url"),
		  modalID: "#delete-modal",
		  isDeleteForm: true
	      });
          });
      }
      deleteCollectionModalForm();
  });
</script>
{% endblock extrascripts %}
