{% block content %}
<div class="content container">
  <p class="title">My Confirmation Tasks</p>
  
  
  <div class="tasks_by_me">
    <p>
      Tasks initiated by me:
    </p>
    {% if N_list1 > 0 %}
    <table>
      {% for receiver_names,task in list1 %}
      <tr>
	<td>{{ task.task_type }}</td>
	<td>{{ task.owner }}</td>
	<td>{{ task.created_at }}</td>
	<td>{{ task.status }}</td>
	<td>{{ receiver_names }}</td>
	<td><a href="{% url 'single_task' task_id=task.id %}">go</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      No tasks
    </p>
    {% endif %}
  </div>

  
  <div class="tasks_to_me_only">
    <p>
      Tasks addressed to me only:
    </p>
    {% if N_list2 > 0 %}
    <table>
      {% for receiver_names,task in list2 %}
      <tr>
	<td>{{ task.task_type }}</td>
	<td>{{ task.owner }}</td>
	<td>{{ task.created_at }}</td>
	<td>{{ task.status }}</td>
	<td>{{ receiver_names }}</td>
	<td><a href="{% url 'single_task' task_id=task.id %}">go</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      No tasks
    </p>
    {% endif %}
  </div>

  
  <div class="tasks_to_me_and_others">
    <p>
      Tasks addressed to me and others:
    </p>
    {% if N_list3 > 0 %}
    <table>
      {% for receiver_names,task in list3 %}
      <tr>
	<td>{{ task.task_type }}</td>
	<td>{{ task.owner }}</td>
	<td>{{ task.created_at }}</td>
	<td>{{ task.status }}</td>
	<td>{{ receiver_names }}</td>
	<td><a href="{% url 'single_task' task_id=task.id %}">go</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      No tasks
    </p>
    {% endif %}
  </div>
  
</div>
{% endblock content %}

