{% block content %}
<div class="content container">

  {% if owned %}
  
  {% if task.status == "P" %}
  <p style="font-weight:bold;color:red">
    Pending
  </p>
  {% else %}
  <p style="font-weight:bold;color:green">
    Completed
  </p>
  {% endif %}

  <div class="details">
    <table>
      <tr><td>Task:</td><td>{{ task.task_type }}</td></tr>
      <tr><td>Cargo:</td><td>
	  {{ task.cargo }}
      </td></tr>
      <tr><td>Created at:</td><td>{{ task.created_at }}</td></tr>
      <tr><td>Modified at:</td><td>{{ task.modified_at }}</td></tr>
      <tr><td>Allowed responses:</td><td>{{ allowed }}</td></tr>
      <tr><td>Sender comment:</td><td>{{ task.cargo.comment }}</td></tr>
    </table>
  </div>
  
  <div class="heard_from">
    <p>
      Heard from:
    </p>
    {% if hf %}
    <table>
      <thead>
	<tr><th>User name</th><th>Response</th><th>At</th><th>Comment</th><tr>
      </thead>
      {% for response in hf %}
      <tr>
	<td>{{ response.name }}</td>
	<td>{{ response.response }}</td>
	<td>{{ response.created_at }}</td>
	<td>{{ response.response_comment }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Nobody</p>
    {% endif %}
  </div>

  <div class="not_heard_from">
    <p>
      Not heard from:
    </p>
    {% if nhf %}
    <table>
      {% for receiver in nhf %}
      <tr><td>{{ receiver }}</td></tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      Everybody responded
    </p>
    {% endif %}
  </div>


  {% else %}
  
  <p class="title">Task type: <span class="highlight">{{task.task_type}}</span></p>
  

  {% if db_response.response %}
  <p style="font-weight:bold">
    You have responded to this task at: {{ db_response.created_at }}
  </p>
  {% endif %}
  
  <div class="task_description">
    
    {% if comment %}    
    <p>User <span style="font-weight:bold">{{task.owner.username}}</span> is saying:</p>
    <div class="sender_comment">
      &ldquo;{{ comment }}&rdquo;
    </div>
    {% endif %}


    {% if comment %}    

    {% if task.task_type == "CedeOwnership" %}
    <p>and would like to cede the ownership of the following <span style="font-weight:bold">{{object_type}}</span> to you:</p>
    {% elif task.task_type == "MakePrivate" %}
    <p>and would like to make the following <span style="font-weight:bold">{{object_type}}</span> private:</p>    
    {% endif %}
    
    {% else %}

    {% if task.task_type == "CedeOwnership" %}
    <p>User <span style="font-weight:bold">{{task.owner.username}}</span> would like to cede the ownership of the following <span style="font-weight:bold">{{object_type}}</span> to you:</p>
    {% elif task.task_type == "MakePrivate" %}
    <p>User <span style="font-weight:bold">{{task.owner.username}}</span> would like to make the following <span style="font-weight:bold">{{object_type}}</span> private:</p>
    {% endif %}

    {% endif %}

  </div>
  
  <table>
    {% for link in links %}
    <tr>
      <td><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></td>
    </tr>
    {% endfor %}    
  </table>

  {% if task.task_type == "CedeOwnership" %}
  <p>Would you like to accept or refuse taking up the ownership?</p>
  {% elif task.task_type == "MakePrivate" %}
  <p>Do you authorize this action?</p>
  {% endif %}
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if not db_response.response %}
    <input type="submit" value="Submit">
    {% endif %}
  </form>

  {% endif %}
  
</div>

{% endblock content %}
