{% extends 'master_header.html' %}
{% load static %}
{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'lenses/js/autocomplete.js' %}"></script>

<input type="hidden" id="Urlusers" data-url="{% url 'api:users-view' %}" />
<input type="hidden" id="Urlgroups" data-url="{% url 'api:groups-view' %}" />

{% csrf_token %}
<div class="content container">
    <p class="centred_name">{{group.name}}</p>
</div>

<p> Description: {{group.description}}</p>
<p> Owner: {{group.owner}}</p>


<p class="centred_name">List of group members</p>
<div class="content container">
    <table class="sortable">
        <tr>
            <th class="th-center">Name</th>
            <th class="th-center">Affiliation</th>
        </tr>
    {% for user in group.getAllMembers %}
        <tr>
            <td class="td-center">{{user.username}}</a></td>
            <td class="td-center">{{user.affiliation}}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% if  group.owner == user %}
        <p> ADD NEW USERS </p>

    <script>
      $(document).ready(function(){
          // Create Select2 for users and groups
          users_autocomplete("users-autocomplete1");
          users_autocomplete("users-autocomplete2");

          // Attach requirement for user or group to the submit button
          $('#submit-btn').on('click',function(event){
          var users1 = $('#users-autocomplete1').find(':selected');
          var users2 = $('#users-autocomplete2').find(':selected');
          if( users1.length == 0 && users2.length==0 ){
              alert('You must select a user!');
              event.preventDefault();
          }
          });
          
          // Check all the checkboxes
          var checkboxes = document.querySelectorAll('.content input[type="checkbox"]');
          if( checkboxes.length > 0){
          for(var i=0;i<checkboxes.length;i++){
              checkboxes[i].checked = true;
          }
          }
      });
    </script>

    <div class="content">
      <form id="ids-form" method="POST">
        {% csrf_token %}
        <span class="errorlist">{{ error_message }}</span>


        <div style="width:100%;">
          <p>
        Add Users:
          </p>
          <select id="users-autocomplete1" name="addusers" multiple></select>
        </div>


        <br>
        <br>
        <div style="width:100%;">
          <p>
        Remove Users:
          </p>
          <select id="users-autocomplete2" name="removeusers" multiple></select>
        </div>

        <br>
        <br>

      </form>
    </div>

    <div>
      <button type="submit" id="submit-btn" form="ids-form">
        Submit
      </button>
    </div>


    {% endif %}

{% endblock content %}
