{% extends "master_header.html" %}
{% load static %}

{% block content %}
<div class="jb-homepage-container">
  <p>Welcome to the Strong Lensing Database</p>
  <img src="{% static 'images/JB_Homepage_Grid.png' %}" alt="">
</div>
<div class="jb-container">
  <img src="{% static 'images/JB_Homepage_EPFL.png' %}" loading="lazy" width="100" alt="">
  <img src="{% static 'images/JB_Homepage_ERC.png' %}" loading="lazy" width="75" alt="">
  <img src="{% static 'images/JB_Homepage_EU.png' %}" loading="lazy" height="65" alt="">
</div>
{% endblock %}