{% extends 'master_header.html' %}
{% load static %}
{% block content %}

<h1>Add a new lens</h1>

<p>
  For now, this is a static formset with three forms. Later we want to changee this into a dynamic one.
  To be within the check radius of existing lenses set RA= 17.275 and DEC= 1.404
</p>


<form id="form-container" method="POST">
  {% csrf_token %}
  {{lens_formset.management_form}}
  {{ lens_formset.non_field_errors }}
  {% for form in lens_formset %}
  <div class="lens-form">
    <h3>Lens {{ forloop.counter }}</h3>
    {{form.as_p}}
    <button type="button" class="remove-button">remove</button>
  </div>
  {% endfor %}
  <button id="add-form" type="button">Add another Lens</button>
  <button type="submit">Create Lenses</button>
</form>

<script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_add.css' %}"/>

{% endblock content %}
