{% extends 'lenses_header.html' %}
{% block content %}

    <div class="section">
        <h1>List of confirmed gravitational lenses</h1>
    </div>

    <!--<div class="content container">
    <div id="form_container">

        <form id="form_57258" class="appnitro"  method="get" action="">
            <div class="form_description">
                <p>Input Ra and Dec coordinates for more detailed search</p>
            </div>

            <div>
                <label class="description" for="ra_min">Ra min </label>
                <input id="ra_min" name="ra_min" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="ra_max">Ra max </label>
                <input id="ra_max" name="ra_max" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="dec_min">Dec min </label>
                <input id="dec_min" name="dec_min" class="element text medium" type="text" maxlength="255" value=""/>
                <label class="description" for="dec_max">Dec max </label>
                <input id="dec_max" name="dec_max" class="element text medium" type="text" maxlength="255" value=""/>

                <input type="hidden" name="form_id" value="57257" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                <input id="saveForm" class="button_text" type="submit" name="download" value="Download" />
            </div>
        </form>
    </div>
    </div>-->

    <div class="content container">
        <p class="comment">Click on the names for detailed information on individual lenses. Click on the headers to sort the table.</p>
    </div>


    <div class="content container">
        <table class="sortable">
            <tr>
                <th class="th-center">Name</th>
                <!--<th class="th-center">Type (LENS-SOURCE)</th>-->
                <th class="th-center">Lens redshift</th>
                <th class="th-center">Source redshift</th>
                <th class="th-center">Right Ascension J2000</th>
                <th class="th-center">Declination J2000</th>

            </tr>
        {% for lens in lenses %}
            <tr>
                <td class="td-center"><a href="{% url 'lenses:lens_detail' lens_name=lens.name %}">{{lens.name}}</a></td>
                <!--<td class="td-center">{{lens.kind_acronym}}</td>-->
                <td class="td-center">{{lens.zlens|floatformat:2}}</td>
                <td class="td-center">{{lens.zsource|floatformat:2}}</td>
                <!-- <td class="td-center">{{lens.ra_HH|floatformat:0}}:{{lens.ra_MM|floatformat:0}}:{{lens.ra_SS|floatformat:2}}</td> -->
                <td class="td-center">{{lens.ra|floatformat:5}}</td>
                <!--<td class="td-center">{{lens.dec_DD|floatformat:0}}:{{lens.dec_MM|floatformat:0}}:{{lens.dec_SS|floatformat:2}}</td> -->
                <td class="td-center">{{lens.dec|floatformat:5}}</td>

            </tr>
        {% endfor %}
        </table>


    </div>

{% endblock content %}
