{% extends 'master_header.html' %}
{% load static %}
{% block content %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'lenses/js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_add.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_visit_card.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<p>
  LENS QUERY PAGE
</p>


 <form method="post">
    {% csrf_token %}
    <table class="form-table">
      <tr>

    <td>
	  <div class="column">
	  	<table>
		  	<tr> <td> {{ form.ra_min }} </td> <td> < R.A. < </td> <td>{{ form.ra_max }} </td> </tr> <br>
		  	<tr> <td> {{ form.dec_min }} </td> <td> < Dec. < </td> <td>{{ form.dec_max }} </td> </tr> <br>
		  	<tr> <td> {{ form.n_img_min }} </td> <td> < Number of images < </td> <td>{{ form.n_img_max }} </td> </tr> <br>
		  	<tr> <td> {{ form.image_sep_min }} </td> <td> < Image separation < </td> <td>{{ form.image_sep_max }} </td> </tr> <br>
		  	<tr> <td> {{ form.z_lens_min }} </td> <td> < Lens Redshift < </td> <td>{{ form.z_lens_max }} </td> </tr> <br>
		  	<tr> <td> {{ form.z_source_min }} </td> <td> < Source redshift < </td> <td>{{ form.z_source_max }} </td> </tr> <br>
	  	</table>
	  </div>
	</td>

	<td>
	  <div class="column">
	    <table>
	      <tr> <td> Confirmed Lens? </td> <td> {{ form.flag_confirmed }} </td> </tr> <br>
	      <tr> <td> Not Confirmed Lens? </td> <td> {{ form.flag_unconfirmed }} </td> </tr> <br>
	      <tr> <td> Confirmed Contaminant? </td> <td> {{ form.flag_contaminant }} </td> </tr>
	      <tr> <td> Not Confirmed Contaminant? </td> <td> {{ form.flag_uncontaminant }} </td> </tr>
	      <tr> <td> Lens Type </td> <td>{{ form.lens_type }}</td></tr>
	      <tr> <td> Source Type </td> <td>{{ form.source_type }}</td></tr>
	      <tr> <td> Configuration </td> <td>{{ form.image_conf }}</td></tr>
	    </table>
	  </div>
	</td>

	    <!--<table>
	      <tr><td>{{ form.ra_min.errors }}</td><td>{{ form.ra_min.label_tag }}</td><td>{{ form.ra_min }}</td></tr>
	      <tr><td>{{ form.ra_max.errors }}</td><td>{{ form.ra_max.label_tag }}</td><td>{{ form.ra_max }}</td></tr>
	      <tr><td>{{ form.dec.errors }}</td><td>{{ form.dec.label_tag }}</td><td>{{ form.dec }}</td></tr>
	      <tr><td>{{ form.image_sep.errors }}</td><td>{{ form.image_sep.label_tag }}</td><td>{{ form.image_sep }}</td></tr>
	      <tr><td>{{ form.z_lens.errors }}</td><td>{{ form.z_lens.label_tag }}</td><td>{{ form.z_lens }}</td></tr>
	      <tr><td>{{ form.z_source.errors }}</td><td>{{ form.z_source.label_tag }}</td><td>{{ form.z_source }}</td></tr>
	      <tr><td>{{ form.flag_confirmed.errors }}</td><td>{{ form.flag_confirmed.label_tag }}</td><td>{{ form.flag_confirmed }}</td></tr>
	      <tr><td>{{ form.flag_contaminant.errors }}</td><td>{{ form.flag_contaminant.label_tag }}</td><td>{{ form.flag_contaminant }}</td></tr>
	      <tr><td>{{ form.access_level.errors }}</td><td>{{ form.access_level.label_tag }}</td><td>{{ form.access_level }}</td></tr>
	    </table>-->
	  </div>
    
</tr>
</table>
<input type="submit" value="Submit">

</form>

<!--<form id="formset" formset-prefix="{{ lens_formset.prefix }}" method="POST">
  <div class="form-div">
    {% csrf_token %}
    {{ lens_formset.management_form }}
    {{ lens_formset.non_field_errors }}
    
      <tr class="copy-target">
	<td>
	  
	  <div class="lens-form">

	    {{ form.non_field_errors }}
	    {{ form.id }}
	    
	    <table class="form-table">
	      <tr>
		First column 
		<td>
		  <div class="column">
		    <table>
		      <tr><td>{{ form.ra_min.errors }}</td><td>{{ form.ra_min.label_tag }}</td><td>{{ form.ra_min }}</td></tr>
		      <tr><td>{{ form.dec.errors }}</td><td>{{ form.dec.label_tag }}</td><td>{{ form.dec }}</td></tr>
		      <tr><td>{{ form.image_sep.errors }}</td><td>{{ form.image_sep.label_tag }}</td><td>{{ form.image_sep }}</td></tr>
		      <tr><td>{{ form.z_lens.errors }}</td><td>{{ form.z_lens.label_tag }}</td><td>{{ form.z_lens }}</td></tr>
		      <tr><td>{{ form.z_source.errors }}</td><td>{{ form.z_source.label_tag }}</td><td>{{ form.z_source }}</td></tr>
		      <tr><td>{{ form.flag_confirmed.errors }}</td><td>{{ form.flag_confirmed.label_tag }}</td><td>{{ form.flag_confirmed }}</td></tr>
		      <tr><td>{{ form.flag_contaminant.errors }}</td><td>{{ form.flag_contaminant.label_tag }}</td><td>{{ form.flag_contaminant }}</td></tr>
		      <tr><td>{{ form.access_level.errors }}</td><td>{{ form.access_level.label_tag }}</td><td>{{ form.access_level }}</td></tr>
		    </table>
		  </div>
		</td>


		 Second column 
		<td>
		  <div class="column">
		    <table>
		      <tr><td>{{ form.lens_type.errors }}</td><td>{{ form.lens_type.label_tag }}</td><td>{{ form.lens_type }}</td></tr>
		      <tr><td>{{ form.source_type.errors }}</td><td>{{ form.source_type.label_tag }}</td><td>{{ form.source_type }}</td></tr>
		      <tr><td>{{ form.image_conf.errors }}</td><td>{{ form.image_conf.label_tag }}</td><td>{{ form.image_conf }}</td></tr>
		      <tr><td>{{ form.info.errors }}</td><td colspan="2">{{ form.info }}</td></tr>
		    </table>
		  </div>
		</td>-->


		<!-- Fourth column 
		<td>
		  <div class="column">
		    <table>
		      <tr><td><div class="lens-mugshot"><img src="" alt="Lens image" /></div></td></tr>
		    </table>
		  </div>
		</td>

		
	      </tr>
	    </table>
	  </div>
	  
	</td>

      </tr>

  </div>
  
  <div>
  	<button type="submit" form="ids-form">Submit</button>
  </div>-->
  
  
  <!--<div class="button-div">
    <table>
      <tr>
	{% if request.resolver_match.url_name == 'lens-add' %}
	<td><div class="add-button"></div></td>
	<td><button id="toggle-access-level" type="button">Toggle access_level all</button></td>
	<td><button type="submit">Create Lenses</button></td>
	{% else %}
	<td><button type="submit">Update</button></td>
	{% endif %}	
      </tr>
    </table>
  </div>
</form>-->

<div class="content">
  <form id="ids-form" method="POST">
    <span class="errorlist">{{ error_message }}</span>
    {% include "lens_list_executive.html" with lenses=lenses %}    
  </form>
</div>

<!-- <script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script> -->

{% endblock content %}
