{% extends 'master_header.html' %}
{% block content %}

<div class="section">
  <h1>Filter search query for lenses</h1>
</div>

<div class="content container">
  <div id="form_container">
    <div class="form_description">
      <p>Input Ra and Dec coordinates for more detailed search. To search the opposite area (i.e. across 00hours), put the larger RA as the minimum. </p>
    </div>
    <form id="form_57258" class="appnitro"  method="get" action="">
      <div>
        <label class="description" for="ra_min">Ra min </label>
        <input id="ra_min" name="ra_min" class="element text medium" type="text" maxlength="255" value="{{ formvalues.0 }}" />
        <label class="description" for="ra_max">Ra max </label>
        <input id="ra_max" name="ra_max" class="element text medium" type="text" maxlength="255" value="{{ formvalues.1 }}"/>
        <label class="description" for="dec_min">Dec min </label>
        <input id="dec_min" name="dec_min" class="element text medium" type="text" maxlength="255" value="{{ formvalues.2 }}"/>
        <label class="description" for="dec_max">Dec max </label>
        <input id="dec_max" name="dec_max" class="element text medium" type="text" maxlength="255" value="{{ formvalues.3 }}"/>
        <br>
        <label class="description" for="n_img_min">Min. number of images </label>
        <input id="n_img_min" name="n_img_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.4 }}"/>
        <label class="description" for="n_img_max">Max. number of images </label>
        <input id="n_img_max" name="n_img_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.5 }}"/>
        <br>
        <label class="description" for="image_sep_min">Min. image separation </label>
        <input id="image_sep_min" name="image_sep_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.6 }}"/>
        <label class="description" for="image_sep_max">Max. image separation </label>
        <input id="image_sep_max" name="image_sep_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.7 }}"/>
        <br>
        <label class="description" for="z_source_min">Min. source redshift </label>
        <input id="z_source_min" name="z_source_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.8 }}"/>
        <label class="description" for="z_source_max">Max. source redshift </label>
        <input id="z_source_max" name="z_source_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.9 }}"/>
        <br>
        <label class="description" for="z_lens_min">Min. lens redshift </label>
        <input id="z_lens_min" name="z_lens_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.10 }}"/>
        <label class="description" for="z_lens_max">Max. lens redshift </label>
        <input id="z_lens_max" name="z_lens_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.11 }}"/>
        <br>
	
        <input type="hidden" name="form_id" value="57257" />
        <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
        <!--<input id="saveForm" class="button_text" type="submit" name="download" value="Download" />-->
      </div>
    </form>
  </div>
</div>

<div class="content">
  <form id="ids-form" method="POST">
    <span class="errorlist">{{ error_message }}</span>
    {% include "lens_list_passive.html" with lenses=lenses %}    
  </form>
</div>

<div>
  <button type="submit" form="ids-form">Action X</button>
</div>

{% endblock content %}
