<div class="content container">
  <form id="list-form" method="POST">
    {% csrf_token %}
    <table class="sortable">
      <tr>
	<th class="th-center">Name</th>
	<th class="th-center">Right Ascension J2000</th>
	<th class="th-center">Declination J2000</th>
	<th class="th-center">Lens redshift</th>
	<th class="th-center">Source redshift</th>
	<th class="th-center">Lens type</th>
	<th class="th-center">Source type</th>
      </tr>
      {% for lens in lenses %}
      <tr>
	<td><a href="{% url 'lenses:lens-detail' slug=lens.name %}">{{lens.name}}</a></td>
	<td>{{ lens.ra }}</td>
	<td>{{ lens.dec }}</td>
	<td>{{ lens.z_lens }}</td>
	<td>{{ lens.z_source }}</td>
	<td>{{ lens.lens_type }}</td>
	<td>{{ lens.source_type }}</td>
      </tr>
      {% endfor %}
    </table>

  </form>
</div>
