{% extends 'master_header.html' %}
{% load static %}
{% block content %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'lenses/js/jquery.formset.js' %}"></script>
<script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_add.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'lenses/css/lens_visit_card.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<p>
  LENS QUERY PAGE
</p>

{% include "lens_query_fields.html" %}    

<button type="submit" form="lens-query">Submit</button>


<div class="content">
  <form id="ids-form" method="POST">
    <span class="errorlist">{{ error_message }}</span>
    {% include "lens_list_executive.html" with lenses=lenses %}    
  </form>
</div>

<div class="controls">
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-collage' %}">See collage</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-make-collection' %}">Make collection</button>
</div>

<!-- <script type="text/javascript" src="{% static 'lenses/js/lens_add.js' %}"></script> -->

{% endblock content %}
