{% extends 'master_header.html' %}
{% block content %}

<div class="section">
  <h1>List of confirmed gravitational lenses</h1>
</div>

    <div class="content container">
    <div id="form_container">

        <form id="form_57258" class="appnitro"  method="get" action="">
            <div class="form_description">
                <p>Input Ra and Dec coordinates for more detailed search. To search the opposite area (i.e. across 00hours), put the larger RA as the minimum. </p>
            </div>

            <div>
           <div>
                <label class="description" for="ra_min">Ra min </label>
                <input id="ra_min" name="ra_min" class="element text medium" type="text" maxlength="255" value="{{ formvalues.0 }}" />
                <label class="description" for="ra_max">Ra max </label>
                <input id="ra_max" name="ra_max" class="element text medium" type="text" maxlength="255" value="{{ formvalues.1 }}"/>
                <label class="description" for="dec_min">Dec min </label>
                <input id="dec_min" name="dec_min" class="element text medium" type="text" maxlength="255" value="{{ formvalues.2 }}"/>
                <label class="description" for="dec_max">Dec max </label>
                <input id="dec_max" name="dec_max" class="element text medium" type="text" maxlength="255" value="{{ formvalues.3 }}"/>
                <br>
                <label class="description" for="n_img_min">Min number of images </label>
                <input id="n_img_min" name="n_img_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.4 }}"/>
                <label class="description" for="n_img_max">Max number of images </label>
                <input id="n_img_max" name="n_img_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.5 }}"/>
                <br>
                <label class="description" for="image_sep_min">Minimum einstein radius </label>
                <input id="image_sep_min" name="image_sep_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.4 }}"/>
                <label class="description" for="image_sep_max">Maximum einstein radius </label>
                <input id="image_sep_max" name="image_sep_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.5 }}"/>
                <br>
                <label class="description" for="z_source_min">Minimum source redshift </label>
                <input id="z_source_min" name="z_source_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.4 }}"/>
                <label class="description" for="z_source_max">Maximum source redshift </label>
                <input id="z_source_max" name="z_source_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.5 }}"/>
                <br>
                <label class="description" for="z_lens_min">Minimum lens redshift </label>
                <input id="z_lens_min" name="z_lens_min" class="element text medium" type="text" maxlength="10" value="{{ formvalues.4 }}"/>
                <label class="description" for="z_lens_max">Maximum lens redshift </label>
                <input id="z_lens_max" name="z_lens_max" class="element text medium" type="text" maxlength="10" value="{{ formvalues.5 }}"/>
                <br>

                <input type="hidden" name="form_id" value="57257" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                <!--<input id="saveForm" class="button_text" type="submit" name="download" value="Download" />-->
            </div>
        </form>
    </div>
    </div>


<div class="content container">
  <p class="comment">Click on the names for detailed information on individual lenses. Click on the headers to sort the table.</p>
</div>

<div class="content container">
  <form id="list-form" method="POST">
    {% csrf_token %}
    <table class="sortable">
      <tr>
	<th></th>
	<th class="th-center">Name</th>
	<!--<th class="th-center">Type (LENS-SOURCE)</th>-->
	<th class="th-center">Right Ascension J2000</th>
	<th class="th-center">Declination J2000</th>
	<th class="th-center">Lens redshift</th>
	<th class="th-center">Source redshift</th>
    <th class="th-center">Images</th>
    <th class="th-center">Image separation</th>
      </tr>
      {% for lens in lenses %}
      <tr>
	<td><input type="checkbox" name="myselect" value="{{ lens.id }}" /></td>
	<td class="td-center"><a href="{% url 'lenses:lens-detail' slug=lens.name %}">{{lens.name}}</a></td>
	<!-- <td class="td-center">{{lens.ra_HH|floatformat:0}}:{{lens.ra_MM|floatformat:0}}:{{lens.ra_SS|floatformat:2}}</td> -->
	<td class="td-center">{{lens.ra|floatformat:5}}</td>
	<!--<td class="td-center">{{lens.dec_DD|floatformat:0}}:{{lens.dec_MM|floatformat:0}}:{{lens.dec_SS|floatformat:2}}</td> -->
	<td class="td-center">{{lens.dec|floatformat:5}}</td>
	<td class="td-center">{{lens.z_lens|floatformat:2}}</td>
	<td class="td-center">{{lens.z_source|floatformat:2}}</td>
    <td class="td-center">{{lens.nimg|floatformat:2}}</td>
    <td class="td-center">{{lens.image_sep|floatformat:2}}</td>
      </tr>
      {% endfor %}
    </table>

    <td><button type="submit">Create Lenses</button></td>

  </form>
</div>

{% endblock content %}
