<style>
  .exe_summary td {margin:0px;padding:2px;}
</style>

{% csrf_token %}
<div>
  <table class="exe_summary sortable">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Right Ascension J2000</th>
      <th>Declination J2000</th>
      <th>Access level</th>
      <th>Accessible by</th>
    </tr>
    {% for lens in lenses %}
    <tr>
      <td><input name="ids" type="checkbox" value="{{ lens.id }}"></td>
      <td>{{ lens.name }}</td>
      <td>{{ lens.ra }}</td>
      <td>{{ lens.dec }}</td>
      <td>{{ lens.access_level }}</td>
      <td>
	{{ lens.users_with_access }} - <span style="font-style:italic">{{ lens.groups_with_access }}</span>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="button" id="toggle_all" value="select">Toggle select all</button>
</div>


<script>
  var toggle = function (e) {
      checkboxes = document.getElementsByName('ids');
      var new_status = e.currentTarget.getAttribute('value');
      if( new_status == "select" ){
	  for(var i=0;i<checkboxes.length;i++) {
       	      checkboxes[i].checked = true;
	  }
	  e.currentTarget.setAttribute('value','unselect');
      } else {
	  for(var i=0;i<checkboxes.length;i++) {
       	      checkboxes[i].checked = false;
	  }
	  e.currentTarget.setAttribute('value','select');
      }
  }
  document.getElementById("toggle_all").addEventListener("click", toggle, true);

  
  var min_checked = function(e) {
      var checked_boxes = document.querySelectorAll('.content input[type="checkbox"]:checked');
      if( checked_boxes.length == 0 ){
   	  alert('You must select at least one lens!');
   	  e.preventDefault();
      }
  };
  document.getElementById("ids-form").addEventListener("submit", min_checked, true);
</script>
