{% load static %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header jb-modal">
    <h5 class="jb-modal-heading">
      {% block title %}
      {% endblock title %}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {% block content %}
    {% endblock content %}
  </div>

  <div class="modal-footer">
    <button type="button" class="jb-submit-button-1" data-dismiss="modal">Close</button>
    {% block action_button %}
    {% endblock action_button %}
  </div>

</form>

{% block extrascripts %}
{% endblock extrascripts %}