{% load static %}
{% load project_tags %}


{% if notifications %}
<table class="jb-activity">
  <tbody>
    {% for note in notifications %}
    {% with N=note.action_object.myitems.all|length %}
    
    <tr class="sled-notification-row">
      <td>
	{% if note.level == "info" %}
	<img src="{% static 'icons/info-circle-fill.svg' %}" class="filter-info2 jb-alert-icon">
	{% elif note.level == "success" %}
	<img src="{% static 'icons/check-circle-fill.svg' %}" class="filter-success2 jb-alert-icon">
	{% elif note.level == "error" %}
	<img src="{% static 'icons/x-circle-fill.svg' %}" class="filter-error2 jb-alert-icon">
	{% elif note.level == "warning" %}
	<img src="{% static 'icons/exclamation-triangle-fill.svg' %}" class="filter-warning2 jb-alert-icon">
	{% else %}
	{{ note.level }}
	{% endif %}
      </td>
      <td>{{ note.timestamp }}</td>
      <td>
        {% if note.actor != "admin" %}
        by <a href="{{ note.actor.get_absolute_url }}" target="_blank">{{ note.actor.username }}</a>
        {% else %}
        by admin
        {% endif %}
      </td>
      <td>
	
	
	
	{# ###################### Deletion notifications ###################### #}
        {% if note.verb == "DeleteObjectsAcceptedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to delete public objects was accepted.


        {% elif note.verb == "DeleteObjectsRejectedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to delete public objects was rejected.


        {% elif note.verb == "DeletedPrivateSingleObjectNote" %}
	Private {{ note.data.object_type }} {{ note.data.object_name }} you had access to was deleted.


        {% elif note.verb == "DeletedGroupNote" %}
        Group "{{ note.data.group_name }}" was deleted by <a href="{{ note.actor.get_absolute_url }}" target="_blank">{{ note.actor.username }}</a>.


	

	{# ###################### Ownership notifications ###################### #}
        {% elif note.verb == "CedeOwnershipNote" %}
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural note.action_object.item_type N %}</a>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	<a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}
	you have access to changed owner from {{ note.data.previous_id|get_user_link|safe }} to {{ note.data.next_id|get_user_link|safe }}

	
        {% elif note.verb == "CedeOwnershipAcceptedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to cede ownership was accepted.


        {% elif note.verb == "CedeOwnershipRejectedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to cede ownership was rejected.


        {% elif note.verb == "AddedDataOwnerNote" %}
	<a href="{{ note.action_object.get_absolute_url }}" target="_blank">{{ note.action_object }}</a> was added
	for your lens <a href="{{ note.action_object.lens.get_absolute_url }}" target="_blank">{{ note.action_object.lens }}</a>
	

        {% elif note.verb == "AddedPaperOwnerNote" %}
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural note.action_object.item_type N %}</a>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	{{ note.action_object.item_type|get_name_singular }} <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}
	that you own {{ N|pluralize:"was,were" }} linked to paper <a href="{{ note.data.paper.get_absolute_url }}" target="_blank">{{ note.data.paper }}</a>

	


	
	{# ###################### Access level notifications ###################### #}
        {% elif note.verb == "MakePrivateAcceptedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to make objects private was accepted.


        {% elif note.verb == "MakePrivateRejectedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to make objects private was rejected.


        {% elif note.verb == "MakePublicNote" %}
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} private {% singular_or_plural note.action_object.item_type N %}</a>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	{{ note.action_object.item_type|get_name_singular }} <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}
	that you have access to {{ N|pluralize:"is,are" }} now public.


        {% elif note.verb == "GiveAccessNote" %}
	You were given access to
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} private {% singular_or_plural note.action_object.item_type N %}</a>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	private {{ note.action_object.item_type|get_name_singular }} <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}


        {% elif note.verb == "RevokeAccessNote" %}
        Your access to
	{% if N > 1 %}
	<a class="sled-open-tooltip" href="">{{ N }} private {% singular_or_plural note.action_object.item_type N %}</a>
	<div class="sled-notification-tooltip display-none">
          <table>
            {% for item in note.action_object.myitems.all %}
            <tr>
              <td>{{ item }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	private {{ note.action_object.item_type|get_name_singular }} {{ item }}
	{% endwith %}
	{% endif %}
	was revoked.

	
        {% elif note.verb == "AskPrivateAccessRejectedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to access private objects was accepted.


	{% elif note.verb == "RemovedFromThirdCollectionNote" %}
	Private {{ note.data.object_type|get_name_plural }} were removed from
	{% if N > 1 %}
	<a class="sled-open-tooltip">{{ N }} Collections</a> that you own.
        <div class="sled-notification-tooltip display-none">
          <table>
            {% for col in note.action_object.myitems.all %}
            <tr>
              <td><a href="{{ col.get_absolute_url }}" target="_blank">{{ col.name }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	Collection <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}
	that you own.


	{% elif note.verb == "HeirUnfollowNote" %}
	You cannot follow
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural note.action_object.item_type N %}</a>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	{{ note.action_object.item_type|get_name_singular }} <a href="{{ item.get_absolute_url }}" target="_blank">{{ item }}</a>
	{% endwith %}
	{% endif %}
	anymore because you now own {{ N|pluralize:"it,them" }}.


	{% elif note.verb == "MakePrivateUnfollowNote" %}
	{% if N > 1 %}
	<a href="{{ note.action_object|get_ad_col_url }}" target="_blank">{{ N }} {% singular_or_plural note.action_object.item_type N %}</a>
	<a class="sled-open-tooltip" href="">{{ N }} {% singular_or_plural note.action_object.item_type N %}</a>
	<div class="sled-notification-tooltip display-none">
          <table>
            {% for item in note.action_object.myitems.all %}
            <tr>
              <td>{{ item }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
	{% else %}
	{% with note.action_object.myitems.all|first as item %}
	{{ note.action_object.item_type|get_name_singular }} {{ item }}
	{% endwith %}
	{% endif %}
	that you followed {{ N|pluralize:"is,are" }} not public anymore.	
	



	
	{# ###################### Group notifications ###################### #}
        {% elif note.verb == "AddedToGroupNote" %}
        Your were successfully added to the group <a href="{{ note.action_object.get_absolute_url }}" target="_blank">{{ note.action_object.name }}</a>.


        {% elif note.verb == "RemovedFromGroupNote" %}
        You were removed from the group <a href="{{ note.action_object.get_absolute_url }}" target="_blank">{{ note.action_object.name }}</a>.


	{% elif note.verb == "AskToJoinGroupRejectedNote" %}
        <a class="sled-modal-anchor" data-form-url="{{ note.action_object.get_absolute_url }}">Your request</a> to join group <a href="{{ note.data.group_url }}" target="_blank">{{ note.data.group_name }}</a> was rejected.




        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No notifications</p>
{% endif %}

<script>
  $(".sled-modal-anchor").each(function(){
      $(this).click(function(e){e.preventDefault()});
      $(this).modalForm({
	  formURL: $(this).data("form-url"),
	  modalID: "#id-modal"
      });
  });
</script>
