{% block content %}
<div class="content container">
  
  {% if task.status == "P" %}
  <p style="font-weight:bold;color:red">
    Pending
  </p>
  {% else %}
  <p style="font-weight:bold;color:green">
    Completed
  </p>
  {% endif %}

  
  <div class="details">
    <table>
      <tr><td>Task:</td><td>{{ task.task_type }}</td></tr>
      <tr><td>Cargo:</td><td>
	  {{ task.cargo }}
      </td></tr>
      <tr><td>Created at:</td><td>{{ task.created_at }}</td></tr>
      {% if task.status == "P" %}
      <tr><td>Modified at:</td><td>{{ task.modified_at }}</td></tr>
      {% endif %}
      <tr><td>Allowed responses:</td><td>{{ allowed }}</td></tr>
      <tr><td>Sender comment:</td><td>{{ task.cargo.comment }}</td></tr>
    </table>
  </div>

  <div class="heard_from">
    <p>
      Heard from:
    </p>
    {% if hf %}
    <table>
      <thead>
	<tr><th>User name</th><th>Response</th><th>At</th><th>Comment</th><tr>
      </thead>
      {% for response in hf %}
      <tr>
	<td>{{ response.name }}</td>
	<td>{{ response.response }}</td>
	<td>{{ response.created_at }}</td>
	<td>{{ response.response_comment }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Nobody</p>
    {% endif %}
  </div>


  <div class="not_heard_from">
    <p>
      Not heard from:
    </p>
    {% if nhf %}
    <table>
      {% for receiver in nhf %}
      <tr><td>{{ receiver }}</td></tr>
      {% endfor %}
    </table>
    {% else %}
    <p>
      Everybody responded
    </p>
    {% endif %}
  </div>
  
</div>
{% endblock content %}
