{% extends 'master_header.html' %}
{% block content %}

<div>
  <table>
    <thead>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Type</th>
      <th>Description</th>
      <th>Objects</th>
      <th>Level</th>
    </thead>
  {% for note in notes %}
  <tr>
    <td>{{ note.actor }}</td>
    <td>{{ note.recipient }}</td>
    <td>{{ note.data.note_type }}</td>
    <td>{{ note.verb }}</td>
    <td>{{ note.data.object_ids }}</td>
    <td>{{ note.level }}</td>
  </tr>
  {% empty %}
    <tr>
      <td colspan="6">No notifications</td>
    </tr>
  {% endfor %}
  </table>  
</div>
{% endblock content %}
