{% extends 'master_header.html' %}
{% block content %}
<style>
  .notifications td {margin:0px;padding:2px;}
  .tasks td {margin:0px;padding:2px;}
  .collections td {margin:0px;padding:2px;}
</style>


<div class="section">
  <h1>User Profile page</h1>
</div>


<div class="section">
  <h1>My details</h1>
</div>
<div class="content container">
  <table class="sortable">
    <tr>
      <th class="th-center">Name</th>
      <th class="th-center">Affiliation</th>    
    </tr>
    <tr>
      <td class="td-center">{{user.username}}</td>
      <td class="td-center">{{user.affiliation}}</td>
    </tr>
  </table>
</div>



<div class="section">
  <h1>My Groups</h1>
</div>
<div class="content container">
  <table class="sortable">
    <tr>
      <th class="th-center">Name</th>
      <th class="th-center">Description</th>  
    </tr>
    {% for group in user.getGroupsIsMember %}
    <tr>
      <td class="td-center"><a href="{% url 'groups:group_detail' group_name=group.name %}">{{group.name}}</td>
      <td class="td-center">{{group.description}}</td>  
    </tr>
    {% endfor %}
  </table>
</div>



<div class="section">
  <h1>Pending Confirmation Tasks ({{ N_tasks }})</h1>
</div>
<div>
  {% if N_tasks > 0 %}
  <table class="tasks sortable">
    <thead>
      <tr>
	<th>Type</th>
	<th>Created at</th>
	<th>From</th>
	<th>Receivers</th>
      </tr>
    </thead>
    <tbody>
      {% for recipients,task in pending_conf %}
      <tr>
	<td>{{ task.task_type }}</td>
	<td>{{ task.created_at }}</td>
	<td>{{ task.owner }}</td>
	<td>{{ recipients }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No pending confirmation tasks</p>
  {% endif %}
  <a href="{% url 'confirmation:list-tasks' %}">All tasks ({{ N_tasks_all }})</a>
</div>


<div class="section">
  <h1>New Notifications ({{ unread_notifications|length }})</h1>
</div>
<div>
  {% if unread_notifications %}
  <table class="notifications sortable">
    <thead>
      <tr>
	<th>Sender</th>
	<th>Sent at</th>
	<th>Level</th>
	<th>Verb</th>
      </tr>
    </thead>
    <tbody>
      {% for note in unread_notifications %}
      <tr>
	<td>{{ note.actor }}</td>
	<td>{{ note.timestamp }}</td>
	<td>{{ note.level }}</td>
	<td>{{ note.verb }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No new notifications</p>
  {% endif %}
   <a href="{% url 'sled-notifications:list-all' %}">All notifications({{ N_note_all }})</a>
</div>




<div class="section">
  <h1>My Collections ({{ collections|length }}) </h1>
</div>

<div class="content ">
  {% if collections %}
  <table class="collections">
    <thead>
      <tr>
	<th>Name</th>
	<th>Type</th>
	<th>Description</th>
	<th>N. of items</th>
      </tr>
    </thead>
    <tbody>
      {% for collection in collections %}
      <tr>
	<td><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></td>
	<td>{{ collection.item_type }}</td>
	<td>{{ collection.description }}</td>
	<td>{{ collection.myitems.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No collections to display</p>
  {% endif %}
  <a href="{% url 'sled_collections:collections-list' %}">All collections</a>
</div>



<div class="section">
  <h1>My Lenses ({{ lenses|length }}) </h1>
</div>

<div class="content ">
  <form id="ids-form" method="POST">
    {% include "lens_list_executive.html" with lenses=lenses %}
  </form>
</div>

<div class="controls">
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-update' %}">Update lenses</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-make-collection' %}">Make collection</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-give-access' %}">Give access</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-revoke-access' %}">Revoke access</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-make-private' %}">Make private</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-make-public' %}">Make public</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-cede-ownership' %}">Cede ownership</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-delete' %}">Delete lenses</button>
  <button type="submit" form="ids-form" formaction="{% url 'lenses:lens-collage' %}">See collage</button>
</div>


<div>
  <a href="{% url 'logout'%}">LOGOUT</a>
</div>
 
{% endblock content %}
  
