{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}

<div class="jb-container">

  <div class="tasks_recipient">
    <h1 class="jb-heading-1">Tasks Addressed to
      {% if view.kwargs.admin %}
      the Admins
      {% else %}
      Me
      {% endif %}
    </h1>
    {% include 'sled_tasks/task_list_recipient.html' with recipient=recipient admin=view.kwargs.admin %}
  </div>



  
  <div class="tasks_owned">
    <h1 class="jb-heading-1">Tasks Initiated by
      {% if view.kwargs.admin %}
      the Admins
      {% else %}
      Me
      {% endif %}
    </h1>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>Task type</th>
          <th>Created at</th>
          <th>Recipients</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in owner %}
        <tr>
          <td>
	    {% if task.status == "P" %}
	    <span style="font-weight:bold;color:red">
	      {{ task.status }}
	    </span>
	    {% else %}
	    <span style="font-weight:bold;color:green">
	      {{ task.status }}
	    </span>
	    {% endif %}
	  </td>
          <td>{{ task.task_type }}</td>
          <td>{{ task.created_at }}</td>
          <td>{{ task.recipients.all|join:", " }}</td>
	  <td>
	    <button type="button" id="view-task" class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_tasks:tasks-detail-owner' task.id %}">
	      <img src="{% static 'icons/eye-fill.svg' %}" alt="people">
	      View
	    </button>
	  </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No tasks</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  
</div>
{% endblock content %}



{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      // Modals
      $(".sled-modal").each(function() {
          $(this).modalForm({
              formURL: $(this).data("form-url"),
              modalID: "#id-modal"
          });
      });
  });
</script>
{% endblock extrascripts %}
