{% extends "modal_base.html" %}
{% load static %}


{% block title %}
<span class="highlight">{{task.task_type}}</span> -
{% if task.status == "P" %}
<span style="font-weight:bold;color:red">
    Pending
</span>
{% else %}
<span style="font-weight:bold;color:green">
  Completed
</span>
{% endif %}
{% endblock title %}


{% block content %}
{% include "modal_container_wide.html" %}

<div class="jb-container-modal">

  <div class="jb-modal-field jb-table-no-lines">    
    You responded to this task on <strong>{{ responded_at }}</strong> ({{ task.created_at|timesince }} ago) and decided to:

    <ul class="padded">
      {% for ra,dec,choice in responses %}
      {% if choice == 'no' %}
      <li>do nothing for your lens at ({{ra}},{{dec}})</li>
      {% elif choice == 'yes' %}
      <li>treat your lens at ({{ra}},{{dec}}) as a distinct new entry</li>
      {% else %}
      <li>merge your lens at ({{ra}},{{dec}}) with an existing one</li>
      {% endif %}
      {% endfor %}
    </ul>

    <p style="text-align:center;font-weight:bold;color:green">
	You can now safely delete this task.
    </p>
  </div>
</div>  
{% endblock content %}


{% block extrascripts %}
<link href="{% static 'sled_tasks/css/task_detail.css' %}" rel="stylesheet" />
{% endblock extrascripts %}
