{% extends "modal_base.html" %}
{% load static %}
{% load project_tags %}


{% block title %}
<span class="highlight">{{task.task_type}}</span> -
{% if task.status == "P" %}
<span style="font-weight:bold;color:red">
    Pending
</span>
{% else %}
<span style="font-weight:bold;color:green">
  Completed
</span>
{% endif %}
{% endblock title %}


{% block content %}
<div class="jb-container-modal">

  {% if db_response.response %}
  <p>
    <span style="color:green">
      You have responded to this task at: <b>{{ db_response.created_at }}</b>
    </span>
  </p>
  {% endif %}
  
  <div class="jb-modal-field jb-table-no-lines">
    
    {% if task.task_type == 'AcceptNewUser' %}

    <p>
      A new user would like to register. Here are their details:
    </p>
    <table class="summary">
      <tr>
	<td>First name:</td>
	<td>{{ task.owner.first_name }}</td>
      </tr>
      <tr>
	<td>Last name:</td>
	<td>{{ task.owner.last_name }}</td>
      </tr>
      <tr>
	<td>Username:</td>
	<td>{{ task.owner.username }}</td>
      </tr>
      <tr>
	<td>Email:</td>
	<td>{{ task.owner.email|urlize }}</td>
      </tr>
      <tr>
	<td>Affiliation:</td>
	<td>{{ task.owner.affiliation }}</td>
      </tr>
    </table>

    {% elif task.task_type == 'RequestUpdate' %}

    User <strong>{{task.owner}}</strong> requested the following updates to <strong>{{object_type}}</strong> <a href="{{ object.get_absolute_url }}" target="_blank">{{ object }}</a>:
    <br>
    <br>
    
    <div class="jb-modal-field jb-table-no-lines">
      <table>
	<thead>
	  <tr>
	    <th>Field</th>
	    <th>Current</th>
	    <th></th>
	    <th>Requested</th>
	  </tr>
	</thead>
	<tbody>
	{% for name,current,proposed in fields %}
	<tr>
	  <td><i>{{ name }}</i></td>
	  <td>{{ current }}</td>
	  <td>&rarr;</td>
	  <td><strong>{{ proposed }}<strong></td>
	</tr>
	{% endfor %}
	{% if image_field %}
	<tr>
	  <td><i>{{ image_field }}</i></td>
	  <td><img class="sled-mugshot-icon" src="{{current_image}}" alt="official image"></td>
 	  <td>&rarr;</td>
	  <td><img class="sled-mugshot-icon" src="{{proposed_image}}" alt="{{proposed_image|split:'/'|last}}"></td>
	</tr>
	{% endif %}
	</tbody>
      </table>
    </div>
    
    
    {% else %}

    {% if task.task_type != "InspectImages" %}
    User <strong>{{task.owner.username}}</strong> is saying:
    <div class="original-message">
      <span style="text-align:center;font-style:italic;">
	&ldquo;{{ comment }}&rdquo;
      </span>
    </div>
    {% endif %}
    
    <p>
      {% if task.task_type == "CedeOwnership" %}
      and would like to cede the ownership of the following <strong>{{object_type}}</strong> to you:
      {% elif task.task_type == "MakePrivate" %}
      and would like to make the following <strong>{{object_type}}</strong> private:
      {% elif task.task_type == "AskToJoinGroup" %}
      and would like to join the following <strong>{{object_type}}</strong>:
      {% elif task.task_type == "DeleteObject" %}
      and would like to delete the following <strong>{{object_type}}</strong>:
      {% elif task.task_type == "AskPrivateAccess" %}
      and would like to access the following <strong>{{object_type}}</strong>:
      {% elif task.task_type == "InspectImages" %}
      User <strong>{{task.owner.username}}</strong> requires you to inspect the following <strong>{{object_type}}</strong>:
      {% endif %}
    </p>
    
    <div class="jb-modal-field jb-table-no-lines">
      <table>
	{% for obj in objects %}
	<tr>
	  <td class="padded">
	    <a href="{{ obj.get_absolute_url }}" target="_blank">{{ obj }}</a>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
    
    {% endif %}
  </div>
  
  <p>
    {% if task.task_type == "AcceptNewUser" %}
    Do you accept this new user in SLED?
    {% elif task.task_type == "CedeOwnership" %}
    Would you like to accept or refuse taking up the ownership?
    {% elif task.task_type == "MakePrivate" %}
    Do you authorize this action?
    {% elif task.task_type == "AskToJoinGroup" %}
    Would you like to accept this user as a group member?
    {% elif task.task_type == "DeleteObject" %}
    Do you approve deleting {{objects|pluralize:"this,these"}} <strong>{{object_type}}</strong>?
    {% elif task.task_type == "AskPrivateAccess" %}
    Do you accept?
    {% elif task.task_type == "RequestUpdate" %}
    Do you accept?
    {% endif %}
  </p>
  
  <input type="hidden" name="task_id" value="{{ task.id }}">
  
  <div class="padded">
    {{ form.response }}
  </div>

   <div class="invalid jb-modal-field">
    <ul>
      {% for error in form.response_comment.errors %}
      <li>{{ error|safe }}</li>
      {% endfor %}
    </ul>
   </div>
   <div class="jb-modal-field padded">
    {{ form.response_comment }}
  </div>

</div>
{% endblock content %}


{% block action_button %}
{% if task.status == 'P' %}
<button type="submit" class="jb-submit-button-1">Respond</button>
{% endif %}
{% endblock action_button %}


{% block extrascripts %}
<link href="{% static 'sled_tasks/css/task_detail.css' %}" rel="stylesheet" />
{% endblock extrascripts %}
