{% extends "modal_base.html" %}
{% load static %}
{% load project_tags %}


{% block title %}
<span class="highlight">{{task.task_type}}</span> -
{% if task.status == "P" %}
<span class="jb-bold jb-color-red">
  Pending
</span>
{% else %}
<span class="jb-bold jb-color-green">
  Completed
</span>
{% endif %}
{% endblock title %}


{% block content %}
{% include "modal_container_wide.html" %}

<div class="jb-container-modal">
  
  <div class="jb-modal-field jb-table-no-lines">    
    On <strong>{{ task.created_at }}</strong> ({{ task.created_at|timesince }} ago) user <strong>{{task.owner}}</strong> submitted the following <strong>{{object_type}}</strong>.
    <br>
    <br>
    
    {% if task.status == "P" %}

    Inspector <strong>{{ task.recipients.all|join:"," }}</strong> <span class="jb-color-red">has not responded yet</span></td></tr>
    
    {% else %}
    
    On <strong>{{response.created_at}}</strong> ({{ response.created_at|timesince }} ago) user <strong>{{ task.recipients.all|join:"," }}</strong> responded with:
    <div class="original-message">
      {% if actual_response.response == 'All' %}
      <span class="jb-bold jb-color-green">
	All images are accepted
      </span>
      {% elif actual_response.response == 'Partial' %}
      <span class="jb-bold jb-color-red">
	Some of the images are rejected
      </span>
      {% else %}
      <span class="jb-bold jb-color-red">
	None of the images is accepted
      </span>
      {% endif %}
      
      {% if actual_response.response_comment %}
      <span class="align-center jb-italic">
	- &ldquo;{{ actual_response.response_comment }}&rdquo;
      </span>
      {% endif %}
    </div>
    
    {% endif %}


    
    <div>
      <table class="inspect-table">
	{% if task.status == "C" and actual_response.response == 'Partial' %}
	
	{% for obj,message in objects %}
	<tr>
	  {% if message == '' %}
	  <td><img src="{% static 'icons/check-circle-fill.svg' %}" class="filter-success2 jb-alert-icon"></td>
	  {% else %}
	  <td><img src="{% static 'icons/x-circle-fill.svg' %}" class="filter-error2 jb-alert-icon"></td>
	  {% endif %}
	  <td><a href="{{ obj.get_absolute_url }}" target="_blank">{{ obj }}</a></td>
	  {% if message != '' %}
	  <td>
	    <span class="align-center jb-italic">
	      - &nbsp; &nbsp;  &ldquo;{{ message }}&rdquo;
	    </span>
	  </td>
	  {% else %}
	  <td></td>
	  {% endif %}
	</tr>
	{% endfor %}

	{% else %}

	{% for obj in objects %}
	<tr><td><a href="{{ obj.get_absolute_url }}" target="_blank">{{ obj }}</a></td></tr>
	{% endfor %}
	
	{% endif %}
      </table>
    </div>
    
  </div>

</div>  
{% endblock content %}

