{% extends 'master_header.html' %}
{% load static %}

{% block content %}
{% include "modal_container.html" %}
<div class="jb-container">
  
  <h1 class="jb-heading-1">Inspect Images</h1>
  <p>
    User <strong>{{task.owner.username}}</strong> has submitted the following <strong>{{ task.cargo.object_type }}</strong> for inspection:
  </p>
  
  
  <form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {{ final_form.non_field_errors }}
    
    <br>
    <br>

    <div class="parent">

      {% for form in formset %}
      <div class="inspect-image">
	{{ form.non_field_errors }}

	<div class="imaging-item">
	  {{ form.obj_id }}
	  {{ form.name }}
	  {{ form.image_url }}
	  <div class="mycheckbox">
	    Reject? {{ form.rejected }}
	  </div>
	  <div class="header">
	    {{ form.name.value }}
	  </div>
	  <img src="{{ form.image_url.value }}" width="170" height="170">
	  <div>
	    {{ form.comment.errors }}
	    {{ form.comment }}
	  </div>
	</div>
      </div>
      {% endfor %}
      
    </div>
    

    <br>
    <br>


    
    <div class="response">
      <div>
	{{ final_form.response.errors }}
	{{ final_form.response }}
      </div>
      
      <div class="jb-modal-field">
	{{ final_form.response_comment.errors }}
	{{ final_form.response_comment }}
      </div>
      
      <button id="mysubmit" type="submit" class="jb-submit-button-1">
	Respond
      </button>
    </div>
  </form>
  
  
  
  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'sled_tasks/css/task_inspect_detail.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script type="text/javascript" src="{% static 'sled_tasks/js/task_inspect_detail.js' %}"></script>
{% endblock extrascripts %}
