{% extends "modal_base.html" %}
{% load static %}
{% load project_tags %}


{% block title %}
<span class="highlight">{{task.task_type}}</span> -
{% if task.status == "P" %}
<span style="font-weight:bold;color:red">
  Pending
</span>
{% else %}
<span style="font-weight:bold;color:green">
  Completed
</span>
{% endif %}
{% endblock title %}


{% block content %}
{% include "modal_container_wide.html" %}

<div class="jb-container-modal">
  
  <div class="jb-modal-field jb-table-no-lines">    
    On <strong>{{ task.created_at }}</strong> ({{ task.created_at|timesince }} ago) user <strong>{{task.owner}}</strong> submitted the following <strong>{{object_type}}</strong> to user <strong>{{ task.recipients.all|join:"," }}</strong> for inspection:
    
    <div class="jb-modal-field jb-table-no-lines">
      <table>
	{% for obj in objects %}
	<tr>
	  <td class="padded">
	    <a href="{{ obj.get_absolute_url }}" target="_blank">{{ obj }}</a>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>    
  </div>

  <div class="jb-modal-field jb-table-no-lines">
    <table class="responses">
      {% for response in responses %}
      {% if response.response != '' %}
      <tr><td>&bull; <strong>{{ response.name }}</strong> responded on <strong>{{response.created_at}}</strong> ({{ response.created_at|timesince }} ago) with:</td></tr>
      <tr><td class="padded">
	  {{ response.response|upper }} - 
	  <span style="text-align:right;font-style:italic;">
	    &ldquo;{{ response.response_comment }}&rdquo;
	  </span>
      </td></tr>
      {% else %}
      <tr><td>&bull; <strong>{{ response.name }}</strong> <span style="color:red">has not responded yet</span></td></tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>

  
</div>  
{% endblock content %}


{% block extrascripts %}
<link href="{% static 'sled_tasks/css/task_detail.css' %}" rel="stylesheet" />
{% endblock extrascripts %}
