{% extends "master_header.html" %}
{% load static %}
{% load project_tags %}

{% block content %}
<div class="jb-container">

  <h1 class="jb-heading-1">{{ lens_model.name }} - <a href="{{lens_model.lens.get_absolute_url}}">{{lens_model.lens}}</a></h1>
  <p class="created-at">
    Created at: {{ lens_model.created_at }}
  </p>

  <!-- Div with some information about the collection -->
  <div>
    <h1 class="jb-heading-2">Model Information</h1>
    <table class="jb-table-no-lines">
      <tr>
        <th>Owner</th>
        <th>Access level</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>{{ lens_model.owner.id|get_user_link|safe }}</td>
        <td>{{ lens_model.access_level }}</td>
        <td>{{ lens_model.description }}</td>
      </tr>
    </table>

    <table class="profiles jb-table-no-lines">
      <tr>
        <th>Mass profiles:</th>
        <td>{{ lens_model.lens_mass_model|join:" , " }}</td>
      </tr>
      <tr>
        <th>Lens light profiles:</th>
	<td>{{ lens_model.lens_light_model|join:" , "|default:"-" }}</td>
      </tr>
      <tr>
        <th>Source light profiles:</th>
        <td>{{ lens_model.source_light_model|join:" , " }}</td>
      </tr>
    </table>
    <p class="see-doc">
      See the COOLEST documentation for the definitions of the <a href="https://coolest.readthedocs.io/en/latest/models/mass.html">mass</a> and <a href="https://coolest.readthedocs.io/en/latest/models/light.html">light</a> profiles.
    </p>
  </div>

  <form id="myform" action="{% url 'sled_lens_models:lens-model-download' %}" method="GET">
    <input name="lens_model_id" type="hidden" value="{{lens_model.id}}">
  </form>
  <button type="button" id="download" class="jb-submit-button-1" >
    <img src="{% static 'icons/arrow-down-circle-fill.svg' %}">
    Download
  </button>
  
  <div>
    <img class="dmr_plot" src="{{ dmr_plot_url }}" alt="DMR Plot" />
  </div>

  <div>
    <img class="corner_plot" src="{{ corner_plot_url }}" alt="Corner Plot" />
  </div>
  
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'sled_lens_models/css/lens_model_detail.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script type="text/javascript" src="{% static 'sled_lens_models/js/lens_model_detail.js' %}"></script>
{% endblock extrascripts %}
