{% extends "master_header.html" %}
{% load project_tags %}

{% block content %}
<div class="jb-container jb-table-no-lines">

  <h2>
    Temporary detail page for a Lens Model
  </h2>

  
  <table>
    <tr><td>Owned by:</td><td>{{ lens_model.owner.id|get_user_link|safe }}</td></tr>
    <tr><td>Name:</td><td>{{ lens_model.name }}</td></tr>
    <tr><td>Access level:</td><td>{{ lens_model.access_level }}</td></tr>
    <tr><td>Date created:</td><td>{{ lens_model.date_created }}</td></tr>
    <tr><td>Description:</td><td>{{ lens_model.description|default:"-" }}</td></tr>
  </table>


</div>
{% endblock content %}
