{% extends 'master_header.html' %}
{% load static %}



{% block content %}
{% include "modal_container.html" %}

<div class="jb-container">

  <div>
    <p class="jb-heading-paper-title"> "{{ paper.title }}" </p>
    <p style="font-size:30px;"> <a href="{{ paper.get_ads_url }}">{{ paper.cite_as }}</a> </p>
    <p> Created at {{ paper.created_at }} by <a href="{{ paper.owner.get_absolute_url }}">{{paper.owner}}</a></p>
    <button type="button" id="export-csv" disabled class="sled-modal jb-submit-button-1" data-form-url="{% url 'sled_papers:export-csv' paper.pk %}">
      <img src="{% static 'icons/cloud-arrow-down-fill.svg' %}">
      Export to csv
    </button>
    <p> Contains the following <b>{{ Nlenses }}</b> lenses: </p>
  </div>

  {% include "lenses/lens_list_paper.html" with pairs=pairs  %}

  <div>
    {% if user == paper.owner %}
    <button type="button" id="delete-paper" class="jb-submit-button-1" data-form-url="{% url 'sled_papers:paper-delete' paper.pk %}">
      <img src="{% static 'icons/trash.svg' %}">
      Delete
    </button>
    {% endif %}
  </div>

  
</div>
{% endblock content %}


{% block extrastyles %}
{% endblock extrastyles %}


{% block extrascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {

    // Modals
    $('#delete-paper').modalForm({
      formURL: $('#delete-paper').data("form-url"),
      modalID: "#id-modal",
      isDeleteForm: true
    });

    $(".sled-modal").each(function() {
	$(this).modalForm({
            formURL: $(this).data("form-url"),
            modalID: "#id-modal"
	});
    });
      
  });
</script>
{% endblock extrascripts %}
