{% extends 'master_header.html' %}
{% load static %}



{% block content %}
<div class="jb-container">

  <h1 class="jb-heading-1">Search Papers</h1>

  <form method="POST">
    {% csrf_token %}
    
    {% if form.non_field_errors|length > 0 %}
    <div class="invalid jb-modal-field">
      <ul>
	{% for error in form.non_field_errors %}
	<li>{{ error }}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}
    
    <p>
      {{ form.search_term }}
      {{ form.year_min }}
      &leq; Pub. year &leq;
      {{ form.year_max }}
      <input id="mysubmit" type="submit" value="Search">
    </p>

    {{ form.page }}
  </form>

  {% if papers %}

  {% include "pagination_top.html" with qset=papers request=request qset_range=papers_range qset_total=N_papers_total %}

  <div>
    <table class="jb-table jb-paper-table">
      <thead>
	<tr>
          <th>Author(s)</th>
          <th>Title</th>
          <th class="number-of-systems">Number of Systems</th>
	</tr>
      </thead>
      <tbody>
	{% for paper in papers %}
	<tr>
          <td class="no-wrap"><a href="{{ paper.get_absolute_url }}">{{paper.cite_as}}</td>
          <td><i>"{{ paper.title }}"</i></td>
          <td>{{ paper.lenses_in_paper.all|length }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>

  {% include "pagination_bottom.html" with qset=papers request=request qset_range=papers_range qset_total=N_papers_total %}

  {% else %}
  <p>
    No papers to show
  </p>
  {% endif %}
</div>
{% endblock content %}


{% block extrastyles %}
<link href="{% static 'sled_papers/css/paper_query.css' %}" rel="stylesheet" />
{% endblock extrastyles %}


{% block extrascripts %}
<script type="text/javascript" src="{% static 'sled_papers/js/paper_query.js' %}"></script>
{% endblock extrascripts %}
