{% extends "modal_base.html" %}


{% block title %}
Quick search for paper
{% endblock title %}


{% block content %}
<div class="jb-container-modal">
  <input type="hidden" id="Urlpapers" data-url="{% url 'api:papers-view' %}" />
  
  <div class="jb-modal-field">
    <select id="id_paper"></select>
  </div>

  <div id="link" class="jb-modal-field">
  </div> 

  <p>
    If the paper you are looking for does not exist in the database, you can follow the instructions on how to add it <a href="">here</a>.
  </p>
</div>
{% endblock content %}

