{% extends 'master_header.html' %}
{% load static %}

{% block extrastyles %}
{% endblock extrastyles %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block content %}

<div class="jb-sign-up-wrap jb-container">
  <div class="jb-form">

    <form id="email-form" class="jb-form-1" method="post" action="">
      <img src="{% static 'images/JB_Login_SLED-Logo.png' %}" loading="lazy" width="40" alt="" class="jb-image-1">
      {% csrf_token %}
      <!--{{ form.as_p }} -->
      {{ form.non_field_errors }}
      <div class="jb-form">

        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}

      </div>
      <div class="jb-form">

        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>

      <td>
	<div style="text-align:center">
	  <input type="submit" value="Login" data-wait="Please wait..." class="jb-submit-button-1 w-button">
	</div>
	<br>
	<div style="text-align:center">
	  New? Register <a href="{% url 'register' %}">here</a>.
	</div>
      </td>
    </form>


    <!-- {{ form.username.label }}{{ form.username }} -->
    <!-- {{ form.as_p }}
      <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-2"><img src="{% static 'images/0SLED_Logo-Login.png' %}" loading="lazy" width="40" alt="" class="image-7">
        {% csrf_token %}
        <label for="name" class="field-label">Username</label>
        <input type="text" class="text-field w-input" maxlength="256" name="username" data-name="Username" placeholder="" id="username">
        <label for="password" class="field-label-2">Password</label>
        <input type="password" class="text-field-2 w-input" maxlength="256" name="password" data-name="Password" placeholder="" id="password" required="">
        <input type="submit" value="Login" data-wait="Please wait..." class="submit-button-2 w-button">

        <p class="paragraph-2">New? Register <a href="{% url 'register' %}" class="link">here</a>.</p>
      </form>
      <div class="success-message w-form-done">
        <div class="text-block">Thank you! You&#x27;ve now registered for SLED.</div>
      </div>
      <div class="error-message w-form-fail">
        <div class="text-block-2">Oops! Something went wrong while submitting the form.</div>
      </div>-->
  </div>
</div>

<script type="text/javascript">
  $('form').each(function() {
    if (!$(this).is('[action]')) {
      $(this).attr('action', '/');
    }
  });
  // $('#id_username').addClass('text-field',"w-input").attr({"data-name":'Name'});
</script>


{% endblock content %}
