.imaging-item {
    float:left;
    margin: 0px 10px;
}

.imaging-item .container {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.imaging-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    color: white;
}

.container:hover .overlay {
    opacity: 1.0;
}

.jb-catalogue-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.catalogue-floater {
    float:left;
    margin-right:40px;
}

.catalogue-floater th {
    text-align:center;
}

.catalogue-floater td {
    padding:2px 5px;
}


.lens-summary {
    text-align: left;
}
.lens-summary td {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 0px solid #ACACAC;
}
.lens-summary td:first-child {
    width: 200px;
    color: #ACACAC;
}

.created-at {
    margin-bottom: 2px;
}

.margin-left {
    margin-left: 10px;
}

.no-wrap {
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.padding-right {
    padding-right: 10px;
}

.catalogue-div {
    width: 75%;
    margin: auto;
}
			     
.catalogue-td {
    padding-right: 60px;
}

.align-center {
    text-align: center;
}

.message-banner {
    border-radius: 0;
    display: none;
}
