.instructions {
    padding-top: 20px;
    padding-bottom: 20px;
}



.data-form {
    height: 450px;
    padding-top: 25px;
}

.data-form-table > tbody > tr > td:nth-child(2) {
    text-align:right;
    padding-right: 20px;
}

.data-form-table > tbody > tr > td:nth-child(3) {
    text-align:left;
    padding-right: 20px;
    width: 150px;
}

.data-form-table > tbody > tr > td:nth-child(4) {
    text-align:left;
    padding-right: 20px;
}





 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0px 6px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: #ccc999;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
} 



.sled-lens-table {
    table-layout: fixed;
    width: 100%;
}

.sled-lens-table > tbody > tr > td:nth-child(1) {
    width: 350px;
    padding-right:40px;
}
.sled-lens-table > tbody > tr > td:nth-child(2) {
    width: 350px;
    padding-left:40px;
}

.sled-cone-box {
    width: 380px;
}

.taba {
  height: 130px;
  width: 350px;
}
